[2019-08-26 17:39] #96 closed, assigned to fgeyer16, patrickkaleta

[2019-08-26 17:45] fgeyer16 commented on #16
As far as I can see the credentials are part of the local profile. If they are always the same enter them as default value in the local User profile. Then on creation of a new user this user will have them without copying them manually. As long as they are only used by the csis I would leave them in the local profile.

What uses the credentials? PHP code js code or both?

As an alternative for sto

[2019-08-26 18:45] DenoBeno commented on #96
Ah, btw. don't worry about not having all the apps/widgets working yet. This can be fixed manually later (for a few studies).

[2019-08-27 05:34] p-a-s-c-a-l commented on #16
We need it in both! I've just noticed that this information is not available in profile.myclimateservices.eu profiles. But it needs to be there, unless we find a better solution.

None of them. They are exposed via the JSON API and used by external web applications. So this is  just a hacky intermediate solution.

ATM it doesn't look like that will be the case.

Anyway, we'll keep it as it is. The

[2019-08-27 14:20] LenaStr opened #103 "Jorge Amorim can not login to the system"
Jorge can not login to CSIS. It seems to be the same problem that Anna had before, thet the e-mail has been used in a previous version of the account.

It did not hel that I changed the password.

Username: jorge.amorim
E-mail: jorge.amorim@smhi.se

[2019-08-28 08:42] DenoBeno opened #104 "CSIS server compromised"
Heinrich just called me to say that csis was compromised and removed from the network by our sysadmins.
Jan is not in the office. What can we do about this now?

[2019-08-28 17:38] fgeyer16 opened #105 "Csis is sending a lot of mails"

[2019-08-29 05:10] p-a-s-c-a-l opened #106 "Module Manger broken since 2014"
Just in case you may wonder why it's not possible to disable a module despite there is a greyed-out checkbox which pretends to offer this functionality:  [Why can't I uninstall modules in Drupal 8? (Explained)](https://www.drupal.org/forum/support/upgrading-drupal/2014-03-24/why-cant-i-uninstall-modules-in-drupal-8-explained)

[2019-08-29 05:10] #106 closed, assigned to nobody

[2019-08-29 05:27] p-a-s-c-a-l commented on #105
Installed the Maillog Module, but apparently it does nothing as mentioned [here]( https://www.drupal.org/project/maillog/issues/1396316). Tried to *disable* it, but that's a feature that seems to be [intentionally broken](https://github.com/clarity-h2020/docker-drupal/issues/106).  So we have to uninstall it unless somebody knows how to make this module work.  I tried to find [Mail Logger](https:/

[2019-08-29 05:28] p-a-s-c-a-l commented on #103
@fgeyer16 Did you look into this?

[2019-08-29 17:03] fgeyer16 commented on #103
Yes I am on it.

[2019-09-02 09:52] patrickkaleta commented on #97
@LenaStr do you know if Anna is still experiencing any problems with the login? Can we close this issue?

[2019-09-02 10:02] fgeyer16 commented on #97
Anna manages to login now.
 so closing

[2019-09-02 10:02] #97 closed, assigned to fgeyer16, patrickkaleta

[2019-09-02 10:14] patrickkaleta commented on #99
[ That's](https://github.com/clarity-h2020/csis/issues/81#event-2577564511) the issue Denis is talking about. I'm working on that now and during that process I will hide the Scenario Analysis tab.

[2019-09-02 11:05] patrickkaleta commented on #105
When it comes to contributed modules, one thing Drupal taught me was to always first scroll down to check for which versions this module is available. Turns out the Mail Logger was only developed for Drupal 7. Migrating it to Drupal 8 doesn't seem likely (at least from the look of its info-page).
![modules-availability](https://user-images.githubusercontent.com/42167036/64110396-4e9f0e00-cd82-11e9

[2019-09-02 11:55] DenoBeno opened #107 "Deleting a variable caused havoc, please re-install the last backup version."
I tried to remove the "field_calculation_type" from the study taxonomy, but this field wasn't cleanly removed and now the site is complaining about various errors. And this in spite of the field not being used - I added it one hour ago, it wasn't used in any views and I and assured that no data is stored in it before attempting to delete it. :-(

E.g.
https://csis.myclimateservice.eu/admin/structu

[2019-09-02 12:14] p-a-s-c-a-l commented on #107
OK, I'll restored the db from last duplicity backup (today 7:45)

[code]

[2019-09-02 12:41] fgeyer16 commented on #103
Jorge can log in now closing

[2019-09-02 13:13] p-a-s-c-a-l commented on #107
For the future, please first try out such "breaking" changes in a local instance of the system (Patrick can help you how to set one up).

[2019-09-02 14:02] DenoBeno commented on #107
Thanks. I've posted a bug report on drupal.org, this is really annoying. :-(

[2019-09-02 14:02] #107 closed, assigned to p-a-s-c-a-l, fgeyer16

[2019-09-02 21:42] DenoBeno commented on #84
This was fixed, closing.

[2019-09-02 21:42] #84 closed, assigned to DanielRodera, claudiahahn

[2019-09-03 10:45] humerh commented on #92
If some changes the Study area, CSIS has to trigger a general "forceRecalculation" on the Emikat side.

[2019-09-03 11:03] p-a-s-c-a-l commented on #92
ATM we cannot implement this feature in the StudyAreaMap. See https://github.com/clarity-h2020/map-component/issues/52 for the reasons.

So if this is **really** required, the trigger has to be implemented in Drupal.

[2019-09-03 12:21] DenoBeno opened #108 "Should we add a cron job to clean cache?"
I just had another "BR not working" moment. This is annoying, recurring issue and I have no idea what causes it. However, a workaround is known & simple: _clean the cache_.

My proposal is to add a cron job that will do this let's say once per hour and leave it that way until further notice. This will not noticeably affect the normal working of the site and we'll have one thing less to worry about

[2019-09-03 14:43] fgeyer16 commented on #108
I think we can try it. But it is "not good practice" in the meaning of Drupal and page speed. Not so important yet in development but maybe somewhen later. When do you encounter this moments? WHen you are workingon some rules or "just sometimes in the wild"?

[2019-09-03 14:55] p-a-s-c-a-l commented on #108
Please keep in mind: Drupal runs in a docker container, so you have to execute

[code]

[2019-09-03 16:14] DenoBeno commented on #108
@fgeyer16 : it's somewhat random. Today, I tried to change a group type and noticed that I didn't get a different set of templates. Then I realised that rule isn't working, cleared the cache and it worked again. I'm pretty much clueless here.

[2019-09-03 16:14] DenoBeno commented on #108
Maybe cleaning once per day would be enough. I just don't want this kind of creepy items to persist for days...

[2019-09-03 16:21] DenoBeno opened #109 "/app/web/sites/default/files ownership and permissions"
Please see https://csis.myclimateservice.eu/admin/config/media/image-styles/manage/geofield_map_default_icon_style

It's not working, no idea why.

https://csis.myclimateservice.eu/admin/config/media/image-styles/manage/icon_for_a_map_ works, so it's not critical, but this has worked before. I suspect that something might have changed in permissions, because I also see this in the log:

![image](h

[2019-09-03 21:39] DenoBeno commented on #92
The re-calculation triggering already works.
Whenever a study area or a data package changes, EMIKAT calculates again...

This has been implemented long ago by Patrick, just not clearly communicated.

What should be done is to avoid triggering the re-calculation if "expert" study types are used. Not very high priority, but it's a waste of resources on EMIKAT side.

[2019-09-04 08:19] p-a-s-c-a-l commented on #103
Not working again, either via https://csis.myclimateservice.eu/ OR https://profile.myclimateservices.eu/
Jorge is always redirected to https://csis.myclimateservice.eu/user/login and cannot log in.

System Log message:

![grafik](https://user-images.githubusercontent.com/1788226/64237736-3dc6d780-cefd-11e9-9c5d-6606a0ce8afa.png)

Those failed login attempts are probably related to https://github.c

[2019-09-04 08:26] p-a-s-c-a-l commented on #105
![grafik](https://user-images.githubusercontent.com/1788226/64238280-6ef3d780-cefe-11e9-8f3d-0807649fb83d.png)

[2019-09-04 08:33] p-a-s-c-a-l commented on #105
SMTP Module activated itself (?) again. We need to suppress such mails.

[2019-09-04 08:44] patrickkaleta commented on #105
A module activating itself would be very strange behavior. It wasn't activated by me or Denis. @fgeyer16 did you maybe (accidentally) activate this module for testing purposes or such?

I will try to completely remove this [SMTP Authentification support module](https://www.drupal.org/project/smtp) from my local instance and check if there are any unwanted side effects.

In addition I [found](https

[2019-09-04 08:48] p-a-s-c-a-l commented on #105
Maybe is was silently activated by Maillog? See https://www.drupal.org/project/maillog/issues/1396316#comment-7934795 Therefore Maillog should be removed, too.

[2019-09-04 09:12] patrickkaleta commented on #105
Locally removing SMTP and Maillog modules didn't break my system.

**Procedure:**
1) disabled the modules on the Extend page in the BE (already done on the CSIS)
2) cleared the cache
3) removed the 2 module folders from within the docker container
4) cleared cache again

@fgeyer16 shall I proceed with this on the CSIS server or do you have concerns with this method?

[2019-09-04 09:16] p-a-s-c-a-l commented on #99
If I want to replace map components (Extended iFrame) in e.g. all [Characterize Hazard](https://csis.myclimateservice.eu/admin/content?title=Characterize+Hazard&type=gl_step&status=All&langcode=All) steps, how can this be done?

[2019-09-04 09:29] p-a-s-c-a-l commented on #99
We should remove the following steps from all study templates, since we there's ATM nothing to show there:
 -  Analyze vulnerability step See https://github.com/clarity-h2020/csis/issues/16#issuecomment-507636499
-  Appraise Adaptation Options
- Implement/Integrate Adaptation Action Plan

[2019-09-04 12:40] p-a-s-c-a-l commented on #47
Any news on that? See also the related issue: https://github.com/clarity-h2020/clarity-theme/issues/7

[2019-09-04 13:18] fgeyer16 commented on #105
this should be done by `composer remove drupal/package_name` otherwise the modules will be installed again on next composer update.

Or the lien has to be deleted manually in the composer.json and composer.lock files.

[2019-09-04 13:46] fgeyer16 commented on #103
The cause seems to be the restoring of csis from backup Monday afternoon. With that soe cahnegs in Jorges profile I did were undone as well.
Waiting for Jorge ś confirmation that he can login again

[2019-09-04 13:59] fgeyer16 commented on #105
I thought I switched it off after I tested something last week, but it seems I did not. Sorry.
If we remove the smtp-module no mail should go out because, as @p-a-s-c-a-l  already mentioned on other place the docker container does not have any MTA which can send a mail.

[2019-09-04 14:05] fgeyer16 commented on #103
Jorge can login again so closing again.

[2019-09-04 14:05] #103 closed, assigned to DenoBeno, LenaStr, fgeyer16, patrickkaleta

[2019-09-04 16:41] DenoBeno commented on #99
in all the existing ones? Either by a rule or with a bulk edit.

On Wed, 4 Sep 2019, 11:29 Pascal Dihé, <notifications@github.com> wrote:

[2019-09-04 16:48] DenoBeno commented on #109
It's worse than I thought. Today I tried to take a screenshot - saving failed, probably a permission issue again.

[2019-09-05 06:01] p-a-s-c-a-l commented on #99
is bulk edit installed? where do it find it?

[2019-09-05 10:08] patrickkaleta commented on #109
Just sat down with Denis for quite a bit and checked the permissions of the files folder (`/app/web/sites/default/files`) and noticed that the permissions are not uniformly set (most files/folders belong to `docker`, a few belong to `www-data`, some folders have **write-permission for all**), which is mostprobably the reason for this problem:
![files-folder-permissions](https://user-images.githubu

[2019-09-05 10:13] patrickkaleta commented on #109
This is now fixed after the changes described above. But I wouldn't close this issue yet, since I don't think that we are done with fixing the permission settings for the `files` folder.

[2019-09-05 10:24] DenoBeno commented on #99
OK, I'm removing these steps from all templates.

[2019-09-05 10:27] DenoBeno commented on #99
I'm a bit confused by https://csis.myclimateservice.eu/taxonomy/term/2221

Expert studies can in principle have any steps they want to add to the data package. Except the "local effects", makes no sense to have that in the expert mode.

[2019-09-05 11:35] p-a-s-c-a-l commented on #99
Yes, some steps are missing here.

[2019-09-05 11:36] p-a-s-c-a-l commented on #99
is bulk edit installed? where do it find it?

[2019-09-05 12:46] DenoBeno commented on #83
To the best of my knowledge, adding new studies and changing the study type works as designed now.

[2019-09-05 13:30] DenoBeno commented on #99
This way.

0. Be careful. With great power...
1. Go here: https://csis.myclimateservice.eu/maintenance/gl-steps
2. Carefully filter the nodes you need. E.g. I'm doing this with the test template only now.

![grafik](https://user-images.githubusercontent.com/2961790/64345910-747e1a00-cff1-11e9-9d17-230217c1a584.png)

3. choose the ones you really want to edit ("2" on illustration above), then click

[2019-09-06 09:08] patrickkaleta commented on #105
@fgeyer16 I don't think this was your fault. I was just about to finally remove the two modules, when I noticed that the **SMTP module was active again**. Definitely strange behavior, but now those two modules are gone for good :-)

Also thanks for the hint with the `composer remove` command. We definitely don't want these modules to come back after the next update!

Closing this, because Drupal s

[2019-09-06 09:11] bullz commented on #47
I am working on it.
By the way. Is there any way to change names like this one:
"**HI_tropical-nights_rcp85_20110101-20401231_ensstd** "
to something **shorter**, or with **spaces** at least. because long names are very restricting for display options

[2019-09-06 09:26] p-a-s-c-a-l commented on #47
Thanks. We had this discussion with layer names and field_title vs. field_name (now ckan_id) in data package resource. But I don't remember what the conclusion was and how the title should be formatted. @DenoBeno @maesbri any suggestions?

[2019-09-06 09:42] patrickkaleta commented on #47
And that's probably not even the worst title in our system. Looking at the page for [Study 1](https://csis.myclimateservice.eu/study/1/step/2/view/data), I doubt that this page can be improved with CSS only, so we need to do something with those names.

The Drupal-default title is was can be seen on the page now. `field_title` is currently not used anymore and supposed to be removed at some point.

[2019-09-06 09:55] RobAndGo commented on #47
As a quick suggestion, one could modify the periods from:
- 20110101-20401231 to 2011-2040
- 20410101-20701231 to 2041-2070
- 20710101-21001231 to 2071-2100

One could also change:
- "_ensmean" to "_mean",
- "_ensstd" to "_std"
with the knowledge that these are referring to the mean and standard deviation over multiple models.

[2019-09-06 10:03] patrickkaleta commented on #47
Thanks @RobAndGo , seems good to me. I would've guessed the meaning of "std" and "mean", but from what I saw it's also always described in the resource description. Probably another great help (for @bullz and all the users) would be to use spaces instead of underscores. @maesbri would that be possible or would this be in violation of the specifications?

[2019-09-06 10:55] maesbri commented on #47
No problem with that as in drupal we are not using the "name" property anymore (if I recall correctly), only the "title", which is text free.
With respect to the suggested changes, in fact we were requested to provide some more human-readable titles for the resources. I already did it some days ago for the Tx75p hazard indices.

[2019-09-06 12:30] DenoBeno opened #110 "Best practice for maintaining the sanity in group nodes"
I have implemented a view for bulk-editing the GL-step nodes: https://csis.myclimateservice.eu/maintenance/gl-steps

Thanks to the filters, it's possible to easily choose the nodes one needs to edit and the "modify field values" allows the administrator to set a value of some fields for a large number of nodes at once.

Example: I have recently finished the development of the adaptation options ta

[2019-09-06 12:30] #110 closed, assigned to nobody

[2019-09-06 12:42] p-a-s-c-a-l commented on #83
I created a [new study](https://csis.myclimateservice.eu/group/28) of type [Basic Screening: General ](https://csis.myclimateservice.eu/taxonomy/study-type/basic-screening) by following the [create new study link](https://csis.myclimateservice.eu/group/add/study). The result is a study group without navigation tabs:

![grafik](https://user-images.githubusercontent.com/1788226/64428618-7a88ff00-d0b

[2019-09-06 16:19] DenoBeno commented on #89
can this be closed?

[2019-09-06 16:25] DenoBeno commented on #109
@fgeyer16 , @DanielRodera : could one of you take this over?

[2019-09-06 16:39] DenoBeno commented on #99
I have added a second bulk-edit form for the study types. This one is allowed for administrators and editors.

![grafik](https://user-images.githubusercontent.com/2961790/64445092-f47db000-d0d5-11e9-8ded-ecf9e5c5efc8.png)

This is good for assigning or adding steps to several studies at a time and also provides a good overview.

![grafik](https://user-images.githubusercontent.com/2961790/64445206-

[2019-09-06 16:51] DenoBeno commented on #108
Has this been implemented/can we close it?

[2019-09-08 00:19] DenoBeno commented on #83
Hm.

The GL-steps are generated as they should, but you should end up on the https://csis.myclimateservice.eu/study/<node-id>/view/intro. However, the https://csis.myclimateservice.eu/study/28/view/intro doesn't exist, because the alias hasn't been generated.

![image](https://user-images.githubusercontent.com/2961790/64481572-693c1180-d1de-11e9-8c9d-7e676beba7b6.png)

It should be, according to
h

[2019-09-09 07:59] DenoBeno commented on #109
This is important - not quite but almost a showstopper. @DanielRodera , @fgeyer16 - can one of you please take a look at it?
---------------
Someone has to take a good look at the permissions, decide what they should be, white change the permissions accordingly (also in git repository!) and write down instructions for the future reference.

I suspect that everything under /sites/default/files shou

[2019-09-09 09:39] patrickkaleta commented on #89
Yes, module has been removed. Closing this issue.

[2019-09-09 09:39] #89 closed, assigned to patrickkaleta

[2019-09-09 10:57] patrickkaleta commented on #83
Turns out the problem was caused by the `Country` and the `City` field, which is a dependent field created with Business Rules. We implemented this dependent field, since it allows to dynamically limit the cities based on the selected country. And for some reasons this dependent field is messing with Pathauto (seems like a new bug and just now a new development version of pathauto was introduced,

[2019-09-10 12:42] patrickkaleta opened #111 "Can OpenLayers module be removed?"
Viewing the Drupal [Status report page](https://csis.myclimateservice.eu/admin/reports/status) it shows the following error:
![openlayers-error](https://user-images.githubusercontent.com/42167036/64614071-f5655900-d3d7-11e9-8765-4cd0f48d31a2.png)

@therter , @p-a-s-c-a-l , @fgeyer16: **Is anyone of you using this module or can it be removed?** Judging by the error message it shouldn't even be doin

[2019-09-11 07:17] bullz commented on #47
![FireShot Capture 002 - Data - CLARITY CSIS - localhost](https://user-images.githubusercontent.com/160349/64676031-e385c380-d474-11e9-9df1-e8ac4c762c42.png)

Here there is an example of the improved look of the page, but the tabs are not working.
I have configured the jquery tabs system already integrated in Drupal. But I could use some help on where this items are generated, I mean the code for

[2019-09-11 11:21] DenoBeno opened #112 "/single/import fails on CSIS"
I have just experienced the following error:

![grafik](https://user-images.githubusercontent.com/2961790/64692946-813dba80-d496-11e9-8a89-ed9adb157390.png)

This is quite interesting, because "single import" is a very robust mechanism that I've used a lot in the past and now it suddenly failed on both csis and DRIVER+ PoS site within a day (still works on pos-dev).

What were the latest updates t

[2019-09-11 11:34] DenoBeno opened #113 "Translation-related error on /admin/reports/dblog"
I have encountered the following error on https://csis.myclimateservice.eu/admin/reports/dblog

"Warning: htmlspecialchars() expects parameter 1 to be string, array given in Drupal\Component\Utility\Html::escape() (line 424 of core/lib/Drupal/Component/Utility/Html.php)."

![grafik](https://user-images.githubusercontent.com/2961790/64694032-ff02c580-d498-11e9-88cc-556e47f2cac7.png)

The error disa

[2019-09-11 12:35] DenoBeno commented on #112
OK, this was resolved on pos in the following way:

- "I've created a .yml file with the configuration you've put here in a comment, and, using drush, have imported just this file configuration. It imported it successfully this way... "

Once this was done, importing over the web gui started working again too.

[2019-09-11 15:30] #113 closed, assigned to fgeyer16

[2019-09-11 15:33] DenoBeno commented on #111
I'm not sure what my "map" widgets are using. If nothing breaks (e.g. twins views, entering the geo-data in Showcases, little maps that are visualized for data packages and resources...), it's OK with me.

[2019-09-11 15:34] DenoBeno commented on #83
I just read the initial entry on "Updating business rules for automatically creating GL-step entitites". This is completely outdated now, it would be good to close this issue and open a new one if necessary.

[2019-09-11 15:36] DenoBeno commented on #109
Any progress? Now the geofield_map_default_icon_style works, but not the "icons for the maps". I don't need the other one, but it's a bad sign.

[2019-09-11 15:37] DenoBeno commented on #16
Can this be closed now?

[2019-09-11 15:39] DenoBeno commented on #24
Apparently this library is not needed. Plus, we have [another ticket](https://github.com/clarity-h2020/docker-drupal/issues/111) by @patrickkaleta where he's asking about deleting them from the system. Closing this one.

[2019-09-11 15:39] #24 closed, assigned to Itsman-AT

[2019-09-11 15:41] DenoBeno commented on #80
Seems to work now. Close?

[2019-09-11 15:41] fgeyer16 commented on #112
This is interresting that it worked via drush. I experienced this missing standard module error sometimes on other places and clearing cache solved this for me then.

[2019-09-12 08:40] patrickkaleta commented on #47
@bullz yes, this looks now much better than before!

Sure, the tabs are generated by two views (one responsible for the tabs of the Study group and one responsible for the tabs in all the individual GL-steps) as a custom text field `Tab-links` with the help of a little Twig logic:
- [Study tabs](https://csis.myclimateservice.eu/admin/structure/views/view/study_group_tabs_for_group/edit/block_1)
-

[2019-09-12 08:43] patrickkaleta commented on #112
No module have been updated recently, but one module (Geolocation) has been removed on Monday. However, I cleared the cache afterwards, so I don't think that's the reason for this problem.

[2019-09-12 08:49] patrickkaleta commented on #83
You're probably right, but before we close this issue let me just first remove this outdated rules, actions and variables from the system. Looking at the Business rules overview, it's really starting to get confusing.

[2019-09-12 08:51] patrickkaleta commented on #109
@fgeyer16 you could probably have some advice for this, since you could check how the permissions are set on other Drupal projects you're working on.

[2019-09-12 08:55] patrickkaleta commented on #16
This can probably be best answered by @fgeyer16, he set it up. AFAIK some users experience problems with logging into the system, but for that we open separate issues.

[2019-09-12 08:59] patrickkaleta commented on #80
The tabs haven't disappeared since, so I'm closing this now.

[2019-09-12 08:59] #80 closed, assigned to fgeyer16, patrickkaleta

[2019-09-12 09:04] therter commented on #111
I don't use this module

[2019-09-12 13:30] DenoBeno opened #114 "please install form steps module"
Related to: https://github.com/clarity-h2020/emikat/issues/16

We need to save the data package before matching the included nodes in the next step. This is what https://www.drupal.org/project/forms_steps is for.

Please install...

[2019-09-12 13:53] DenoBeno commented on #114
Unless you prefer to do it differently?

[2019-09-12 15:58] fgeyer16 commented on #111
I installed the module at the beginning, thinking it would be helpful, but never managed to understand how it works.
SO I think nobody is using it

[2019-09-12 16:33] fgeyer16 commented on #109
I checked some other drupal projects now.
Permissions on folders were 750 or 755 on files 740 or 744 owner and group where www-data:www-data
So I can give no advice how to handle ownership with docker. but i found this

[here](https://www.drupal.org/node/244924)

[2019-09-12 16:51] fgeyer16 commented on #16
Single sign on is working. We may need to adjust the gateway settings. That means on which pages will the user be logged in automatically if he is already logged in on SSO.

For handling Problems on logging in the most common problems are when the user was created manually on the csis. Then you will have to check the `Allow user to log in via CAS` manually and enter the Username which is used on p

[2019-09-12 16:51] fgeyer16 commented on #16
So closing

[2019-09-16 06:31] p-a-s-c-a-l commented on #111
Yes, it can be remove.

[2019-09-16 10:21] DenoBeno commented on #112
Well, it works and we know how to handle it the next time...

[2019-09-16 10:21] #112 closed, assigned to fgeyer16, patrickkaleta

[2019-09-16 10:55] therter commented on #99
The option "Select / deselect all results in this view" (see the red rectangle in the screenshot ) is very dangerous, because this option ignores the applied filter. If the user use this option, all workflow steps will be selected and not only the steps, which fulfil the current filter criteria.
Especially when the user has more than one page with matches, he will mostly assume that only the match

[2019-09-16 11:01] patrickkaleta commented on #99
Nice catch @therter. That checkbox is should be either fixed or removed. I'll look into it

[2019-09-16 11:42] DenoBeno commented on #99
This is IMO a bug in the module. I'll report it.

[2019-09-16 20:30] fgeyer16 opened #115 "Make expert study type only available for expert"s"
After talking with @Andrea4ad , normal users (non climate expert users) should only be able to create studies which do not need experts input (screening studies). Otherwise they may be confused or worse scared off if they see a lot of needed input they have no idea what it is about.

Since study types are taxonomy terms I think this can be achieved by using the module [permission by term](https://

[2019-09-17 07:31] DenoBeno commented on #115
Sounds like a good idea.

[2019-09-17 09:22] p-a-s-c-a-l commented on #115
1st we have to make sure that users actually **will** be able to create studies by October, so putting this issue on hold until the system is actually functional.

[2019-09-17 11:52] DenoBeno commented on #115
@fgeyer16 : are you going to implement this? Or are you asking @patrickkaleta to do it?

[2019-09-17 15:45] fgeyer16 commented on #115
I was already talking about this with @patrickkaleta yesterday and he said he will test it when he installs the other requested modules.
Created the ticket for Documentation and not to lose track

[2019-09-18 08:21] patrickkaleta commented on #115
Yes I will take care of this, once more urgent issues are resolved.

A related feature-request would be #82 , since it will use the same proposed module [Permissions by Term](https://www.drupal.org/project/permissions_by_term), so I'll try to tackle both of them at once.

[2019-09-18 09:37] patrickkaleta commented on #111
Ok, module has been removed.

[2019-09-18 09:37] #111 closed, assigned to patrickkaleta

[2019-09-18 14:24] patrickkaleta commented on #74
Sadly it seems like there has been a setback in the meantime. As shown in [this comment](https://github.com/clarity-h2020/docker-drupal/issues/20#issuecomment-473309782) it was already possible to print a PDF with images. This is currently not working anymore - each time there is an image, report generation fails with the following error:
`Error generating document: Failed to generate PDF: file_ge

[2019-09-19 08:22] patrickkaleta commented on #74
Indeed it is again a problem with the file permissions on the server.

It looks like the **styles** folder and its subfolders (`/app/web/sites/default/files/styles`) need different permissions. Most of the folders have `docker` set as **owner-user** and **owner-group**, that doesn't seem to work well. For now, I set `www-data` as the **owner-user** for the `max_325x325` folder and its subfolders (

[2019-09-19 09:06] patrickkaleta commented on #74
### Steps to do in order to improve PDF output:

- [x] 1. place the "View PDF" field in all entity displays, where we want to generate PDFs

- [x] 2. activate the PDF view mode for those entities and configure them

- [x] 3. add custom CSS to theme for styling the PDFs

- [x] (additionally) 4. create custom Twig templates for further modifying HTML output of Reports

**Note:**
For debugging purpos

[2019-09-19 09:11] patrickkaleta commented on #74
### Ad 1. "View PDF" fields

Entity Print comes with a special field, that creates the link for the PDF generation. This should be placed in those entity displays, where we want to offer PDFs. For now, this will be the case for the `Study` group and the `GL-step` node (for both in the "Summary" display mode).

Additionally, someone created a Display Suite token field, that does exactly the same as

[2019-09-19 09:17] patrickkaleta commented on #74
### Ad 2. "create PDF view modes"
By default Entity print will create the PDF based on what's shown on the `Default` view mode of the entity. To furher specify which fields should be shown in the PDF, once just needs to create a new view mode for each entity type with a machine name equal to `pdf`.

I've done that for GL-step and Study, which should be enough for now. I based those view modes on t

[2019-09-19 09:22] patrickkaleta commented on #74
### Ad 3. "add custom CSS to theme"

To add custom CSS it should be enough to follow the simple steps provided in the Entity print [description](https://www.drupal.org/docs/8/modules/entity-print/usage#from-your-theme).

For that I created a new [branch](https://github.com/clarity-h2020/clarity-theme/tree/feature/010-pdf-styling) and separate [issue](https://github.com/clarity-h2020/clarity-theme/

[2019-09-19 11:48] bullz commented on #47
I have uploaded to the clarity theme a new version.
For getting the new tabs work there are some changes needed in the view:
https://csis.myclimateservice.eu/admin/structure/views/view/rest_node/edit/rest_export_3

the content of the **display** field now should be:

[code]

[2019-09-19 11:51] patrickkaleta commented on #47
Great, I will update the View and test this tomorrow in my local instance and deploy it afterwards to the CSIS server (I'm guessing this hasn't been done yet?).

[2019-09-20 08:47] patrickkaleta commented on #47
Changes made by @bullz are now on the CSIS server, but it doesn't look quite like shown in [your screenshot](https://github.com/clarity-h2020/docker-drupal/issues/47#issuecomment-530254719).

I will continue the discussion for this specific view here: https://github.com/clarity-h2020/clarity-theme/issues/7

[2019-09-20 10:33] therter commented on #99
Additional info:
Until this bug is fixed, it is of course possible to use the check boxes next to the titles to mark a single step, or the checkbox in the table header to select all steps of the current page. The number of selected steps  is shown under the apply button and should be used to ensure that not accidentally too many steps are selected.

[2019-09-20 18:39] DenoBeno commented on #114
form steps module not available on CSIS yet.

[2019-09-20 18:56] DenoBeno commented on #109
OK, let me try it this way:

root@3b8d70db32d6:/app/web/sites/default# find files/ -exec chown docker:www-data {} \;
root@3b8d70db32d6:/app/web/sites/default# find files/ -type d -exec chmod 770 {} \;
root@3b8d70db32d6:/app/web/sites/default# find files/ -type f -exec chmod 660 {} \;

This *should* be exactly what we need, but please yell if anything stops working now.

[2019-09-20 19:03] DenoBeno commented on #74
I have updated the ownership & rights on all directories and files under /files, as explained in https://github.com/clarity-h2020/docker-drupal/issues/109#issuecomment-533671632

If you have any new problems now, please yell.

[2019-09-20 19:05] #79 closed, assigned to bullz, maesbri, fgeyer16, patrickkaleta

[2019-09-20 19:10] DenoBeno commented on #77
Well, it's easy to add a new step to the study now. Just add another template...

So this template would need to have what exactly in it? How are the summary views made in other templates today?

[2019-09-20 19:24] DenoBeno commented on #77
I looked into this and the way GL-step "summary" is rendered is not appropriate for what we need in the final step.

IMO the best way to generate the complete document would be by defining a PDF display view of the group that includes the PDF display views of all the included GL steps. This can be done in different ways: with viewfield, with EVA, or with a view that prints the group in the header

[2019-09-20 20:12] p-a-s-c-a-l commented on #109
Please don‘t change owner and groups of the dirs Apps, modules, etc! This will Mess Up composer, git, etc.!

Owner and group docker is correct for **all** Files except files uploaded via api or ui.

Von meinem iPhone gesendet

[2019-09-20 20:28] DenoBeno commented on #77
I made a first attempt at this, see https://csis.myclimateservice.eu/admin/structure/views/view/study_print_eva?destination=/admin/structure/views

It should work, but it doesn't, not sure why.

See
https://csis.myclimateservice.eu/study/17/view/summary
https://csis.myclimateservice.eu/print/pdf/group/17/debug
https://csis.myclimateservice.eu/print/pdf/group/17

[2019-09-20 20:36] DenoBeno commented on #109
what are the correct ownerships & privileges on these?

What we have now gives the same privileges to www-data and to docker user and no privileges to anyone else. This *should* work for anything under "files".

[2019-09-21 06:45] p-a-s-c-a-l commented on #109
For /app/web/sites/default/files it's ok IMHO. For other directories it should be rwx for user and group docker. Please note that if you want to use composer or git to update modules and apps from *inside* the container, you have to append `--user 999` (docker uid) to your `docker exec` commands otherwise all operations performed *inside* the container will be done as root and thus all modified /

[2019-09-21 07:14] DenoBeno commented on #109
I changed it within the container. I think that it's fine as it is now, but
please yell if anything stops working.

On Sat, 21 Sep 2019, 08:45 Pascal Dihé, <notifications@github.com> wrote:

[2019-09-21 13:11] DenoBeno commented on #109
Ah, clear.

Everything except for the data in "files" is read-only for the web server and apparently the "docker:docker" doesn't bother it. I do hope that nothing there is world-writable, one of these days someone should double check these privileges too, for security reasons.

Data under "files" is normally written on run time, by web server. Thus the web server has to be able to write to it... T

[2019-09-21 21:15] DenoBeno commented on #108
I could add this now, but I'm not sure if it's still necessary. Putting it "on hold" until we run in the same problem again.

[2019-09-21 21:19] DenoBeno commented on #99
Can we close this now?

[2019-09-21 21:44] DenoBeno commented on #47
Well, we *are* trying to replace tons of resources with one using variables. This will take some time, but see https://github.com/clarity-h2020/data-package/issues/47. This will make the names shorter too.

[2019-09-21 23:07] DenoBeno commented on #83
I have removed all the garbage from the rules. This could be in principle closed, but something has been seriously messed up lately. First this:

![image](https://user-images.githubusercontent.com/2961790/65380153-37927280-dcd5-11e9-8319-6cd6447d0c05.png)

And second, when I try to edit a rule, it causes "out of memory" error. Not always, but quite often. Cleaning the cache helps for a short time.

[2019-09-23 05:51] p-a-s-c-a-l commented on #114
done

[2019-09-23 05:52] p-a-s-c-a-l commented on #99
no, we have to add the new table components when they are finished.

[2019-09-23 09:03] p-a-s-c-a-l commented on #14
@DanielRodera could you please have a look at the EU-GL taxonomies and correct the errors in the references? See https://github.com/clarity-h2020/csis/issues/104

[2019-09-24 09:05] p-a-s-c-a-l commented on #16
@fgeyer16 Can you please check the SSO profiles whether they contain the [EMIKAT Credentials](https://github.com/clarity-h2020/docker-drupal/issues/16#issuecomment-525145170) and if not add them (also as default)? E.g. it seems that for Lena's account there no EMIKAT credentials available.

[2019-09-24 13:33] p-a-s-c-a-l opened #116 "Exception in Step data collection"
I created some Gl-Step templates and suddenly, the newly created steps nodes couldn't be loaded.

[2019-09-24 13:34] p-a-s-c-a-l commented on #116
https://csis.myclimateservice.eu/node/939

[code]

[2019-09-24 13:35] p-a-s-c-a-l commented on #116
https://csis.myclimateservice.eu/node/1437

[code]

[2019-09-24 13:50] p-a-s-c-a-l commented on #116
https://csis.myclimateservice.eu/node/937

[code]

[2019-09-24 14:45] fgeyer16 commented on #16
Seems Lena logged in locally, i'm on it.

[2019-09-24 15:40] patrickkaleta commented on #116
This is caused by the [Views as application](https://csis.myclimateservice.eu/admin/structure/types/manage/view_as_application/fields) content type created by @DenoBeno. It passes the Content ID of the GL-step as an argument and is configured to work from within a Study (.../study/xyz/step/**937**/...).
![missing-arguments](https://user-images.githubusercontent.com/42167036/65526665-c54aa980-def1-

[2019-09-24 16:34] patrickkaleta commented on #116
**Found a possible solution:**
1) remove the arguments from the views as applications
2) instead configure the view to extract the argument as "Raw value from URL" component no. 4 (just like we do it for the study navigation)
3) specify validation criteria: if argument is not of content `GL-step` -> hide the view

Consequences:
- when viewing just a GL-step (.../node/937) there is no 4. component

[2019-09-24 16:47] DenoBeno commented on #116
I am afraid that viewing the gl steps outside a study is bond to fail.

We can hide the offending elements from the default view. We *may* be able
to feed them with some defaults or build them so that they don't explode,
but....

On Tue, 24 Sep 2019, 18:34 Patrick Kaleta, <notifications@github.com> wrote:

[2019-09-24 16:52] DenoBeno commented on #16
I always log in locally. One of these days, we need to fix my account too.

On Tue, 24 Sep 2019, 16:45 fgeyer16, <notifications@github.com> wrote:

[2019-09-25 07:49] patrickkaleta commented on #114
Module has been enabled in the BE. Closing this issue.

[2019-09-25 07:49] #114 closed, assigned to fgeyer16, patrickkaleta

[2019-09-25 08:23] patrickkaleta commented on #116
Agreed, viewing a GL-step outside of a Study doesn't make much sense and cannot work 100%, because for some things the Study context (used Datapackage etc) is necessary.

But we cannot allow the site to break like that, so we either completey forbid viewing these nodes outside of a study or we some kind of safety net (like mentioned [above](https://github.com/clarity-h2020/docker-drupal/issues/116

[2019-09-25 08:45] patrickkaleta commented on #116
Done. Nodes like [937](https://csis.myclimateservice.eu/node/937) and [939](https://csis.myclimateservice.eu/node/939) can be visited without breaking the website.

I had to configure the two content entities:
- [Study adaptation options table](https://csis.myclimateservice.eu/node/1286)
- [Study Vulnerability functions table](https://csis.myclimateservice.eu/node/1355)

and the two views:
- [Stud

[2019-09-25 08:45] #116 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-09-25 10:55] DenoBeno commented on #77
The summary view of the group now shows also the summaries of the individual steps. I'll further improve the output before going to fix the PDF export in the same way.

Where we want to show this is another question. Since the view already exists, the simplest way of achieving the result might be by linking the group summary page from other summary pages. What pascal has asked for would be more di

[2019-09-25 10:57] DenoBeno commented on #77
Obviously, the "print" icon could just as well be a pdf icon or "report" button. And it could immediately produce the PDF instead of changing the page...

[2019-09-25 11:45] DenoBeno commented on #74
I have configured an initial version of the "full report". It works relatively OK in "debug" mode, but PDF generation is too slow.

preview: https://csis.myclimateservice.eu/print/pdf/group/1/debug

PDF generation: `Fatal error: Maximum execution time of 30 seconds exceeded in /app/vendor/dompdf/dompdf/src/Frame.php on line 331`

DomPDF is supposed to be replaced ASAP anyway, so I'm not going to s

[2019-09-25 11:50] DenoBeno commented on #74
"Edit image comment" button should be disabled by CSS in PDF print.

[2019-09-25 15:17] fgeyer16 commented on #16
You have developer role. I do not want to give administrators and developers Single Sign On.

[2019-09-25 18:33] DenoBeno commented on #16
ah, OK

On Wed, 25 Sep 2019 at 17:17, fgeyer16 <notifications@github.com> wrote:

[2019-09-26 07:03] p-a-s-c-a-l commented on #99
OK, Study types are now configured. Main difference between basic screening, advanced screening and expert is that only in advanced screening (with EMIKAT calculation) we show table components (because they depend on EMIKAT API).

![grafik](https://user-images.githubusercontent.com/1788226/65665687-6ba2c600-e03c-11e9-93ff-53a848ebfd7a.png)

[2019-09-26 07:03] #99 closed, assigned to p-a-s-c-a-l

[2019-09-26 07:54] patrickkaleta commented on #74
That's what I was worried about. Those reports can get pretty long with lots and lots of pictures. I'm not sure if another PDF engine will fix that.

Locally I managed to get the [WKhtmltopdf](https://wkhtmltopdf.org/) engine working (my mistake was to include the binaries for the Ubuntu version, until I realized that we have Debian running in the Docker container...). However, the current 0.12.5

[2019-09-26 07:57] patrickkaleta commented on #74
I added that as an requirement for the PDF CSS-styles.

[2019-09-26 11:56] p-a-s-c-a-l commented on #81
wtf

[2019-09-26 11:58] p-a-s-c-a-l commented on #81
Cannot remove entries: ![exposure-twins](https://user-images.githubusercontent.com/1788226/65686625-92292700-e065-11e9-9468-ee6798362320.gif)

Additionally, I don't understand why cids GUP (solution offer / showcase) appears in this list.

[2019-09-26 12:27] p-a-s-c-a-l opened #117 "Adaptation Twins not working"
See [here](https://csis.myclimateservice.eu/study/33/step/1457/view/twins) and [there](https://csis.myclimateservice.eu/study/35/step/1451/view/twins). Not sure if "Adaptation Twins"  are available at all, if not , we have to remove them from the GL-Step templates.

[2019-09-26 12:41] patrickkaleta commented on #81
My first guess is that those two tables (Included & Available) are not generated properly. Looking at GL-step [1460](https://csis.myclimateservice.eu/node/1460/edit) (HC step of study 33) shows in the `Included data` field just one element. So, right now the system is trying to remove things that are not even part of that step. This is the updated version of the Twins tab, so I'm asking @DenoBeno

[2019-09-26 12:46] patrickkaleta commented on #117
@DenoBeno those steps mentioned by Pascal have the [Twins: Adaptation options View](https://csis.myclimateservice.eu/admin/structure/views/view/twins_adaptation_options?destination=/admin/structure/views) assigned to them (with arguments), so the Adaptation Twins should be available? Or aren't you finished with that View yet?

In the contextual filters of that View I can see that a fixed value of

[2019-09-27 11:15] DenoBeno commented on #81
Interesting, I thought that was fixed. Will take a look at https://csis.myclimateservice.eu/study/33/step/1519/view/twins and fix it.

[2019-09-27 11:21] DenoBeno commented on #117
Adaptation twins should be available. They worked the last time I checked. And the ID was not fixed. Maybe we had a regression where the last version was lost?

I'll fix this.

[2019-09-27 11:28] DenoBeno commented on #74
Apparently, we should install it with composer. https://www.drupal.org/docs/8/modules/entity-print/pdf-engine-support

composer require h4cc/wkhtmltopdf-amd64 (or i386)
composer require mikehaertl/phpwkhtmltopdf

[2019-09-27 11:55] p-a-s-c-a-l commented on #74
ok, done

[2019-09-30 07:53] DenoBeno commented on #74
OK. Had to bring the system up to date and install a few additional libraries but PDF generation works now. For the record:

apt-get update
apt-get upgrade
apt-get install libxrender1 libfreetype libssl1.0-dev

Result: we can produce PDFs with TOC now. Should still be made nicer, but it works in principle. See e.g.:

[Adaptation Scenarios for Metropolitan Resilience Planning (1).pdf](https://githu

[2019-09-30 08:01] DenoBeno commented on #117
Well, they aren't included in the template.

![image](https://user-images.githubusercontent.com/2961790/65859646-f18a7e00-e368-11e9-9190-0217f9a7e03b.png)

They do exist and AFAIK work, see https://csis.myclimateservice.eu/study/17/step/1315/view/table and https://csis.myclimateservice.eu/study/17/step/1315/view/twins

![image](https://user-images.githubusercontent.com/2961790/65859777-39110a00-e3

[2019-09-30 08:33] DenoBeno commented on #117
OK, I found the issue: the "adaptation options" work that I have made aimed at "Identify adaptation options" step, not at the implementation. The same functionality *could* in principle be used in "implementation", but there is no implementation in the screening step AFAIK.

Thus: I could make this work, but the question is what we really want?

[2019-09-30 09:19] DenoBeno commented on #81
OK, the reason was a misconfiguration of the template. Whenever a twin view is used, one MUST define the input variables as shown below.

![image](https://user-images.githubusercontent.com/2961790/65865707-09b3ca80-e374-11e9-8803-f04a784e58ba.png)

If the arguments aren't defined, bad things will happen.

Update: for the new hazards twin, just the node id parameter is needed and possibly not even

[2019-09-30 09:24] DenoBeno commented on #117
Following a discussion today, this seems to be a non-issue. Adaptation options table & twins work as designed in the "identification" step and that's all we expect from them at the moment.

Adding a tab with "external application" is a different issue, something Patrick will take care of.

[2019-09-30 11:08] DenoBeno opened #118 "(Re-)implement "twins" as "View as application" content"
Related to https://github.com/clarity-h2020/docker-drupal/issues/117

Currently, the "twins" are included in the GL-step as a view field. This is causing problems because the arguments must be listed and these arguments are easy to forget.

More robust way for including the views in the study workflow is to define a "View as application" node and the include this node in the study in the same way

[2019-09-30 11:26] DenoBeno opened #119 "Flexible way for naming the study sub-steps"
Related to https://github.com/clarity-h2020/docker-drupal/issues/118 and ???

Today we can define the names to be shown for each of the steps, but the sub-steps are still hard-coded.

![image](https://user-images.githubusercontent.com/2961790/65873617-d9742800-e383-11e9-9a97-5ff305c1af75.png)

In principle, we could also re-name the sub steps by re-designing the way GL step node type and the "step

[2019-09-30 11:33] DenoBeno commented on #119
@patrickkaleta : as discussed, see if this is feasible (easy) to introduce for the new "external application" tab. If it turns out to be a PITA just forget it. If it turns out to be good, we may refacture the GL-step data model later on.

[2019-09-30 11:34] DenoBeno commented on #118
@patrickkaleta : this is really just "nice to have", leave it as is for now. If/when we start refactoring the CSIS application, this will serve as a reminder.

[2019-09-30 11:35] DenoBeno commented on #117
@p-a-s-c-a-l : please double-check and close if all is OK.

[2019-09-30 12:08] p-a-s-c-a-l commented on #117
is working now.

[2019-09-30 12:08] #117 closed, assigned to DenoBeno, Itsman-AT, patrickkaleta

[2019-09-30 15:35] DenoBeno opened #120 "Form steps not working as expected"
related to: https://github.com/clarity-h2020/docker-drupal/issues/114

I have configured a "form steps" workflow for adding data packages and discovered that it doesn't work as it should.

See: https://www.drupal.org/project/forms_steps/issues/3084693

e.g., "next" should bring me from https://csis.myclimateservice.eu/data_package/context/932b8771-a650-4529-9b15-c0f4f1212918 to https://csis.myclim

[2019-10-01 16:47] DenoBeno commented on #118
Actually I just did this for the hazards twin because the existing view was causing troubles (see https://github.com/clarity-h2020/csis/issues/107). It's much easier than I thought.

[2019-10-01 16:58] DenoBeno commented on #109
Since nobody complained, I suppose this is OK now.

[2019-10-01 16:58] #109 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta, DanielRodera

[2019-10-01 17:12] DenoBeno commented on #81
I have fixed all the "twins" views for all the templates and also for existing studies. Can we close this now?

[2019-10-01 17:21] DenoBeno commented on #74
I will not have time to improve the PDF formatting, someone else needs to pick this up now.

[2019-10-02 07:50] patrickkaleta commented on #74
I want to contribute and create the necessary styling for the PDF, but I'm still waiting for @bullz to reply to my email, since I need his help to configure a separate CSS file inside our theme.

[2019-10-02 09:00] patrickkaleta commented on #74
Ok, I was just informed that @bullz did reply but somehow the mail got lost. I should now be able to add a separate styling to the PDFs.

[2019-10-02 12:35] DenoBeno commented on #99
just FYI, I have removed paging now. For now it's OK, in the future this might cause the view to load extremely long. But by then maybe the bug will be fixed upstreams.

[2019-10-03 07:59] #81 closed, assigned to therter, DenoBeno, patrickkaleta

[2019-10-03 08:14] DenoBeno commented on #77
Some recommendations concerning the print output:

1. Use default view mode where it fits. If the view mode needs to be changed for printing, always define a PDF view mode.
2. Consider adding `<section>`  tag in addition to `<Hn>`. This is easy to do now, difficult to do later and it *could* help us to produce better CSS formatting down the road.
3. Remove dynamically generated content (applicatio

[2019-10-03 12:05] DenoBeno opened #134 "Showing and changing presets outside the study group context"
Somewhat related to https://github.com/clarity-h2020/map-component/issues/59

I have implemented a simple view that shows presets and allows the users to edit them while in the GL-step context and not in the group context. This allows users to quickly change the presets and take screenshots of various preset combinations whenever they feel like it.

Result:
![grafik](https://user-images.githubuser

[2019-10-03 12:37] patrickkaleta commented on #74
The overall structure (order of heading levels, define what will be a heading,...) of the PDF report should be ok now. This is important, because the TOC is generated automatically by extracting all available headings in the document. I followed @DenoBeno [advice](https://github.com/clarity-h2020/docker-drupal/issues/77#issuecomment-537838827) mentioned in #77. I decided to create dedicated **PDF*

[2019-10-03 13:28] DenoBeno commented on #134
I have also added this to table views now.

This is OK for a start. If we want to decide more granularly where to show it and where not, we would have to add this view to the "application" nodes instead. Then one could easily define a map or a table with and without the presets and use the one that's appropriate in the template.

Good enough for now - putting this on hold.

[2019-10-04 12:09] patrickkaleta commented on #77
I think we can close this now.  @DenoBeno created the button that creates the whole PDF document and linked it in the top navigation of the Study. I'm done now with the first version of the custom CSS for our PDF reports.

[2019-10-04 12:33] patrickkaleta commented on #74
Generating the page numbers turned out to be more difficult than anticipated, so I'm skipping that for now. The CSS for our customized PDF reports is done (done for now, of course we will further improve this in the future).

**Some notes/problems:**
- I defined two custom CSS classes:
  - `hide-in-print`: hides the element in the final PDF (used for "Edit report image" buttons)
  - `print-break`:

[2019-10-07 07:01] #77 closed, assigned to DenoBeno, fgeyer16, patrickkaleta, DanielRodera

[2019-10-07 15:49] DenoBeno commented on #83
why is this still open?

[2019-10-11 09:14] patrickkaleta commented on #115
Removing "on-hold", since we need to (IMO) now also focus on permissions and User/Group roles if we want to allow real users to use the CSIS. And for that [Permissions by term](https://www.drupal.org/project/permissions_by_term) module seems very promising. I've installed and enabled this module.

As [suggested](https://github.com/clarity-h2020/docker-drupal/issues/115#issue-494261281) I've create

[2019-10-11 09:56] patrickkaleta commented on #82
Since I now already installed the **permissions by term** module, I tested the individual permissions locally and suggest the following approach:

**1)** create new User roles with (for the start) rather generic terms like: `Level - DC` or `Level - 1`, ...
**2)** create new taxonomy "Permission levels" with terms like in **(1)** and assign the appropriate user roles
**3)** create a new field ("Per

[2019-10-11 12:06] p-a-s-c-a-l commented on #68
This is still not done yet. We are waiting for an updated list of cities. See also https://github.com/clarity-h2020/emikat/issues/25

[2019-10-11 12:10] #14 closed, assigned to p-a-s-c-a-l, maesbri, fgeyer16, patrickkaleta, DanielRodera, RobAndGo

[2019-10-11 12:11] p-a-s-c-a-l commented on #16
This seems to be working quite well now. If there are still problems, we can open an new issue.

[2019-10-11 12:11] #16 closed, assigned to fgeyer16

[2019-10-11 12:12] p-a-s-c-a-l commented on #47
Main issue resolved.

[2019-10-11 12:12] #47 closed, assigned to bullz, fgeyer16, patrickkaleta, DanielRodera

[2019-10-11 12:15] p-a-s-c-a-l commented on #68
We'll create a new issue when changes to the cities taxonomy have to be made.

[2019-10-11 12:15] #68 closed, assigned to therter

[2019-10-11 12:23] p-a-s-c-a-l commented on #58
Duplicate of https://github.com/clarity-h2020/csis/issues/109

[2019-10-11 12:23] #58 closed, assigned to p-a-s-c-a-l, humerh, bernhardsk, patrickkaleta

[2019-10-14 06:13] #83 closed, assigned to patrickkaleta

[2019-10-14 11:08] patrickkaleta commented on #67
As it turned out in other places, removing Element types (content types, taxonomies) can have unexpected side-effects. So, the [Damage Classes](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/damage_classes/overview) taxonomy title was updated with a `REMOVE`, so that we can later remove it when we find the time to completely clean up the Drupal system.

[2019-10-14 11:08] #67 closed, assigned to maesbri, fgeyer16, patrickkaleta, DanielRodera

[2019-10-14 11:10] patrickkaleta commented on #66
Closing this, since we are currently using **Entity Browser** instead of the proposed solution in this issue.

[2019-10-14 11:10] #66 closed, assigned to maesbri, fgeyer16, patrickkaleta, DanielRodera

[2019-10-14 11:13] #65 closed, assigned to therter, fgeyer16, patrickkaleta

[2019-10-15 06:36] p-a-s-c-a-l opened #121 "Extend Cities Taxonomy"
See https://github.com/clarity-h2020/emikat/issues/25#issuecomment-542059508

As mentioned in the issue above, ATM we just re-import cities where heat wave LE calculation is possible. Still open is the question about [solar radiation](https://github.com/clarity-h2020/emikat/issues/25#issuecomment-541752288) and [mortality rates](https://github.com/clarity-h2020/emikat/issues/26).

[2019-10-15 17:11] therter commented on #121
The cities with  heat_wave = true are reimported

[2019-10-15 21:12] DenoBeno commented on #121
nice

On Tue, 15 Oct 2019, 19:11 therter, <notifications@github.com> wrote:

[2019-10-18 05:58] p-a-s-c-a-l commented on #134
Study presets must not appear in expert studies, e.g. [this one](https://csis.myclimateservice.eu/study/21/view/context).

[2019-10-18 07:48] patrickkaleta commented on #115
This can be closed now. I talked to @fgeyer16 and he said that not all users and user roles need to be generated across all our platforms (especially when they are just meant to be used for testing purposes)

[2019-10-18 07:48] #115 closed, assigned to fgeyer16, patrickkaleta

[2019-10-20 18:31] DenoBeno commented on #134
Hm. The expert study has a "study calculation set to "none", so this can be used to filter.

This view lets the users set the study presets on various places in the study:

https://csis.myclimateservice.eu/admin/structure/views/view/view_presets_and_edit?destination=/admin/structure/views

So basically, this view needs a filter by study calculation method. I have added this filter now. And also ad

[2019-10-20 18:38] DenoBeno commented on #134
In https://csis.myclimateservice.eu/study/30/step/1613/view/maps, I can still choose local effect temperatures, even though no preset is defined. This is not good, since it's not clear what gets shown if no preset is defined.

![image](https://user-images.githubusercontent.com/2961790/67164307-92bd9080-f379-11e9-93f7-c07c3834ba9b.png)

[2019-10-21 05:29] p-a-s-c-a-l commented on #134
Expert Data Packages don't include EMIKAT screening resources. At least they shouldn't. Using the European Data Package which contains several EMIKAT resources in Expert Studies is a wrong choice.

The table will simply show nothing because there is no data from EMIKAT available. But Expert Templates don't include table views anyway, so this should never happen.

The map will show the layers from

[2019-10-21 07:32] DenoBeno commented on #134
@p-a-s-c-a-l :

Presets should also be used for other resources, not just EMIKAT. OK, this is not implemented now, so I've disabled it for the studies that don't use EMIKAT for the time being.

However, my question was for those that do use EMIKAT. Since I had to remove the presets from the "context edit", it's possible to come to a table or map where EMIKAT data is shown without setting the prese

[2019-10-21 09:12] DenoBeno commented on #134
Changed the message to "no preset defined, showing the historical data". Guess this can be closed now.

![grafik](https://user-images.githubusercontent.com/2961790/67192231-837b2900-f3f3-11e9-8fb7-0046030eb4bb.png)

![grafik](https://user-images.githubusercontent.com/2961790/67192319-ab6a8c80-f3f3-11e9-8874-e2083561443d.png)

[2019-10-23 12:58] bullz commented on #74
I can't see why this happens, and in my local system I have an error when creating PDF.

But I would try this two things:

1. Remove every PDF css and see if it still occurs
2. Change site theme to Drupal default and generate another PDF

![pdf](https://user-images.githubusercontent.com/160349/67395002-7ef67200-f5a5-11e9-9da0-69162bdd0417.png)

[2019-10-24 09:17] patrickkaleta opened #122 "Revise Adaptation options data model"
We need to revise the current data model implementation and check if all views & Entity browsers actually use the right configuration to display, search and filter through all available Adaptation options.

[2019-10-28 12:00] patrickkaleta opened #123 "Twins tab: No view results for unused relationships"
I stumbled upon a weird bug. Non-admin users weren't able to see the "Available twins for study" table on the Twins tab (e.g. [this one](https://csis.myclimateservice.eu/study/40/step/1722/view/twins)). The map and the "included in study" table are being displayed as expected. For admins this problem does not occur and there are also no error messages in the log files or browser console.

At first

[2019-10-30 07:55] p-a-s-c-a-l commented on #121
done

[2019-10-30 07:55] #121 closed, assigned to therter

[2019-10-30 07:56] patrickkaleta commented on #74
You're right, I'm also getting errors in my local environment. Not sure, what's going on there. I will look into it once the "high priority" issues have been resolved.

[2019-11-04 07:14] p-a-s-c-a-l commented on #105
Still not resolved. Maybe @Itsman-AT has some news on that.

[2019-11-04 07:19] p-a-s-c-a-l opened #124 "User Account Mangement"
If we allow *external* users to use the CSIS, we have to clarify how to distinguish between internal and external users, and how to clean up test, spam and orphan users.

Atm there are several uses registered, that are no project members and at least I don't know at which occasion and for which purpose they've created an account.

@fgeyer16 Maybe you can explain the relation between these two acco

[2019-11-04 07:32] p-a-s-c-a-l opened #125 "Clean up the System"
Before we are going live, we have to clean up the system and remove test studies, orphan resources, test data packages, etc. I wonder if this is easily possible, e.g. remove a study and **all** associated steps? Anyway, this is something that can only be addressed after https://github.com/clarity-h2020/csis/issues/113 has been resolved.

Perhaps we could also start with an "empty" production syste

[2019-11-04 13:29] Itsman-AT commented on #105
I am still on it (but I was not in the office last week). I will install Wireshark on the machine (as our IT suggested) and see, if this sheds some light on the issue.

[2019-11-04 14:12] Itsman-AT commented on #105
Question: Shall the interfaces be active like this?
@p-a-s-c-a-l @fgeyer16
![grafik](https://user-images.githubusercontent.com/41750112/68127121-80188f00-ff15-11e9-960b-871fed41f6ac.png)

[2019-11-04 15:24] DenoBeno commented on #105
what does this even mean?

[2019-11-04 16:50] Itsman-AT commented on #105
I think, we knew this already, but do you know which of our applications uses this mail greeting "Hello [] pleased to meet you"?
@DenoBeno @p-a-s-c-a-l @fgeyer16

**UPDATE: I now figured, that this is the "normal" mail exchange protocol.**

![grafik](https://user-images.githubusercontent.com/41750112/68139762-fffd2400-ff2a-11e9-9ea0-49e4deb595a7.png)

[2019-11-04 17:29] Andrea4ad commented on #124
Single sign-on is active, so it´s **YES**

**Roles and "business rules"**; we are working on that. After having a "draft proposal" we will have to engage with end users for feedback; not only "internal" and "external" but better **granularity**.

In general there should only be one instance dealing  with user rights, privacy etc. For the marketplace we plan to **team up** with a datamarket provide

[2019-11-04 18:16] Itsman-AT commented on #105
This is the depiction of all the network interfaces of the machine (Docker runs its services via TCP/IP) and their current traffic.

[2019-11-05 06:57] p-a-s-c-a-l commented on #105
Hm, but you cannot identify the source of the SMTP request? Which process is sending the mails?

[dockerveth](https://github.com/micahculpepper/dockerveth) shows you which docker containers are attached to which `veth` interfaces:

**CONTAINER ID**|**VETH**|**NAMES**
:-----:|:-----:|:-----:
a42a24ff952f|veth5204e59|nginx-web
ccb20795831b|vethba9e0c2|nginx-letsencrypt
aee21efe9287|veth18a799d|nginx

[2019-11-05 10:31] DenoBeno opened #133 ""Setting the value of 'Drupal.toolbar.subtrees.clarity' exceeded the quota." error"
This is what I saw on https://csis.myclimateservice.eu/study/37/step/1642/view/external:

![image](https://user-images.githubusercontent.com/2961790/68200148-9549f800-ffbf-11e9-8642-bd7795ffd6d1.png)

Not sure what's causing it, but apparently we are trying to put more data in the Chrome storage than allowed (25MB limit per default, allegedly)

Here is a thread on stackflow explaining how to handl

[2019-11-05 10:33] DenoBeno commented on #133
By the way, taking a screenshot of the EEA app suddenly works. Did you change anything?

[2019-11-05 10:36] p-a-s-c-a-l commented on #105
@DenoBeno @Itsman-AT
I've identified the problem: Exception Emails sent from CKAN!
Debug mode was turned on. Each request to a non-existent URI is logged and a mail is sent to the admin (info@myclimsteservice.eu). I've turned this off now.

[2019-11-05 10:36] #105 closed, assigned to DenoBeno, fgeyer16, Itsman-AT, patrickkaleta

[2019-11-05 11:05] p-a-s-c-a-l commented on #133
I'm not able to reproduce this:

![grafik](https://user-images.githubusercontent.com/1788226/68202577-49e61880-ffc4-11e9-9ad1-87ee98f5d533.png)

@therter You deleted something, right?

[2019-11-05 11:42] therter commented on #133
Yes, I have fixed this.

Yes, I have deleted one version. But at least in study 35 and 50 it should work. Is it possible, that the file /docker/010-ngnix-proxy/data/conf.d/default.conf is automatically changed by the nginx container or some other process, because my changes sometimes disappear from this file and that is the reason that the eea application is not shown in the csis?

[2019-11-05 12:01] p-a-s-c-a-l commented on #133
@therter '/data/conf.d/default.conf' is automatically re-created by the proxy companion, you have to change '/data/vhost.d/default_location'.

[2019-11-05 12:28] Itsman-AT commented on #105
Ah, thanks, this is the command I was looking for! Great that you identified it, I will check back with the IT for mail activities now.

[2019-11-05 12:40] Itsman-AT commented on #105
Looking good, so far:
![grafik](https://user-images.githubusercontent.com/41750112/68208594-c7fcec00-ffd1-11e9-85d1-649985e07593.png)

[2019-11-11 08:52] fgeyer16 commented on #124
Everybody who has registered on profile.myclimateservices.eu is able to access CSIS but will not be in CSIS user list automatically. The user on CSIS is created on the first visit on that page. So csis user list show all users who has visited CSIS at leas once.

A new registered user is not disabled initially. The user is active after clicking on a confirmation link sent by email. No action by adm

[2019-11-11 13:45] p-a-s-c-a-l commented on #124
For *external*  users it might worth keeping [this issue](https://github.com/clarity-h2020/docker-drupal/issues/82#issuecomment-540999850) about individual permissions on data packages into account.

[2019-11-14 08:37] p-a-s-c-a-l opened #126 "Composer updated failed (out-of-memory)"
Fatal error: Allowed memory size of 1610612736 bytes exhausted (tried to allocate 4096 bytes) in phar:///usr/local/bin/composer/src/Composer/DependencyResolver/RuleWatchGraph.php on line 52

Check https://getcomposer.org/doc/articles/troubleshooting.md#memory-limit-errors for more info on how to handle out of memory errors.

[2019-11-14 08:41] p-a-s-c-a-l commented on #126
`php -r "echo ini_get('memory_limit').PHP_EOL;"` shows **64MB** while [Drupal Status Report](https://csis.myclimateservice.eu/admin/reports/status) shows **1GB** ?!

[2019-11-14 09:19] p-a-s-c-a-l opened #127 "Upgrade Docker Image"
Upgrade custom Docker Image to latest Drupal Version and re-create containers.

[2019-11-14 09:22] p-a-s-c-a-l commented on #127
Never change a running system:

[code]

 [Docker having issues installing apt-utils](https://stackoverflow.com/questions/51023312/docker-having-issues-installing-apt-utils).

[2019-11-14 09:29] p-a-s-c-a-l commented on #126
Solution: add `ENV COMPOSER_MEMORY_LIMIT=-1` to [Dockerfile](https://github.com/clarity-h2020/docker-drupal/blob/dev/drupal/Dockerfile).

[2019-11-14 09:29] #126 closed, assigned to p-a-s-c-a-l

[2019-11-14 09:33] p-a-s-c-a-l commented on #127
done

[2019-11-14 09:33] #127 closed, assigned to p-a-s-c-a-l

[2019-11-15 15:58] DenoBeno commented on #126
This is a common issue - Drupal with plenty of modules eats a lot of memory.

On Thu, 14 Nov 2019 at 10:30, Pascal Dihé <notifications@github.com> wrote:

[2019-11-18 08:47] patrickkaleta opened #128 "Include city codes in our City/Region taxonomy"
Our [city/region taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/cities_regions/overview) so far only stores the Country it belongs to and the EEA city profile name (which btw is missing in 5-10% of our cities -> @humerh or @therter could this cause any troubles for Emikat our our map/table components?).

We noticed some issues with the calculations in Emikat, which are

[2019-11-18 11:11] negroscuro commented on #128
@Heinrich, as we discused already for mortality importing in Atos database, indeed you explained to me, how this codes work, so, what about to remove last 2 digits/letters from a city code which corresponds to city outskirts? so I can provide such fixed city codes for CSIS to import. Is this ok?

![image](https://user-images.githubusercontent.com/6427900/69048541-034de080-09fe-11ea-8c23-4a7fe714c1

[2019-11-19 09:59] DenoBeno commented on #74
Is this still an issue?

[2019-11-20 08:59] patrickkaleta commented on #128
I already added a [City code field](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/cities_regions/overview/fields) to our Cities/Region taxonomy (machine name: `field_city_code`), so that we can store the codes in Drupal. I will now prepare the CSIS helpers module to be able to work with this new field.

[2019-11-21 08:23] therter commented on #128
I have reimported the cities taxonomy with the data from the mortality layer. The field City code is filled, now.

[2019-11-21 09:29] patrickkaleta commented on #128
Ok, from now on the city code is being sent to Emikat with each new Study or Study update, so @humerh you can now do your matching based on the city codes instead of the city names.
![parameters-in-emikat](https://user-images.githubusercontent.com/42167036/69324824-726b4500-0c49-11ea-8402-0cb6fefe52d4.png)

FYI: I've also added the city code to our `$studyInfo` JSON object, just in case that our c

[2019-11-21 09:29] #128 closed, assigned to therter, negroscuro, humerh, patrickkaleta

[2019-11-21 10:08] patrickkaleta commented on #74
This is still very much an issue. Just like @bullz I'm getting several errors ("cannot open librender library", "cannot resolve SSLv3" errors, etc.) when I try do generate a PDF in my local environment.

I'm using the newest build of our CSIS, so I'm sure whether this hasn't been installed/configured correctly in the docker container on our server, or if it's because of the fact that it's just a l

[2019-11-26 08:25] p-a-s-c-a-l opened #129 "Resource Tag Selection Editor not showing all tags"
Newly created term [background-layer](https://csis.myclimateservice.eu/taxonomy/term/5238) of taxonomy [dp_resourcetype](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_resourcetype/overview) is not shown in tag selection UI:

![grafik](https://user-images.githubusercontent.com/1788226/69611576-5e02c000-102e-11ea-9a65-e29945f80c74.png)

[2019-11-26 10:23] p-a-s-c-a-l commented on #129
OK, it seems that this is not a bug but a feature: I had to **manually** add the new taxonomy term to [this entityqueue](https://csis.myclimateservice.eu/admin/structure/entityqueue/dp_tags/list).

[2019-11-26 10:23] #129 closed, assigned to fgeyer16, patrickkaleta

[2019-11-27 13:50] patrickkaleta commented on #74
### FYI:

I had a bit of time to get back to this issue, but I noticed, that the report generation is currently not working on the dev server:
![print-error](https://user-images.githubusercontent.com/42167036/69728241-6d643500-1124-11ea-9530-c65915d971b9.png)

To find the missing libraries I followed [these instructions](https://www.cyberciti.biz/faq/debian-ubuntu-linux-wkhtmltopdf-error-while-loa

[2019-11-27 16:31] p-a-s-c-a-l commented on #74
I'll update the docker image and include `libxrender1` `libfreetype` and `libssl1.0-dev`.

[2019-11-27 16:34] p-a-s-c-a-l opened #130 "Install additional libraries"
Update the [Dockerfile](https://github.com/clarity-h2020/docker-drupal/blob/dev/drupal/Dockerfile) and install `libxrender1`, `libfreetype` and `libssl1.0-dev` as described [here](https://github.com/clarity-h2020/docker-drupal/issues/74#issuecomment-536446853).

[2019-12-10 14:20] p-a-s-c-a-l commented on #130
ERROR: Unable to locate package libfreetype

[2019-12-10 14:30] p-a-s-c-a-l commented on #74
I've added the libraries libxrender1, libfreetype**6** and libssl1.0-dev to the [docker image](https://github.com/clarity-h2020/docker-drupal/issues/130) and recreated the containers. PDF generation is still not working:

`Error generating document: Failed to generate PDF: /app/vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64: error while loading shared libraries: libfontconfig.so.1: cannot ope

[2019-12-10 16:28] p-a-s-c-a-l commented on #130
libfontconfig was missing, too. See https://github.com/uncss/uncss/issues/165

[2019-12-10 16:28] #130 closed, assigned to p-a-s-c-a-l

[2019-12-10 16:34] p-a-s-c-a-l commented on #74
Problem [solved](https://github.com/clarity-h2020/docker-drupal/issues/130#issuecomment-564115396).

[The report](https://github.com/clarity-h2020/docker-drupal/files/3945967/Advanced.Screening.Alba.Iulia.pdf) doesn't look that bad apart from some visual glitches:

![grafik](https://user-images.githubusercontent.com/1788226/70548465-d8752900-1b72-11ea-80c3-42bc28801322.png)

Maybe the title is jus

[2019-12-12 10:13] p-a-s-c-a-l commented on #134
I've remove the filter [in the view](https://csis.myclimateservice.eu/admin/structure/views/view/view_presets_and_edit/edit/block_1), because *Study Scenarios* (presets) are a prerequisite for *Template Resources*. **So each study regardless of its type and calculation method now needs at least one Study Scenario!**

However, that did not work, I still cannot select a study scenario in context alt

[2019-12-20 14:52] p-a-s-c-a-l opened #131 "Chrome Cookie Havoc"
The next release of Chrome may break our external components integrated as iFrame if they are served from a different domain that CSIS:

During development, react applications are typically served from http://localhost:3000/
This won't work any longer when the new security feature is implemented in Chrome. Thus we have to modify the cookies created by Drupal Core.

[2020-01-06 07:48] p-a-s-c-a-l opened #132 "Could not delete web/modules/contrib/group/PATCHES.txt"
`composer update` fails with:

`- Updating drupal/group (1.0.0-rc4 => 1.0.0-rc5):     Update failed (Could not delete web/modules/contrib/group/PATCHES.txt: )`

No sure if this is related to the patches in `/docker/100-csis/drupal-data/patches`. Probably it's just a permission problem.

Anyway, I recommend to check `composer.patches.json`whether those patches are still needed for the installed ver

[2020-01-08 09:15] p-a-s-c-a-l commented on #133
Closing since the problem didn't appear again.

[2020-01-08 09:15] #133 closed, assigned to p-a-s-c-a-l, therter, patrickkaleta

[2020-01-08 09:21] p-a-s-c-a-l opened #135 "No selection of Study Scenarios in Basic Screening Studies"
Cannot select study scenarios (fka "presets") in studies of type "Basic Screening: General". See https://github.com/clarity-h2020/csis/issues/109#issuecomment-564940916

[2020-01-09 08:54] patrickkaleta commented on #132
**Solved.**
I ran `composer update drupal/group`, which updated that specific module without any problems. But for whatever reasons this also caused some other unrelated modules to be downgraded.

Running `composer update` afterwards reverted those downgrades and also updated all other remaining outdated modules.

Yes, this file is related to it, but it's always being generated automatically so I

[2020-01-09 08:54] #132 closed, assigned to fgeyer16, patrickkaleta

[2020-01-09 09:08] patrickkaleta commented on #135
Seems like the View responsible for the study scenario selection is not yet configured for the **Study-Context tab** but only for the **individual GL-steps tabs**. I'll take care of this.

~But if I remember correctly the study scenario selection used to be part of the overall **Context edit-form**. Why was it removed from there?~

**Update:** Ok, I understand now. Study scenarios were removed fro

[2020-01-09 09:50] patrickkaleta commented on #135
IMO this is now fixed in a suitable manner (probably now also #134?). For all Study types it is now possible to select a Study scenario in the Study-Context tab via the Context edit-form.

**Affected/changed (form) displays:**
- [Study Context form](https://csis.myclimateservice.eu/admin/group/types/manage/study/form-display/context)
- [Study Context display](https://csis.myclimateservice.eu/admin

[2020-01-09 09:52] patrickkaleta commented on #134
See comment [#1](https://github.com/clarity-h2020/docker-drupal/issues/135#issuecomment-572463144) and [#2](https://github.com/clarity-h2020/docker-drupal/issues/135#issuecomment-572479816) for recent updates relevant to this issue.

[2020-01-09 10:01] #135 closed, assigned to DenoBeno, patrickkaleta

[2020-01-09 10:03] p-a-s-c-a-l commented on #134
Hm, when visiting https://csis.myclimateservice.eu/study/30/step/1613/view/maps I get now:

![grafik](https://user-images.githubusercontent.com/1788226/72058026-b553ab80-32cf-11ea-86d1-b1073e917fb5.png)

[2020-01-09 10:10] patrickkaleta commented on #134
The real problem is, that Study 30 has been removed. The error message is just very misleading.

[2020-01-10 14:20] patrickkaleta commented on #131
I'm not sure how/if the next Chrome release (Chrome v.80 supposed to be released February 4th) will affect our CSIS instance.

I enabled some settings in my current Chrome v.79 (enabled **"SameSite by default cookies"** and **"Cookies without SameSite must be secure"** options via visiting `chrome://flags` ) to simulate the upcoming changes, but table and map component seemed to be still working f

[2020-01-10 14:26] patrickkaleta commented on #131
Nonetheless, modifying our CSIS cookies (setting the `sameSite=None` attribute) could be done directly on our Apache server instead of the Drupal instace. The `secure` attribute should be set by Drupal 8 automatically when using https, so modifying that shouldn't be necessary.

@fgeyer16 do you have an idea how we can manage/modify the cookies on a Drupal-level?

[2020-01-12 20:13] fgeyer16 commented on #131
I did not find any useful information how to set this attribute in Drupal 8. Drupal seems to be there on the safe side.  If it is  possible to set this in apache then I think this is the solution for the moment. Hopefully we do not catch some security hole doing so.

[2020-01-13 10:07] patrickkaleta commented on #131
What I found online for our problem was the following, which needs to be added to the Apache config file:
[code]
This works for my localhost (had to enable the headers module in my Apache, not sure how it is configured on our server) and I was able to either set **None, Lax** or **Strict** for the `sameSite` Attribute.

 **Though I'm not experienced with configuring Apache servers, so I'm not sure

[2020-01-14 10:44] p-a-s-c-a-l commented on #55
``
The Google Maps Platform server rejected your request. This IP, site or mobile application is not authorized to use this API key. Request received from IP address xxxxxxxxx, with referer: https://maps.googleapis.com/maps/api/staticmap?size=650x400&scale=1&zoom=5&language=en&maptype=roadmap&markers=color:0xFF0000|size:normal|59.333759%2C18.074999&sensor=false&key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[2020-01-14 11:20] Itsman-AT commented on #55
I will check it now.

[2020-01-14 11:24] Itsman-AT commented on #55
First find: Quota does not seem to be exceeded:

[2020-01-14 11:39] Itsman-AT commented on #55
Hm, for me the above link works with the Google Maps API key:

![grafik](https://user-images.githubusercontent.com/41750112/72341537-cf73fc00-36ca-11ea-88a2-946f9ddeae80.png)

[2020-01-14 11:40] Itsman-AT commented on #55
Although there seem to have been errors in the past:

![grafik](https://user-images.githubusercontent.com/41750112/72341628-fe8a6d80-36ca-11ea-8755-4a83087e5dca.png)

and I do not know what this graph means:

![grafik](https://user-images.githubusercontent.com/41750112/72341671-17931e80-36cb-11ea-8fd1-27bac98bdffc.png)

[2020-01-14 12:11] Itsman-AT commented on #55
I am investigating on the 100% error value.

[2020-01-14 13:27] p-a-s-c-a-l commented on #55
Works in _Chrome. Probably a firefox issue. They added a lot of tracking protection functionality lately.

O.K. And what happens on day 58? :-)

[2020-01-14 13:32] Itsman-AT commented on #55
AIT DRC would have to pay the bill :-) - not a good solution ;-)

[2020-01-15 10:22] patrickkaleta commented on #131
Found an example, where this new Chrome behaviour will cause troubles:
https://csis.myclimateservice.eu/study/55/step/1952/view/maps

We will probably have to change the Cookie configuration on the **profile.myclimateservice.eu** and **clarity.saver.red** servers as well.

[2020-01-16 17:07] fgeyer16 commented on #131
Changed the cookie configuration on Profile.

[2020-01-16 17:27] fgeyer16 commented on #131
I did some testing.
Upgraded the test cas user to admin temporarily, so that he can see the map and logged in via cas.
Result is the same as in https://github.com/clarity-h2020/csis/issues/122#issuecomment-572103154
I see the login form of profile,myclimateservices.eu in the Iframe but even if I enter the credentials again. TheIframe will stay at the login form.

[2020-01-17 09:04] DenoBeno opened #136 "Workflow for adding data packages fails due to wrong "next" link."
Months ago I configured a workflow for adding data packages on https://csis.myclimateservice.eu/admin/config/workflow/forms_steps/edit/data_package_form_steps?destination=/admin/config/workflow/forms_steps

I tried to enable it again yesterday and the result is:

1. adding the DP on /dp/add works ok
2. on second step, "access denied" error is shown. This error is misleading, the real issue is that

[2020-01-17 09:34] p-a-s-c-a-l opened #137 "Setup cypress.io UI Tests"
Setup cypress.io UI Tests for CSIS

- [ ] [Fix Jenkins issues](https://github.com/clarity-h2020/csis/issues/8#issuecomment-575546178)
- [ ] create new GitHub Jenkins users
- [ ] create 1st simple UI tests (Jenkins Job)

[2020-01-20 06:33] fgeyer16 commented on #136
I do not have this issue on market place as well.
I checked the workflow list (https://csis.myclimateservice.eu/admin/config/workflow/forms_steps/workflows/list) and it seems the module starts creates a new step 1 every time. Strange needsfurther investigations concerning redirection.
Any redirect moduleinstalled? I did not se any but ask to be sure.

[2020-01-20 06:40] fgeyer16 commented on #125
I think
this depends how many test content is in the system. Hunting down dependencies for import in an empty system can be as many work as hundting down the existing content and delete it.

[2020-01-20 11:24] DenoBeno commented on #136
None that I know of. Maybe Patrick knows more.

fgeyer16 <notifications@github.com> schrieb am Mo., 20. Jan. 2020, 07:33:

[2020-01-20 12:29] DenoBeno commented on #125
I would prefer to start without any studies in the operative system. And with only a few template steps.

For the rest, I'm not sure. I suppose that we will need all the taxonomy terms, but how about resources and data packages?

The data used by the twins should probably be moved to the marketplace, with CSIS fetching a copy of this data in nightly syncing?  Other?

[2020-01-20 12:36] patrickkaleta commented on #136
I will keep that in mind and try to investigate this issue on my local instance of the CSIS

[2020-01-20 12:37] DenoBeno commented on #136
@patrickkaleta says that he's not aware of any special modules that woudl interfere with the URIs.

Could it be something obvious, e.g. that I forgot to configure something that's needed for this to work? Or some patch?

This is what I posted as a bug report on drupal.org back in september 2019:

 - https://www.drupal.org/project/forms_steps/issues/3084693

Not very helpful I'm afraid. :-(

[2020-01-21 15:12] p-a-s-c-a-l commented on #134
OK, what we would need here is to select one of the named scenario presets created by the user in the study/context tab, but not to edit existing scenario presets or adding new ones.

[2020-01-22 13:59] patrickkaleta commented on #136
So none of our modules or any other contributed module is causing this problem (as far as I can tell).

The problem is somewhere deep within the Forms Steps module itself and/or Drupal Core. The **WorkflowManager** of this module tries to find the fitting workflow by searching for a triplet (**entity_type, bundle, entity_id**):

[code]

I checked the values it's using and they are correct (they ma

[2020-01-23 09:42] p-a-s-c-a-l commented on #131
So, what's the current status of this issue? The [Transport Application](https://github.com/clarity-h2020/csis/issues/134) integrated on [this page](https://csis.myclimateservice.eu/study/55/step/1952/view/maps) will yield the following warning in Chrome:

`A cookie associated with a cross-site resource at http://clarity.saver.red/ was set without the `SameSite` attribute. A future release of Chro

[2020-01-24 15:58] patrickkaleta commented on #134
I agree, that would be a much better solution.

Unfortunately, the Scenario presets are [Paragraphs](https://www.drupal.org/project/paragraphs) (basically a special kind of content similar to Nodes), that don't offer any type of selection, so implementing this will be tricky.

### I think this could work:
- new field "Active scenario" or "Selected scenario" of type `text_list`, which will store th

[2020-01-27 08:22] fgeyer16 commented on #136
Hm I patched src/Forms/FormsStepsAlter.php to be able to redirect to the workflows entity:
[code]
 @patrickkaleta can you try out what happens on your local csis instance if you apply this patch as well? I do not think this solves it but who knows...

[2020-01-27 08:33] patrickkaleta commented on #136
I will try it and let you know of the result.

[2020-01-27 08:34] fgeyer16 commented on #136
@patrickkaleta can you make a kint(), var_dump, \Drupal::logger, whatever to print out the $Workflows varible created with all parameters and with only two?

[2020-01-27 08:50] patrickkaleta commented on #136
using all the 3 parameters I get `Null`, since no workflows are found. Using just two parameters, I get the workflow object:
![workflows-entity](https://user-images.githubusercontent.com/42167036/73160775-2d044180-40ea-11ea-9cc7-2fdf20546256.png)

The shown values (id, bundle, form_mode,...) match what is found on the "Workflow Instances list".

[2020-01-27 13:53] patrickkaleta commented on #136
The problem is that a wrong query is being generated by Drupal and therefore no workflow is found (the `bundle` should be 'data_package' ):
![postgres-query-bug](https://user-images.githubusercontent.com/42167036/73179117-f858b000-4112-11ea-9dde-327810806a7f.png)

**Apparently it's a known Drupal Core bug (posted 4 years ago) affecting sites with a Postgres db** ([Issue description](https://www.dr

[2020-01-30 09:43] patrickkaleta commented on #134
Proposed changes in my previous comment are now implemented.

Study owners can now define up to 5 scenarios (rather start low, since raising the limit is no problem, but reducing it can be problematic), which then appear in the select lists of the individual GL-steps.

**Involved elements in this new feature:**
- [view](https://csis.myclimateservice.eu/admin/structure/views/view/study_scenarios/ed

[2020-01-30 09:54] patrickkaleta commented on #134
IMO this issue can now be closed.

[2020-01-30 09:54] #134 closed, assigned to DenoBeno, patrickkaleta

[2020-02-07 14:04] p-a-s-c-a-l commented on #125
O.K. then. I've copied the complete database to the new PROD and DEV systems since, there seems no simple way to initialise a clean system from scratch.

[2020-02-08 19:47] DenoBeno commented on #120
We are using form steps in three sites outside this one, including the marketplace - it always works except here. Florian tried to find out why, but this has led nowhere.

Postponed until some better time.

[2020-02-19 12:35] p-a-s-c-a-l commented on #55
IMHO this is revolved and can be closed?

[2020-02-19 12:57] p-a-s-c-a-l commented on #72
Perhaps we could go for something really simple as used in the [Marketplace](https://marketplace-dev.myclimateservices.eu/offers/add)?

![grafik](https://user-images.githubusercontent.com/1788226/74836409-a5dc6f00-531f-11ea-9d72-bc5088fd3f87.png)

[2020-02-19 12:57] p-a-s-c-a-l commented on #74
good enough

[2020-02-19 12:57] #74 closed, assigned to bullz, p-a-s-c-a-l, fgeyer16, patrickkaleta, DanielRodera

[2020-02-19 12:58] p-a-s-c-a-l commented on #82
There won't be any premium data packages, so closing.

[2020-02-19 12:58] #82 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2020-02-19 12:59] p-a-s-c-a-l commented on #108
Didn't run in the problem again -> can be closed

[2020-02-19 12:59] #108 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2020-02-19 13:00] p-a-s-c-a-l commented on #118
There a no plans to do that.

[2020-02-19 13:00] #118 closed, assigned to DenoBeno, patrickkaleta

[2020-02-19 13:02] p-a-s-c-a-l commented on #119
No activities since 30 Sep 2019, so most likely a *wontfix*. Closing.

[2020-02-19 13:02] #119 closed, assigned to DenoBeno, patrickkaleta

[2020-02-19 13:03] p-a-s-c-a-l commented on #120
Is this till relevant or can we close the issue?

[2020-02-19 13:04] p-a-s-c-a-l commented on #122
Is this still required / feasible to achieve in the remaining time? Does it provide real added value ? If not, please close.

[2020-02-19 14:36] p-a-s-c-a-l commented on #125
If there is no easy way to clean up the system, we have at least to unpublish all content (test studies, test data packages, test resources, outdated solution offers, etc.) that should not be visible to end users in the public system. Also related to https://github.com/clarity-h2020/csis/issues/130

[2020-02-19 19:43] Itsman-AT commented on #55
@p-a-s-c-a-l : Yes, please close the issue. We will handle this AIT internally.

[2020-02-20 07:02] #55 closed, assigned to Itsman-AT, patrickkaleta

[2020-02-21 09:58] patrickkaleta opened #138 "Importing/Exporting configuration between Dev and Prod environment"
**NOTE:** This issue discusses how to migrate configuration (e.g. site configuration like caching, configuration of Views and display & form modes, available fields in content types, ...) **but not** actual content (node A, Tax. term B). That is adressed in a separate issue (#147).

We're using the [Configuration Split](https://www.drupal.org/project/config_split) module to manage, which configura

[2020-02-21 09:58] #138 closed, assigned to nobody

[2020-02-21 10:01] p-a-s-c-a-l opened #139 "Error when adding new scenario in study context"
I've added a new scenario by editing the [study context](https://csis.myclimateservice.eu/study/54/view/context):

![grafik](https://user-images.githubusercontent.com/1788226/75023755-9fbdce00-5498-11ea-9428-adfc173e1e14.png)

The following error occurred:

    Warning: array_flip(): Can only flip STRING and INTEGER values! in Drupal\Core\Entity\EntityStorageBase->loadMultiple() (line 266 of core/

[2020-02-21 15:51] patrickkaleta commented on #72
@fgeyer16 WDYT? Would it be possible?

[2020-02-21 15:55] patrickkaleta commented on #122
Heinrich, Mauro and me are currently discussing how to implement the Cost-Benefit analysis (baseline scenario vs. scenario with an adaptation option chosen). Not sure, how much of that will/can be implemented, but I'm expecting some decisions within the next 1-2 weeks.

[2020-02-21 16:23] patrickkaleta commented on #120
Duplicate of #136

[2020-02-21 16:23] #120 closed, assigned to fgeyer16

[2020-02-21 16:25] patrickkaleta commented on #139
Strange. Denis experienced the [same](https://github.com/clarity-h2020/csis/issues/136). I though I found the problem and fixed that. Need to look into that again...

[2020-02-24 06:39] fgeyer16 commented on #72
This really simple thing comes from the forms_steps module so if we want to habe this issue: #136 .
Is this about editing or viewing?

[2020-02-24 09:52] fgeyer16 opened #140 "SingleSignOn fails on users"
Users are not able to log in via CAS.

[2020-02-24 10:42] p-a-s-c-a-l opened #141 "Usability Showstoppers"
Here we collect usability-related showstopper issues that have to be resolved before we can release the [public BETA release](https://github.com/clarity-h2020/csis/issues/145) of CSIS and perform the [internal acceptance tests](https://github.com/clarity-h2020/csis-technical-validation/issues/1).

[2020-02-24 10:53] p-a-s-c-a-l commented on #141
We have to remove or hide all non-working and dysfunctional study types:

![grafik](https://user-images.githubusercontent.com/1788226/75146278-0d693480-56fb-11ea-8a7a-550b578a0f18.png)

In fact, the only study types that will soon become usable by external users are are **Basic Screening: General** and **Automated Screening: Urban Infrastructure**. Expert Studies are currently for our DCs only. So

[2020-02-24 11:00] patrickkaleta commented on #141
Yes, this has already be resolved. A "normal" logged in user can see only these study types:
![select-studytype](https://user-images.githubusercontent.com/42167036/75147086-d1cf6a00-56fc-11ea-9225-3fdf9b467340.png)

I will deactivate the "Advanced Screening: Transport Infrastructure" until the [integration of the TM](https://github.com/clarity-h2020/csis-helpers-module/issues/19) is done.

BTW: #1

[2020-02-24 14:07] p-a-s-c-a-l opened #142 "Error when saving study context"
When editing and trying to save the study context at https://csis.myclimateservice.eu/group/109/edit/context?destination=/study/109/view/context, the following error occurred:

![grafik](https://user-images.githubusercontent.com/1788226/75158731-0d772d80-5717-11ea-9c8a-2de32eb08b63.png)

LINE 5: ...omy_term__field_country.field_country_target_id = &#039;_none&#039;)) ...

[2020-02-24 14:30] patrickkaleta commented on #142
Definitely the cause of this problem. Seems like we're having another issue with [Dependent Fields](https://www.drupal.org/docs/8/modules/business-rules/advanced-usage/dependent-field). [Bug ](https://www.drupal.org/project/business_rules/issues/3079452) was already reported, but so far no fix available. To me it seems like Dependent Fields are bypassing the default validation checks (or at least

[2020-02-24 14:44] p-a-s-c-a-l commented on #141
Add Study and Edit Study Forms are different but probably they shouldn't:

![grafik](https://user-images.githubusercontent.com/1788226/75158188-e409d200-5715-11ea-8cd2-b0b078ca733c.png)

Most of the information in the Edit Study Form are **required** for successfully performing or assessing a study (country, city, scenarios). But those important settings are "hidden" behind the "edit" Button of th

[2020-02-24 14:49] p-a-s-c-a-l commented on #72
Unfortunately, now this doesn't seem enough as [fundamental usability issues](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-590354829) have to be addressed asap. So if it is easily possible to disable steps based on a condition (no country selected yet, EMIKAT calculation not finished yet, ...), we should do it. If not, we have to find another pragmatic solution for these

[2020-02-24 19:07] fgeyer16 commented on #140
This issue seems to be caused by users loosing CAS permission..
@p-a-s-c-a-l  your user had no "Allow user to log in via CAS" set. So SSO was disabled. I set this in your profile again.

Can you please check if SSO now works for you?

[2020-02-25 06:46] p-a-s-c-a-l commented on #140
Now, it's working, thanks!

[2020-02-25 07:41] p-a-s-c-a-l commented on #141
Coming back to country selection, there are two usability issues:

![grafik](https://user-images.githubusercontent.com/1788226/75223947-d4d36480-57a7-11ea-9c84-5a9c95729d64.png)

The first, more serious one is related to the [recalculation of HC-LE input layers](https://github.com/clarity-h2020/emikat/issues/32): The city selection box must contain cities only, that are guaranteed to be available

[2020-02-25 10:22] p-a-s-c-a-l commented on #141
O.K. I completely forgot that we've got those videos:

- [The CLARITY methodology explained](https://www.youtube.com/watch?v=_MvO_MqTPA0)
- [CLARITY CSIS: Create a profile](https://www.youtube.com/watch?v=PQOr0diQrPI)
- [CLARITY CSIS: Create a study](https://www.youtube.com/watch?v=AyfIRvPuZOM)

While this doesn't solve the most obvious usability issues, users can get at least an impression on how

[2020-02-25 10:27] patrickkaleta commented on #141
It is possible to manage the City taxonomy by hand. [Here](https://csis.myclimateservice.eu/maintenance/cities_regions) you can check for all cities the status and either publish or unpublish them. But with each re-generation using the process implemented by @therter this manual configuration of the taxonomy will be lost.

[2020-02-25 10:47] p-a-s-c-a-l commented on #141
Users are able to create invalid study scenarios, e.g. by selecting a RCP even if the time period is historical:

![grafik](https://user-images.githubusercontent.com/1788226/75239860-b2e7db00-57c3-11ea-9c9f-6cd4b16e06f5.png)

Is there any possibility to implement a quick and simple validation for that? Otherwise we have to find another solution. e.g. at least add a static warning message. Or maybe

[2020-02-25 14:50] p-a-s-c-a-l commented on #141
Users **must not** be able to select a data package that will not work with the current study type:

![grafik](https://user-images.githubusercontent.com/1788226/75241177-eb88b400-57c5-11ea-8734-38a33a30b1a0.png)

ATM, just the **European Wide Data Package** is usable with the **Automated Screening: Urban Infrastructure** study.

Note: This usability issue is already resolved in in https://github.c

[2020-02-26 09:35] p-a-s-c-a-l commented on #141
Vulnerability ... This is still kind of a black box. No vulnerability-related resources available in the [European Data Package](https://csis.myclimateservice.eu/node/682), thus Data Tab for VA step is empty. Moreover, the vulnerability functions in the table look just like examples, not like real vulnerability functions (*TODO: add some text*):

![grafik](https://user-images.githubusercontent.com

[2020-02-26 10:05] p-a-s-c-a-l commented on #141
Twins ....

We've invested quite some effort in the implementation of the twins functionality, but without ever having a clear concept for getting real content (Hazard Twins, Exposure Twins) into the system. I don't think that this has changed and that there plans for (automatically) importing some Hazard Twins and Exposure Twins from data sources in the near future (=ASAP) @Itsman-AT ?

Without d

[2020-02-26 14:04] #140 closed, assigned to fgeyer16

[2020-03-02 12:33] p-a-s-c-a-l opened #143 "Customise PDF Reports"
Users should be able to add comments and documents to each workflow step and thus to the final PDF report. One comment and one document per step should be enough.  Documents should be something that can be **embedded** in PDFs, so this would probably exclude everything that's not an image.

Additionally, there are also requests for uploading a complete **final report** as  PDF for the [Transport S

[2020-03-02 12:33] p-a-s-c-a-l commented on #143
Although this this has already been requested during the last plenary meeting, it's not so urgent at the moment.

[2020-03-02 12:42] p-a-s-c-a-l commented on #141
Not a real showstopper, but something that should be fixed:

![grafik](https://user-images.githubusercontent.com/1788226/75677300-68ff6900-5c8b-11ea-930d-b37d05939877.png)

Scenario Selection is not needed here, in fact, it has no influence on the list of adaptation options, so it should be hidden.

[2020-03-06 10:57] therter commented on #141
Regarding  [this ](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-590727856) issue

I have created the script republish.sh. This script unpublishes all cities, which are not contained in the [city shape file](http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:city&outputFormat=SHAPE-ZIP) or the field heat_wave is false.

To run

[2020-03-09 10:16] patrickkaleta opened #144 "Importing/Exporting taxonomy terms between Dev and Prod environment"
**UPDATE: This will serve as a plan B. The preferred way for importing/exporting taxonomy terms will be via Migrate, since that is also used for synchronizing content types.**

For the import and export of taxonomy terms (EU-GL definitions, Study type definitions, hazards, el. at risk,...) we can use the [Structure sync](https://www.drupal.org/project/structure_sync) module as an alternative to th

[2020-03-09 10:16] #144 closed, assigned to nobody

[2020-03-09 15:02] p-a-s-c-a-l commented on #141
![grafik](https://user-images.githubusercontent.com/1788226/76227210-3fac8300-621f-11ea-945e-f9151fdb6af9.png)

This footer should be removed as it is no longer needed.

[2020-03-10 09:04] p-a-s-c-a-l commented on #141
No a real showstopper but still annoying: We should disable the quick edit module (which [doesn't seem that easy](https://drupal.stackexchange.com/questions/192506/how-do-i-disable-the-quick-edit-module)).

**Reason:** Regular Users don't see it (but the JS is executed in the background) and admins don't need it. This module seems to inject a lot of AJAX stuff into the pages which makes page loadi

[2020-03-10 13:12] p-a-s-c-a-l commented on #141
[Toggle edit](https://github.com/clarity-h2020/csis/issues/104#issuecomment-597057220) of Map Component can cause too many [EMIKAT re-calculations](https://github.com/clarity-h2020/emikat/issues/34). See also https://github.com/clarity-h2020/map-component/issues/87

[2020-03-11 13:01] p-a-s-c-a-l commented on #141
Re(Calculation) is a serious issue. There is no clear indication when and why a re-calculation was triggered or not, e.g. it is not triggered when no data package is set, it is **immediately** triggered when the user [changes the box of the study area in the map](https://github.com/clarity-h2020/map-component/issues/87), etc. So [this feature](https://github.com/clarity-h2020/emikat/issues/34#issu

[2020-03-16 11:00] patrickkaleta commented on #141
For now, I've added a text under the emission scenario selection telling the users to select meaningful combinations. Other solutions would require changing the data model, which would also require changes in the CSIS helpers module, so that it could continue to provide the selected scenario in the `$studyInfo` object.
If we find the time, we can adress this issue at some later point.

[2020-03-16 11:03] patrickkaleta commented on #141
This footer is created in a [custom block](https://csis.myclimateservice.eu/block/3?destination=/admin/structure/block/block-content), which I've now disabled.

[2020-03-16 11:21] patrickkaleta commented on #141
Quick edit module is **now uninstalled** (in the mentioned link, the person actually wanted to get rid of all edit icons, not just the quick-edit).

The error message "_Uncaught DOMException: Failed to execute 'setItem'.._." is now gone.

[2020-03-23 12:23] patrickkaleta commented on #123
Not relevant anymore. Such bugs never occured in any other places.

[2020-03-23 12:23] #123 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2020-03-25 09:39] p-a-s-c-a-l opened #145 "Reliable Country Selection"
Coming back to country selection, there are two usability issues:

![grafik](https://user-images.githubusercontent.com/1788226/75223947-d4d36480-57a7-11ea-9c84-5a9c95729d64.png)

The first, more serious one is related to the [recalculation of HC-LE input layers](https://github.com/clarity-h2020/emikat/issues/32): The city selection box must contain cities only, that are guaranteed to be available

[2020-03-25 10:12] therter commented on #145
This can be solved by a script that I have created. See [here](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-595716301).
But I have seen that the structure of the [city shape file](http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:city&outputFormat=SHAPE-ZIP) that is updated by @negroscuro, when new cities become available,  h

[2020-03-25 13:46] p-a-s-c-a-l commented on #145
Yes, but currently it's not automated. ATM city data is [being regenerated](https://github.com/clarity-h2020/emikat/issues/33#issuecomment-603783702), so the list of cities has to be updated regularly.

[2020-03-30 11:18] p-a-s-c-a-l opened #146 "Google Maps API Key expired"
Now we ran into the avoidable problem described [here](https://github.com/clarity-h2020/docker-drupal/issues/55#issuecomment-574129603) and [here](https://github.com/clarity-h2020/csis/issues/113#issuecomment-574177688):

This affects the "Twins" Maps and the Spatial Coverage Maps in Data Packages and Resources. I assume it's not easily possible to replace those maps by something like leaflet or O

[2020-03-30 13:10] Itsman-AT commented on #55
@DenoBeno : Did you already create a DSS Google Maps Billing Account for Clarity? The Key expired now which is unfortunate. Can I be of any help?

[2020-04-10 08:18] patrickkaleta opened #147 "Importing/Exporting content between Dev & Prod"
NOTE: This issue discusses how to migrate actual content (nodes like data packages, resources etc. and taxonomy terms like the EU-GL taxonomy for example). Synchronizing configuration is discussed in issue #138 and **needs to be completed BEFORE synchronizing content.**

### Overview
For synchronizing content we use the [Migrate ](https://www.drupal.org/docs/8/api/migrate-api/migrate-api-overview)

[2020-04-10 08:18] #147 closed, assigned to nobody

[2020-04-15 09:07] patrickkaleta opened #148 "Update Drupal Core and modules"
I found a [blog post](https://blog.42mate.com/update-drupal-core-from-8-7-to-8-8-with-composer/) describing step-by-step how to upgrate to current 8.8 version of Drupal. I tested this locally and upgrade worked as supposed. In addition, I then also updated the remaining modules and fixed/removed our list of appended patches. All went well and CSIS seems to be running stable without any side-effect

[2020-04-17 06:02] patrickkaleta commented on #148
Done! Drupal is now running current 8.8.5 version and all modules are up-to-date.

[2020-04-17 11:37] p-a-s-c-a-l commented on #146
Any news about that?

[2020-04-21 10:54] p-a-s-c-a-l commented on #146
@DenoBeno we cannot make a [BETA release of CSIS](https://github.com/clarity-h2020/csis/issues/145#issue-567632298) before this has been resolved: there will be no Twins Google Maps. Alternative, we can remove / unpublish all Twin Tabs from study templates as proposed [here](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-591344047) in PROD instance and re-enable them again

[2020-04-21 11:12] p-a-s-c-a-l commented on #145
Any updates?
Perhaps this can be combined with [synchronisation](https://github.com/clarity-h2020/csis/issues/135)? @patrickkaleta

How is synchronisation triggered? Manually or by a cron-job? In any case we could include @therter's `republish.sh` in the process so that the cities taxonomy is updated in DEV right before the synchronisation starts and then the updated taxonomies are synchronised to

[2020-04-22 09:51] therter commented on #145
I have added the script to the repo

[2020-04-22 12:37] patrickkaleta commented on #145
I believe I found a possible solution for that problem. Instead of showing the overall taxonomy list for countries in the [Study country field](https://csis.myclimateservice.eu/admin/group/types/manage/study/fields/group.study.field_country), I can place a View inbetween, which filters out unpublished countries. The result would be that only published Countries (for which available Cities exist) w

[2020-04-22 12:51] patrickkaleta commented on #145
For now, it's set to be triggered manually by running the pull_content.sh script in the target docker environment, which runs the individual `drush migrate` commands in the necessary order.

If configurations have changed (field & content type settings, Views, etc.), it's necessary to first synchronize the configuration, for which in turn it might be first necessary to run a composer update (in ca

[2020-04-23 07:42] therter commented on #145
I have added the code for publishing/unpublishing countries to the function that publish/unpublish the cities. See [here](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-595716301)

[2020-04-23 13:36] therter commented on #145
@patrickkaleta I have unpublished the country 'Andorra', but it is still shown in the combobox.

![Auswahl_156](https://user-images.githubusercontent.com/1788509/80104133-9cb58b80-8576-11ea-90c6-7578ba1f37ed.png)

[2020-04-23 13:36] therter commented on #145
@patrickkaleta I have unpublished the country 'Andorra', but it is still shown in the combobox.

![Auswahl_156](https://user-images.githubusercontent.com/1788509/80104133-9cb58b80-8576-11ea-90c6-7578ba1f37ed.png)

[2020-04-23 13:39] therter commented on #145
@patrickkaleta I have unpublished the country 'Andorra', but it is still shown in the combobox.

![Auswahl_156](https://user-images.githubusercontent.com/1788509/80104133-9cb58b80-8576-11ea-90c6-7578ba1f37ed.png)

[2020-04-23 14:03] therter commented on #145
@patrickkaleta I have unpublished the country 'Andorra', but it is still shown in the combobox.

![Auswahl_156](https://user-images.githubusercontent.com/1788509/80104133-9cb58b80-8576-11ea-90c6-7578ba1f37ed.png)

[2020-04-24 07:57] patrickkaleta commented on #145
@therter  Sorry, for the misunderstanding. I prepared the necessary View but didn't switch to it until getting feedback. Now this new mechanism is active and in the Country selection box I can see roughly 30 countries.

In the "Maintenance" overviews I've added a [list of the Countries](https://csis.myclimateservice.eu/maintenance/countries), so it's possible to view & change the status of the pub

[2020-04-27 07:30] p-a-s-c-a-l commented on #146
Any updates on the status?

[2020-04-27 07:36] p-a-s-c-a-l commented on #141
Most of the usability showstoppers are resolved now, but one big issue remains [Twins](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-591344047). Apart form the lack of useful content, the Twins Map isn't working properly due missing [API key](https://github.com/clarity-h2020/docker-drupal/issues/146):

![grafik](https://user-images.githubusercontent.com/1788226/80345880-2b

[2020-04-30 13:30] NICDDB commented on #139
Me too i've this problem. And also the calculation does not start

<img width="762" alt="Schermata 2020-04-30 alle 15 27 53" src="https://user-images.githubusercontent.com/60875355/80715843-38a34200-8af7-11ea-9e5e-daa2dc1e135b.png">
<img width="1409" alt="Schermata 2020-04-30 alle 15 28 05" src="https://user-images.githubusercontent.com/60875355/80715846-3b059c00-8af7-11ea-92ab-493c743aab6b.png">

[2020-05-04 09:31] patrickkaleta commented on #139
The calculations needs to be triggered manually by clicking on the button on the bottom right side of the screenshot. Study scenarios are not used for the calculation trigger, so it should not be related to this issue.

Still investigating why this error messages sometimes pops up and sometimes not. @NICDDB  What Study exactly is this?

[2020-05-04 09:50] NICDDB commented on #139
Yes i know this, but i don't have a feedback that say me if the calculation start or not. Anyway after clicking the button "start calculation" i check in the hazard characterization - local effect / table and i don't have results.

I'm working on two study
The first is a my study called - Napoli validation study -, that have a olds results in the table.
The second is my study called - Napoli valid

[2020-05-04 10:36] patrickkaleta commented on #139
Sorry, I believe there was an issue with your permissions. Once you click the button, an info-windows should pop up and ask for your confirmation to trigger the calculations:
![trigger-permissions](https://user-images.githubusercontent.com/42167036/80957502-85db2880-8e03-11ea-940c-272b17ff2c58.png)

Only after you confirm that, the calculation is actually triggered.

For the Study "Napoli validati

[2020-05-04 10:51] NICDDB commented on #139
This info-windows has never been until now.
Anyway now the calculation work.
Thanks you @patrickkaleta!

[2020-05-12 13:50] patrickkaleta commented on #146
**Google Maps API Key is no longer required.** We've now switched to the Drupal 8 [Leaflet](https://www.drupal.org/project/leaflet) module, which should offer all the features we were using in the [Geofield Map](https://www.drupal.org/project/geofield_map) module.

**AFAIK** we only used Google Maps for the Twins and the Showcases. In both cases I've adapted the corresponding View to use the new L

[2020-05-12 13:50] #146 closed, assigned to DenoBeno, Itsman-AT, patrickkaleta

[2020-05-12 13:56] patrickkaleta commented on #141
We switched the Twins Maps to use Leaflet now instead, so no Google API key is required anymore.

Regarding the usefulness of the currently available Twins in the system, I don't know for sure how much added value they bring for the users. I don't think they are completely useless, so we might just keep them for now and await initial feedback from users.

[2020-05-13 08:38] p-a-s-c-a-l commented on #145
Thanks! So this can be considered as done.

[2020-05-13 08:38] #145 closed, assigned to therter, patrickkaleta

[2020-05-13 08:54] p-a-s-c-a-l commented on #131
Should be solvable with CSP, see https://github.com/clarity-h2020/csis/issues/134#issuecomment-615116701

[2020-05-13 08:54] #131 closed, assigned to fgeyer16, patrickkaleta

[2020-05-13 09:01] #139 closed, assigned to fgeyer16, patrickkaleta

[2020-05-13 09:03] p-a-s-c-a-l commented on #142
I think we can live with that as a permanent fix. :-)

[2020-05-13 09:03] #142 closed, assigned to fgeyer16, patrickkaleta

[2020-05-13 09:03] #143 closed, assigned to fgeyer16, patrickkaleta

[2020-05-13 09:05] p-a-s-c-a-l commented on #124
resolved

[2020-05-14 09:12] p-a-s-c-a-l commented on #141
Google Maps are also referenced in the Data package / resource views, e.g. here:
https://csis.myclimateservice.eu/study/35/view/data

At least for the data package view having a 2nd map which just shows the spatial coverage of the DP is somewhat redundant. So it might be better to remove at this GoogleMap instead of replacing it by leaflet.

[2020-05-14 09:36] patrickkaleta commented on #141
You're right, there's no need to show the same info twice. I removed the Google map.

[2020-05-14 09:36] #141 closed, assigned to p-a-s-c-a-l, therter, fgeyer16, patrickkaleta

[2020-05-19 08:02] patrickkaleta commented on #122
Closing in favor of [this issue](https://github.com/clarity-h2020/csis/issues/155).

[2020-05-19 08:02] #122 closed, assigned to DenoBeno, patrickkaleta

[2020-06-05 06:33] p-a-s-c-a-l commented on #125
@patrickkaleta @fgeyer16

I'm logged in as 'ordinary' user ([p-a-s-c-a-l](https://csis.myclimateservice.eu/user/183)) in public CSIS, why can I see all those studies even tough I'm not a member of the study groups?

![grafik](https://user-images.githubusercontent.com/1788226/83844283-fb8a2b00-a706-11ea-86dd-1cbc39c71b0d.png)

[2020-06-05 07:41] #72 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2020-06-05 07:43] patrickkaleta commented on #125
Since you're a logged-in user, you get to see all Studies, that have been set to `public` by the Study owners. Only anonymous users cannot see those Studies. They can only see those Studies that have been explicitly whitelisted in the [csis-helpers module settings.](https://csis.myclimateservice.eu/admin/config/csis_helpers/default)

[2020-06-05 07:44] p-a-s-c-a-l commented on #125
O.K. thanks, So I'm going to unpublish the tests studies.

[2020-06-08 07:48] therter opened #149 "Study checklist should be refreshed after selecting a study area"
After selecting a study area, the text "study area: not selected" is still shown on the right side

![Bildschirmfoto vom 2020-06-08 09-36-19](https://user-images.githubusercontent.com/1788509/84004468-e5c96f80-a96b-11ea-9534-0d5a5dd1425d.png)

I don't know what is the best way to do this. Perhaps the save change button can somehow do a refresh of the study checklist. What do you think Patrick?

[2020-06-08 07:52] patrickkaleta commented on #149
Yes, that should be possible. The checklist is generated by an ordinary Drupal View and I think I've already implemented a refresh-trigger in JavaScript somewhere for a different View. Let me look for it.

[2020-06-08 10:54] patrickkaleta opened #150 "Accessing private Git repository via new servers not possible"
After changing the remote origin to our new private Git repository, I'm still unable to push/pull from the DEV server.

I've added a SSH key [as described](https://scm.atosresearch.eu/help/ssh/README#generating-a-new-ssh-key-pair), but trying to push commits to the repo returns the following error now:
[code]

Trying to check whether the SSH key was added successfully (as mentioned in the descript

[2020-06-09 08:01] p-a-s-c-a-l commented on #124
@fgeyer16 Here is another request to improve the [CSIS Acceptance Test](https://github.com/clarity-h2020/csis-technical-validation/issues/1) process, especially for external users.

We need a special role 'CSIS Testing Team' and a respective landing page in CSIS
- for project-internal users belonging to the GitHub [CSIS Testing Team](https://github.com/orgs/clarity-h2020/teams/csis-testing-team) a

[2020-06-09 08:21] patrickkaleta commented on #150
I tested connecting to the repository with my own machine and our old CSIS-server (to rule out the DEV and PROD servers as the source of error), however the connection still fails due to a time out. @maesbri, @DanielRodera any news from you IT department on what could be the problem here?

[2020-06-09 14:17] DanielRodera commented on #150
Hi @patrickkaleta,

I am afraid you cannot make the push by ssh,

Our company´s policy regarding the security doesn't allow external connections (using ssh)

Did you try making a push using https instead of ssh??

[2020-06-10 08:41] fgeyer16 commented on #124
Since this is something which only affects csis and is not dependent on some field on profiles this is best done completely in csis. I have created the role "User admin" on csis.ait.ac.at which can edit users, and assigned this role to @p-a-s-c-a-l (username pascal.dihe) and @DenoBeno (username deno). This users had already the Administrator role but maybe we can then remove this role from them.
T

[2020-06-10 09:44] p-a-s-c-a-l commented on #124
Yes, why not. But now I see a flaw in the general process: When a user creates a fresh account, he/she does not yet belong to the testing group, and will not see the landing page in CSIS until somebody has manually added them to the 'testing' group. Therefore this use case cannot be supported properly:

The proper solution would be to distribute 'special' registration inks or forms for testing use

[2020-06-15 07:04] patrickkaleta commented on #150
Thank you @DanielRodera. ssh seems to be indeed forbidden. Push/pull is possible via https. I've changed the remote origins in both our servers, so that they now use https instead.

[2020-06-15 07:04] #150 closed, assigned to maesbri, patrickkaleta, DanielRodera

[2020-06-18 10:58] patrickkaleta commented on #149
The View responsible for the Checklist is this one [here](https://csis-dev.myclimateservice.eu/admin/structure/views/view/study_group_overview/edit/study_status_block).

To refresh a View from within JS, something like that should do the trick:
[code]

I don't know if you can access the Drupal object inside the Map component or not. If not, you can select the desired View by searching the DOM. The

[2020-06-18 11:07] patrickkaleta commented on #149
Currently, the problem is that this View is restricted by a group permission access check and the refresh via Ajax fails due to that. If the access permission is changed to something else (you can test that on the Dev instance by editing the [View](https://csis-dev.myclimateservice.eu/admin/structure/views/view/study_group_overview/edit/study_status_block) under **Block settings** -> **Access** an

[2020-06-18 11:22] patrickkaleta commented on #149
Another alternative could be to simply directly change the HTML element after the user clicked on one of the buttons in the map component. I could give the Study area field a specific ID, so that you could select and edit the content.

**Edit:**
I've added the ID `status-study-area` to that element. By changing the class `messages-warning` to `messages-status` and the text from "Not selected" to "

[2020-06-18 12:47] therter commented on #149
Thank you, I will try this approach. So that we do not have to change the permissions.

[2020-06-19 17:46] therter commented on #149
This is now working in the dev instance

[2020-06-23 06:02] p-a-s-c-a-l opened #151 "SSO needs to be improved"
I knew this was a bit tricky with CAS login and it could easily become frustrating for users, but now we have a detailed [test report](https://github.com/clarity-h2020/csis-technical-validation/issues/51#issuecomment-646681035) which highlights the main deficiencies with the current SSO/CAS implementation. In summary

This is something that has to be addressed with high priority, otherwise we will

[2020-06-23 10:33] p-a-s-c-a-l commented on #151
See also https://github.com/clarity-h2020/csis-technical-validation/issues/54#issuecomment-647956953 :

[2020-06-23 10:35] p-a-s-c-a-l opened #152 "Local User Profiles in DEV are missing information"
Local User Profiles stored in in **DEV** instance are missing the field `basic_auth_credentials`. I don't know if this is by intention but without this information, access to EMIKAT APIs is not possible.

[2020-06-23 13:26] patrickkaleta commented on #152
No the field should not be missing. I've only hidden it in the Edit-form. Reason was that users on DEV should be able to edit their profiles directly (since there is no connection to the central user management system) and I wanted to prevent that users edit the `basic_auth_credentials` by mistake.

But since on DEV we won't have any "normal" users, I'll undo this change to prevent any further con

[2020-06-23 13:30] patrickkaleta commented on #152
The `basic_auth_credentials` field is now visible again. Should it for a user still be empty than it's really missing and has to be added. I expect that this could be the case for some old accounts, for which we forgot to add it manually (like in the case of @ghilbrae's `angela` user).

[2020-06-23 13:53] p-a-s-c-a-l commented on #152
Thanks, Patrick!

[2020-06-23 13:53] #152 closed, assigned to fgeyer16, patrickkaleta

[2020-06-23 21:03] fgeyer16 commented on #151
I walked through @aitdrazen report of registering and SSO testing. Thank you for that feedback! After replaying the registering process I concluded, that session Management works as intended but user guidance and information was a little poor. Following the registration workflow I changed some things:

**Second login after setting the password:** This is necessary because after setting the passwor

[2020-06-24 09:05] p-a-s-c-a-l opened #153 "Edit context usability issue"
https://csis.myclimateservice.eu/study/166/view/context
19.06.2020, 11:15,
![grafik](https://user-images.githubusercontent.com/45260352/85116875-3ff4eb00-b21e-11ea-9ec7-458fbe5bc892.png)

Not sure if the users understands that he has to edit things here (edit button) in order to go further. It might be helpfull to rename the button maybe to "please enter more information here" or "please select yo

[2020-06-24 09:15] p-a-s-c-a-l commented on #153
@claudiahahn is right, it's not clear for the user that he/she **must** edit the study context in order to make further progress in the workflow.

Very quick first fix would be to simply rename the button to something like *"Please enter more details to proceed with your study"*.

Next we could just change the name of the button when **required** context information is missing, or we show a warnin

[2020-06-24 13:55] p-a-s-c-a-l opened #154 "Unable to add hazard index tag to resource"
I've introduced a [new hazard index](https://csis-dev.myclimateservice.eu/taxonomy/hazard/storm/extreme-wind-speed/index/wind98p) and updated the respective [entity queue](https://csis-dev.myclimateservice.eu/admin/structure/entityqueue/dp_tags/hazard_indexes?destination=/admin/structure/entityqueue/dp_tags/list), but now I'm unable to add any hazard index tag to [this resource](https://csis-dev.m

[2020-06-24 15:20] patrickkaleta commented on #154
@p-a-s-c-a-l you've created and linked the new hazard index correctly. But you're clicking on the wrong button (as was I for about half an hour).

You need to confirm your selection of tags by clicking on the "**Add selected**" button. The "**Add Tag**" button triggers a page reload, which leads to your selection getting lost, since it was not yet explicitly confirmed (that's the workflow the Enti

[2020-06-26 05:58] p-a-s-c-a-l commented on #154
Ah, now it worked. Thanks! :-)

[2020-06-26 05:58] #154 closed, assigned to fgeyer16, patrickkaleta

[2020-06-26 11:11] patrickkaleta commented on #153
One complication is that this button is generated for all of our Study types, which have different requirements (e.g. Transport Infrastructure Studies don't require a City at all). So, we would have to handle every Study type separately.

**Therefore as a first fix, I did the following on DEV (see [here](https://csis-dev.myclimateservice.eu/study/60/view/intro) for example):**
- moved the edit but

[2020-07-02 09:48] p-a-s-c-a-l opened #155 "Reuse of Expert Data Packages in Basic Screening Studies"
Each DC was requested to create an 'Expert' Data Package for use with Expert Studies in CSIS. While we don't create Expert Studies for each DC, we could still reuse the [respective Data Packages](https://github.com/clarity-h2020/data-package/issues?q=is%3Aissue+is%3Aopen+label%3Adata) in Basic Screening Studies. The following Data Packages are *potentially* available for reuse:

-  [x] [Resccue Da

[2020-07-02 11:09] p-a-s-c-a-l commented on #153
Thanks. That should be enough for now.

[2020-07-02 11:09] #153 closed, assigned to p-a-s-c-a-l, patrickkaleta

[2020-07-02 11:10] #125 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2020-07-02 11:11] claudiahahn commented on #153
Thank you!

[2020-07-03 12:07] p-a-s-c-a-l opened #156 "Upgrade Drupal Docker Images and Containers"
Stop and remove drupal containers:

[code]

Manually trigger **incremental** [duplicity backup](https://github.com/clarity-h2020/docker-duplicity):

[code]
**Hint:** You can restore **the latest** backup-set with `docker-compose up -f restore.yml` to `./restore` directory.

Edit [Dockerfile](https://github.com/clarity-h2020/docker-drupal/blob/dev/drupal/Dockerfile) and change base image to [docker

[2020-07-03 12:24] #149 closed, assigned to therter, patrickkaleta

[2020-07-03 12:25] p-a-s-c-a-l opened #157 "Landing Page for `Testing Team` Users"
@fgeyer16 Here is another request to improve the [CSIS Acceptance Test](https://github.com/clarity-h2020/csis-technical-validation/issues/1) process, especially for external users.

We need a special role 'CSIS Testing Team' and a respective landing page in CSIS
- for project-internal users belonging to the GitHub [CSIS Testing Team](https://github.com/orgs/clarity-h2020/teams/csis-testing-team) a

[2020-07-03 12:26] p-a-s-c-a-l commented on #124
closed in favour of https://github.com/clarity-h2020/docker-drupal/issues/157

[2020-07-03 12:26] #124 closed, assigned to DenoBeno, fgeyer16, patrickkaleta, Andrea4ad

[2020-07-03 12:28] p-a-s-c-a-l commented on #151
Thanks @fgeyer16 ! 👍

Any further suggestions @aitdrazen, or do you think it's o.k. now?

[2020-07-03 12:31] p-a-s-c-a-l commented on #136
Is this issue still relevant?

[2020-07-03 14:03] aitdrazen commented on #151
In my opinion, the explanations are much better now.

[2020-07-06 06:22] p-a-s-c-a-l commented on #147
@therter Can you please additionally explain the role of [republish.sh](https://github.com/clarity-h2020/docker-drupal/blob/dev/scripts/republish.sh) in this process? E.g. when is it run, on DEV, on PROD, on both, ...?

[2020-07-06 06:36] p-a-s-c-a-l opened #158 "Make new Release DEV -> PROD"
We've fixed several bugs in DEV instance, changed content and implemented some new features. There are also some security updates to Drupal Core & Modules available, which have to be applied. Now it's time to make a new release.

This is also the prerequisite for making the system accessible by the public. Once this is done, @DenoBeno, @Andrea4ad and others can advertise public CSIS during Webinar

[2020-07-06 07:11] p-a-s-c-a-l commented on #151
Thanks!

[2020-07-06 07:11] #151 closed, assigned to fgeyer16, patrickkaleta

[2020-07-06 18:18] patrickkaleta commented on #158
As discussed during today's telco, I've now synchronized the [configuration](https://github.com/clarity-h2020/docker-drupal/issues/138) and the [content](https://github.com/clarity-h2020/docker-drupal/issues/147). Now waiting for @fgeyer16 to upgrade Drupal on the DEV instance, so that we can fully complete the synchronization.

Sadly, the config_split module is not suitable for handling different

[2020-07-07 06:54] p-a-s-c-a-l commented on #158
I've updated the description [above](https://github.com/clarity-h2020/docker-drupal/issues/158#issue-651287990) and included a description on how to release new [Map](https://github.com/clarity-h2020/map-component/issues/101) and [Table](https://github.com/clarity-h2020/simple-table-component/issues/17) Components.

Table and Map are now up-to-date on PROD.

[2020-07-08 08:31] p-a-s-c-a-l commented on #148
Please upgrade to 8.9.1 @fgeyer16

[2020-07-08 08:32] p-a-s-c-a-l commented on #156
@fgeyer16 Docker containers are now up-to-date on CSIS DEV. As described above, updates only apply to Apache, PHP, Postgres, etc. (see [status report](https://csis-dev.myclimateservice.eu/admin/reports/status)), Drupla Core + Modules have to be [updated separately](https://github.com/clarity-h2020/docker-drupal/issues/148).

[2020-07-08 10:19] therter commented on #147
This script should be executed before the synchronisation process starts. So far, it was started manually by @patrickkaleta to publish the available cities/countries.
I am not sure, if it is enough to execute the script on the dev instance and the cities will be updated on the prod instance during the synchronisation process or if the script should also be executed on the prod instance.

[2020-07-08 12:59] p-a-s-c-a-l opened #159 "Explain reason and purpose for Twin studies"
*originally posted by @fabrisj in [CSIS Acceptance Test by AIT](https://github.com/clarity-h2020/csis-technical-validation/issues/51#issuecomment-654208089)*

[2020-07-08 13:02] p-a-s-c-a-l opened #160 "Additional usability improvements"
Additional usability improvements following the recommendations made by @fabrisj in [CSIS Acceptance Test by AIT](https://github.com/clarity-h2020/csis-technical-validation/issues/51#issuecomment-654208089):

- [x]  Removal of the Sector Option
- [x] Renaming the Summary Tab -> Report
- [ ] Signpost “Change descriptions”

[2020-07-08 13:15] p-a-s-c-a-l commented on #158
@fgeyer16 I've update docker containers on DEV to the lasted Apache, PHP, Postgres, etc. version. Drupal Core  and Modules have to be [updated separately](https://github.com/clarity-h2020/docker-drupal/issues/148):

[code]

CSIS-DEV is now also monitored by UI integrations tests. Please watch [csis-technical-validation](https://github.com/clarity-h2020/csis-technical-validation/) so that you'll ge

[2020-07-08 14:07] p-a-s-c-a-l opened #161 "Error in ViewfieldFormatterTitle->viewElements()"
Error: Call to a member function getTitle() on null in Drupal\viewfield\Plugin\Field\FieldFormatter\ViewfieldFormatterTitle->viewElements() (line 31 of modules/contrib/viewfield/src/Plugin/Field/FieldFormatter/ViewfieldFormatterTitle.php).

https://csis.myclimateservice.eu/study/182/step/5064/view/introduction

[2020-07-08 14:12] p-a-s-c-a-l commented on #161
[code]

[2020-07-08 14:17] p-a-s-c-a-l commented on #161
I've edited the [respective node](https://csis.myclimateservice.eu/node/5064) directly, saved it and reloaded the [page](https://csis.myclimateservice.eu/study/182/step/5064/view/introduction) and now it's working. Any idea what's going on?

[2020-07-08 18:43] fgeyer16 commented on #158
I can not enter docker seems, that I have no permission.

Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.40/containers/csis-drupal/json: dial unix /var/run/docker.sock: connect: permission denied

tried to update locally before tried to update csis-dev so

1. remove '"Issue #2994155": "patches/busin

[2020-07-09 06:31] Itsman-AT commented on #159
We will think about an introductory description.

[2020-07-09 06:53] p-a-s-c-a-l commented on #158
I've added you to the docker group. Now it will work. Don't forget to impersonate as docker user otherwise permissions will be messed up.

should? 😲

Tests are triggered automatically every hour in cismet private ci. If you want to trigger them manually you can commit something (e.g. update readme) to [csis-technical-validation/csis-dev-cypress](https://github.com/clarity-h2020/csis-technical-vali

[2020-07-09 07:19] p-a-s-c-a-l commented on #150
@patrickkaleta I've noticed that the last commit in [clarity-csis-drupal](https://gitlab.atosresearch.eu/ari/clarity-csis-drupal) is from 6 months ago. Now did you or didn't you use the git repo to import / export configuration between DEV and PROD as described [here](https://github.com/clarity-h2020/docker-drupal/issues/138)?

[2020-07-09 07:50] p-a-s-c-a-l commented on #150
Ah, o.k. I had a look at the old **gitlab**.atosresearch.eu. I wonder why this is still online?

I've added warning to the old repository that it's deprecated and has moved to **scm**.atosresearch.eu.

[2020-07-09 08:59] p-a-s-c-a-l commented on #148
[code]

drupal/core                   8.9.2        9.0.2       Drupal is an open source content management platform powering millions of websites and applicati...
drupal/core-dev               8.9.2        9.0.2       require-dev dependencies from drupal/drupal; use in addition to drupal/core-recommended to run t...
drupal/devel                  1.2.0        4.0.0       Various blocks, pages, and

[2020-07-09 09:32] p-a-s-c-a-l commented on #148
![image](https://user-images.githubusercontent.com/1788226/87022798-494af500-c1d7-11ea-9b5d-e866e4316d4d.png)

We have tried to provide an easy upgrade path from version 3 to version 4. Running the update hooks will try and update your views BEF configuration to be compatible with version 4. After the updates you should clear the caches, or it will result in a fatal error.

I'm not going to touch

[2020-07-09 09:35] p-a-s-c-a-l commented on #158
I've [upgraded ](https://github.com/clarity-h2020/docker-drupal/issues/148#issuecomment-656004316) DEV to Drupal 8.9.2. I'm not going to upgrade PROD until our integration tests are working again.

[2020-07-09 09:48] p-a-s-c-a-l commented on #148
let's assume this is done now

[2020-07-09 12:13] fgeyer16 commented on #158
Having to move a webpage to Europeans commisions servers made very cautious to say will. ;-). Test it thousand times and it works and when it goes live it does not...

[2020-07-09 13:13] fgeyer16 commented on #148
reopening due to better exposed Filters

Somehow I missed that module when I tested yesterday. I tried to update it locally.

changed the line in composer.json to "drupal/better_exposed_filters": "^4.0"

1. composer update
2. vendor/bin/drush/updb
3. vendor/bin/drush/cr

after that the showcase page delivered a WSOD.
Disabling better exposed filters at /admin/structure/views/view/showcase_overview

[2020-07-09 14:26] p-a-s-c-a-l commented on #148
yes, please give it try :-)
CSIS is not usable anyway due to https://github.com/clarity-h2020/emikat/issues/45

[2020-07-09 14:51] fabrisj commented on #161
I have encountered the issue in a different section again:
![grafik](https://user-images.githubusercontent.com/67731344/87055233-5c27ee80-c204-11ea-8ce4-efda73165f7c.png)
for
https://csis.myclimateservice.eu/study/182/step/5066/view/introduction
https://csis.myclimateservice.eu/study/182/step/5067/view/introduction

[2020-07-09 15:07] p-a-s-c-a-l commented on #161
@fabrisj perhaps you can address @DenoBeno directly, he may not be receive a notification from GitHub. Also regarding [this problem](https://github.com/clarity-h2020/emikat/issues/45).

[2020-07-10 12:19] fgeyer16 commented on #148
Better exposed Filter is now on 4.0-beta2 and green in the update overview.on csis-dev. Procedure:

1. Set exposed form style to basic at /admin/structure/views/view/showcase_overview_geofield/edit/default (note settings somewhere before)
2. remove the section drupal/better_exposed_filters from composer.pathces.json
3. change the line in composer.json to "drupal/better_exposed_filters": "^4.0"
4.

[2020-07-13 11:25] patrickkaleta commented on #161
@fgeyer16 and I found the problem and solved it for now.

**Cause:**
Last week's content synchronization for the GL-templates had an error: Templates without an `field_view_twins` field (fieldtype: Viewfield) were assigned a `missing` Viewfield on PROD, which caused the error. This means that all Studies created after last Monday (4 in total) can produce this error.
![viewfield_migration-error](ht

[2020-07-13 11:30] patrickkaleta opened #162 "Add skip_on_empty plugin to GL-step migrate file"
When synchronizing content between DEV and PROD, `Viewfield` fields that are not set are added by Migrate in the target destination by mistake. This results in `missing` relations for those fields in the GL-templates and leads to the described error here: #161

Solution: in the migration file for the GL-steps, the [skip on empty plugin](https://api.drupal.org/api/drupal/core!modules!migrate!src!Pl

[2020-07-13 12:35] p-a-s-c-a-l commented on #156
done

[2020-07-13 12:35] #156 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2020-07-13 12:35] p-a-s-c-a-l commented on #148
done

[2020-07-13 12:35] #148 closed, assigned to fgeyer16, patrickkaleta

[2020-07-13 12:36] p-a-s-c-a-l commented on #158
done

[2020-07-13 12:36] #158 closed, assigned to therter, DenoBeno, fgeyer16, patrickkaleta

[2020-07-13 16:07] p-a-s-c-a-l opened #163 "PDF Generation broken"
Both on DEV and PROD:

See also https://github.com/clarity-h2020/csis-technical-validation/issues/76#issuecomment-657628093

Probably an error in the HTML2PDF library. Which one are we using?

[2020-07-14 09:35] patrickkaleta commented on #163
We're using wkhtmltopdf (set in the [Entity print settings](https://csis-dev.myclimateservice.eu/admin/config/content/entityprint)) in the version 0.12.4 (I believe).

The error message seems familiar. I think we had that problem with QSslSocket in the past. AFAIK @DenoBeno fixed it be installing/updating something inside the docker-container? And maybe that got lost after the [update](https://git

[2020-07-14 09:51] patrickkaleta commented on #163
Probably related to this [issue](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3001). Seems like Debian and wkhtmltopdf 0.12.4 have a problematic relationship. The proposed solution by updating wkhtmltopdf to version 0.12.5 is not the solution, since that version itself has its problems (see [1](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3242), [2](https://github.com/wkhtmltopdf/wkhtmlt

[2020-07-15 06:18] p-a-s-c-a-l opened #164 "HTML Tags in Resource Description"
https://csis.myclimateservice.eu/study/185/step/5120/view/data
2020-07-13 16:15
Firefox 78.0.1 (64-Bit) / Windows 10

![grafik](https://user-images.githubusercontent.com/18684786/87316245-d2d72b80-c525-11ea-8072-c227cc193c52.png)

I'll just stick with the proposed structure of these posts even though it looks a little bit funny with these short remarks :)

**expected behaviour:**: I would expect t

[2020-07-15 06:38] p-a-s-c-a-l opened #165 "Twins Map not working properly on Summary Page"
https://csis.myclimateservice.eu/study/185/step/5119/view/summary
2020-07-13 16:00
Firefox 78.0.1 (64-Bit) / Windows 10

![grafik](https://user-images.githubusercontent.com/18684786/87314616-cbaf1e00-c523-11ea-9244-bd4bc04b6e0b.png)

**expected behaviour** I was expecting to see a full map in the OpenStreetMap Panel.
**actual behavour** Most tiles in the map were not loaded. I just noticed the map

[2020-07-15 06:38] p-a-s-c-a-l commented on #159
Any progress so far?

[2020-07-15 06:45] patrickkaleta commented on #164
Fixed for the Resource in question (description text was in the "wrong" description field, which didn't allow HTML tags), but this cannot be fixed in general for all Resources.

Original description field (called "DEPRECATED Description") only allows simple, unformatted text. We had to add a new description field ("Description (formatted)"), which allowed the use of HTML tags. If editors need to u

[2020-07-15 06:45] #164 closed, assigned to fgeyer16, patrickkaleta

[2020-07-15 07:07] patrickkaleta commented on #165
Seems to be a CSS issue affecting the Leaflet map widget. This widget is provided by a [contributed module](https://www.drupal.org/project/leaflet), so our customizing options are limited. The problem appears when the showcase _Details_ are hidden at first and then expanded by the user's interaction. Setting the _Details_ to be displayed open by default in the [display mode](https://csis-dev.mycli

[2020-07-15 07:42] p-a-s-c-a-l commented on #163
h4cc/wkhtmltopdf-amd64 seems to be [abandoned](https://github.com/h4cc/wkhtmltopdf-amd64/issues/43). wkhtmltopdf. can be downloaded from [here](https://wkhtmltopdf.org/downloads.html), so I'll update the docker image.

[2020-07-15 07:56] p-a-s-c-a-l commented on #163
Now the question is how to tell [phpwkhtmltopdf](https://github.com/mikehaertl/phpwkhtmltopdf) where to find the wkhtmltopdf binary?

[2020-07-15 07:59] patrickkaleta commented on #163
That should be possible in the [Entity print settings](https://csis-dev.myclimateservice.eu/admin/config/content/entityprint). There you can specify the binary location.

[2020-07-15 08:04] p-a-s-c-a-l commented on #163
PDF Generation [is working again](https://csis-dev.myclimateservice.eu/print/pdf/group/1) on DEV. I'm going to update PROD with the new docker image.

[2020-07-15 08:36] patrickkaleta commented on #163
I think there is a webinar taking place right now or just about to.

[2020-07-15 09:09] therter commented on #165
I had a similar problem, that I could solve with a JS invocation of the method invalidateSize() on the leaflet instance.  But I am not sure, if this was the same problem, because the position of the tiles was also wrong, but now there are only invisible tiles.

[2020-07-15 15:11] p-a-s-c-a-l opened #166 "drupal/group patches still needed?"
Are the  drupal/group patches still nedded for drupal/group v1.0.0 ?

    patches/group_2833054.patch (Issue #2833054)
    patches/group_2872645.patch (Issue #2872645)
   Could not apply patch! Skipping. The error was: Cannot apply patch patches/group_2872645.patch

[2020-07-15 15:19] p-a-s-c-a-l commented on #163
PROD is updated now. I had to lock drupal/group at 1.0.0-rc5. See https://github.com/clarity-h2020/docker-drupal/issues/166

[2020-07-15 15:19] #163 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2020-07-15 15:21] p-a-s-c-a-l commented on #165
Yes, we should follow this approach.

[2020-07-16 11:43] fgeyer16 commented on #165
I think this is the same problem as @therter had,  There is a short js which should fix this:

[code]
This is taken from the events page where I had the same problem in the add form for the location widget. So we will have to adjust the jquery selector for the on click event.

[2020-07-17 10:34] Itsman-AT commented on #159
I just sent you and @DenoBeno a mail regarding the description.

[2020-07-20 08:31] patrickkaleta commented on #162
Done. Migration files have been updated on DEV and will be used in the next synchronization.

[2020-07-20 08:31] #162 closed, assigned to patrickkaleta

[2020-07-20 08:31] patrickkaleta commented on #161
Completed in #162

[2020-07-20 08:31] #161 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2020-07-24 09:55] #159 closed, assigned to DenoBeno, Itsman-AT

[2020-07-24 10:28] p-a-s-c-a-l commented on #155
It seems that nobody is working any more on the data packages so we can close this issue. 😞

[2020-07-24 10:28] #155 closed, assigned to p-a-s-c-a-l, DenoBeno, patrickkaleta

[2020-07-24 10:31] p-a-s-c-a-l commented on #157
@DenoBeno This page is also important for **external users** that want to test the system. To collect feedback, we still could invite them to GitHub if the mailing list solution is not possible. The landing could page clear instructions on hoe to register and create issues. For collecting feedback, didn't we have some kind of  questionnaire developed by @ghilbrae ?

[2020-07-27 07:34] p-a-s-c-a-l commented on #166
One problem is the outdated groups module. Can we safely upgrade and remove the patches @fgeyer16 ?

[2020-07-28 15:03] p-a-s-c-a-l commented on #165
Did you already implement this fix in CSI-DEV @fgeyer16 ?

[2020-07-30 08:40] patrickkaleta commented on #166
@fgeyer16 FYI: Group module now recently went from RC (release candidate) to a "real" release (finally...), so keep that in mind when testing our currently applied Group-patches.

[2020-07-30 14:59] p-a-s-c-a-l opened #167 "Create Custom PostGIS Docker Image"
@therter When we recreate the container, [your customisations](https://github.com/clarity-h2020/data-package/issues/75#issuecomment-666417615) are lost. Therefore we have to create a custom `postgis/postgis:10-3.0` image as we did for [Drupal](https://github.com/clarity-h2020/docker-drupal/tree/dev/drupal).

_Originally posted by @p-a-s-c-a-l in https://github.com/clarity-h2020/data-package/issues

[2020-07-31 11:21] p-a-s-c-a-l commented on #166
Group Module should be [updated ASAP](https://www.drupal.org/sa-contrib-2020-030).

[2020-08-03 09:32] fgeyer16 commented on #166
group module is up to date now on csis-dev.

[2020-08-04 15:03] p-a-s-c-a-l commented on #167
@therter The compose file has to be updated, too. Our custom postgis image should be tagged with 'csis-postgis:10-3.0' .
See https://github.com/clarity-h2020/docker-drupal/issues/156#issue-650555286

[2020-08-04 18:20] therter commented on #167
I have updated the compose file on the dev instance. If this will not lead to problems, then I will update the prod instance

[2020-08-05 14:37] p-a-s-c-a-l commented on #166
thanks

[2020-08-05 14:37] #166 closed, assigned to fgeyer16, patrickkaleta

[2020-08-05 14:38] p-a-s-c-a-l opened #168 "Documentation"
Update readme.md

[2020-08-05 14:46] p-a-s-c-a-l commented on #168
done

[2020-08-05 14:46] #168 closed, assigned to p-a-s-c-a-l

[2020-08-10 11:40] p-a-s-c-a-l commented on #167
done

[2020-08-10 11:40] #167 closed, assigned to therter

[2020-08-11 13:14] patrickkaleta commented on #136
Doesn't seem to be.

[2020-08-11 13:14] #136 closed, assigned to fgeyer16, patrickkaleta

[2020-08-31 07:00] p-a-s-c-a-l commented on #165
wontfix

[2020-08-31 07:00] #165 closed, assigned to fgeyer16, patrickkaleta

[2020-08-31 07:00] p-a-s-c-a-l commented on #160
wontfix

[2020-08-31 07:00] #160 closed, assigned to fgeyer16

[2020-08-31 07:00] p-a-s-c-a-l commented on #157
wontfix

[2020-08-31 07:00] #157 closed, assigned to DenoBeno, fgeyer16

[2020-09-18 07:15] patrickkaleta opened #169 "Set CSIS Prod and Dev into Maintenance mode due to a server maintenance"
PROD and DEV instance need to be switched into maintenance mode (via Drupal BE UI). Servers will be shutdown today due to maintenance works on our IT infrastructure. Everything should be back up on Monday (latest).

Automated CI testing will throw errors during that time, which can be ignored.

[2020-09-18 07:17] ghilbrae commented on #169
Is this related with Denis' email from the other day? Will this be done at noon? We have a webinar starting at 10 that will end at 12. Thanks!

[2020-09-18 07:19] patrickkaleta commented on #169
Yes, it's related to his email. And don't worry, I won't put the site under maintenance mode until the webinar is done.

[2020-09-18 07:23] ghilbrae commented on #169
Thanks!!

[2020-09-21 06:37] patrickkaleta commented on #169
Done. Servers are back online and PROD and DEV are available once again.

[2020-09-21 06:37] #169 closed, assigned to patrickkaleta