[2018-07-24 07:26] p-a-s-c-a-l opened #1 "Install Drupal Modules"
Helferlein, die nicht fehlen sollten:

- [x] "drush/drush"  Drush Drupal shell commanline tool für Drupal erlaubt bearbeiten von Drupaleinstellungen über die shell und/oder
- [ ] "drupal/console"  Drupal Console ähnlich wie Drush kann auch Filestrukturen für module und ähnliches generieren
- [x] "drupal/admin_toolbar"  Verbesserung des Admin Menues
- [x] "drupal/ctools"  Set of APIs, wird hier und

[2018-07-24 13:26] p-a-s-c-a-l commented on #1
done

[2018-07-24 13:35] p-a-s-c-a-l opened #2 "Wrong Mimetypes"
Drupal sets wrong MIME Type on automatically generated / processed CSS & JS files causing browsers like Firefox or Chrome to refuse loading such files:

``Problem loading stylesheet - not loaded because its MIME type, "text/html", is not "text/css", "text/html", is not "text/javascript".``

**Temporary workaround**: disable JS / CSS preprocessing as described [here](https://www.drupal.org/project/

[2018-07-27 09:20] p-a-s-c-a-l commented on #1
See also https://github.com/clarity-h2020/csis/issues/2

[2018-07-27 09:21] p-a-s-c-a-l commented on #2
See also https://github.com/clarity-h2020/csis/issues/2

[2018-07-30 07:04] fgeyer16 commented on #2
The Problem seems to be caused by a non writable temporary directory.
Please check if the directory given in the setting **system.file (path in the interface: admin/config/media/file-system)** exists and is writeable for drupal.

[2018-07-30 08:59] p-a-s-c-a-l commented on #2
/tmp mode is 1777 (world-writable.) and mounted as docker [tmpfs](https://docs.docker.com/storage/tmpfs/). tmpfs doesn't seem to work as expected, falling back to bind-mount  (host-mounted volume) for /tmp.

[2018-07-30 09:04] p-a-s-c-a-l commented on #2
resolved

[2018-07-30 09:04] #2 closed, assigned to p-a-s-c-a-l, fgeyer16

[2018-08-16 09:35] p-a-s-c-a-l opened #3 "Drupal Update to v8.6.x"
Apply Drupal Security Update v8.5.6.
See [Update core via Composer](https://www.drupal.org/docs/8/update/update-core-via-composer)

[code]

[2018-08-16 09:51] p-a-s-c-a-l commented on #3
done

[2018-08-21 14:12] p-a-s-c-a-l opened #4 "Switch to myclimateservice.eu"
See https://github.com/clarity-h2020/csis/issues/23
Update allowed hosts in settings.php!

[2018-08-22 08:07] p-a-s-c-a-l commented on #4
done

[2018-08-22 08:07] #4 closed, assigned to p-a-s-c-a-l

[2018-09-04 15:44] fgeyer16 opened #5 "Install/enable modules"
I think we will need this modules:

- Group
- Form mode manager
- view mode page
- json api
- json field
- colorbox
- colorbox load or
  - Colorbox field formatter
  - Field Group Colorb
- REST
- REST UI

Please use composer to install the modules since updating will be the easiest with composer (concerning dependencies ).

[2018-09-04 15:48] fgeyer16 opened #6 "Module Filter and Admin Toolbar not working"
The module filter and Admin Toolbar are not working. Maybe there is some confusion for drupal where to find files (I assume some js thing)

Since this will affect other modules as well we have to research and fix this.

[2018-09-05 05:39] p-a-s-c-a-l commented on #6
I cannot reproduce the problem with the admin toolbar, for me it's working:

![grafik](https://user-images.githubusercontent.com/1788226/45073179-7fe8ed80-b0de-11e8-8bf5-cabe5b2d14a4.png)

But I performed a modules update with `composer update` in 4f3cdfe before installing new modules for #4. So perhaps that fixed the issue with the toolbar.

[2018-09-05 06:10] p-a-s-c-a-l commented on #6
@fgeyer16

How can I check if the filter module is working or not? Is this the module?:

![grafik](https://user-images.githubusercontent.com/1788226/45074251-0acbe700-b0e3-11e8-8e24-51c4ae59aa6d.png)

[2018-09-05 06:29] p-a-s-c-a-l commented on #5
Installed the following modules using `composer require`

- [x] drupal/group
- [x] drupal/form_mode_manager
- [x] drupal/view_mode_page
- [x] drupal/jsonapi
- [x] drupal/json_field
- [x] drupal/colorbox
- [ ] drupal/rest
- [x] drupal/restui

`drupal/rest`is not available, is it part of drupal core?

[2018-09-05 06:32] p-a-s-c-a-l commented on #5
@fgeyer16
The installed modules do not show up in the Drupal Admin UI, e.g. JSON modules are not found:

![grafik](https://user-images.githubusercontent.com/1788226/45074981-d0177e00-b0e5-11e8-986c-e1451703f176.png)

This is the output of `composer require drupal/jsonapi`:

[code]

[2018-09-05 08:14] patrickkaleta commented on #6
@p-a-s-c-a-l

No the filter module should change the look of the modules overview page (/admin/modules). If it's installed and working the page should look like shown here (https://www.drupal.org/project/module_filter) in the first picture.

[2018-09-05 08:33] p-a-s-c-a-l commented on #6
OK. Indeed, this filter did not work: JavaScript error: `ModuleFilter.localStorage is undefined`.

Clearing the Drupal Cache under admin/config/development/performance resolved the issue. I assume this re-generated the aggregated JS and CCS files in `/drupal-data/web/sites/default/files`.

![grafik](https://user-images.githubusercontent.com/1788226/45081275-24772980-b0f7-11e8-9c8f-c996da30b60d.png

[2018-09-05 08:33] #6 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta, aitdrazen

[2018-09-05 08:36] p-a-s-c-a-l commented on #6
NB: During development, we should disable the bandwidth optimization options. This will make debugging JavaScript files a lot easier.

[2018-09-05 08:46] p-a-s-c-a-l commented on #5
OK, the modules are now available in the Drupal Admin UI. [This](https://github.com/clarity-h2020/docker-drupal/issues/5#issuecomment-418614929) was probably just a [caching issue](https://github.com/clarity-h2020/docker-drupal/issues/6#issuecomment-418646595).

![grafik](https://user-images.githubusercontent.com/1788226/45082099-e4b14180-b0f8-11e8-9317-d6f94fbfde64.png)

[2018-09-05 08:46] #5 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2018-09-05 14:46] fgeyer16 commented on #6
Yes during Development the css and js aggregation is better to switched of. I did this now.

[2018-09-05 20:08] fgeyer16 opened #7 "Create Taxonomies"
We need some Taxonomies:

- country
   - beside the name this taxonomy should have a geofield so that we can store the boundaries of the country
- Sector subsectors will be child terms of the sector term
- maybe we should make the study mode a Taxonomy as well?

[2018-09-05 20:21] fgeyer16 opened #8 "Create Group type study"
Each study will be a group: In this way we can easily maintain the team.
Fields for the moment:
- acronym short name -> text
- name -> text
- study goal -> long text (without summary)
- study mode -> Taxonomy  reference
- sector -> Taxonomy reference
- country -> Taxonomy reference
- area -> geo field

[2018-09-05 20:30] fgeyer16 opened #9 "create content type "data package""
May be for the moment just an "empty" content type since the needed fields are not clear ( at least for me)
proposed fields:
- a field containing the url to the metadata on ckan (link or just text? or iframe?)
- References to properties. This has to be discussed on telco on 10th of September
- maybe a field containing the metadata from ckan? If they are not changing frequently. Showing in Summary

[2018-09-06 08:43] p-a-s-c-a-l commented on #9
Depends on https://github.com/clarity-h2020/csis/issues/13 and https://github.com/clarity-h2020/csis/issues/20 and @humerh

[2018-09-06 08:56] p-a-s-c-a-l commented on #7
Related to [this action](http://cat.clarity-h2020.eu/content/building-blocks-datasets-and-models-test-cases). AFAIR @bernhardsk had a look at different sector taxonomies. Example: [Worldbank Project Sectors](https://climatescreeningtools.worldbank.org/general/screening-tool-overview)

[2018-09-06 09:11] p-a-s-c-a-l commented on #7
For country polygons we could use [world.geo.json](https://github.com/switchonproject/world.geo.json) or [world-atlas](https://github.com/mbostock/world-atlas). However, GeoJSON's [standard projection](https://macwright.org/2015/03/23/geojson-second-bite.html#projections) is **ESPG:4326** and AFAIK @humerh wanted to use **ETRS89** for the [processed data](https://github.com/clarity-h2020/csis/issu

[2018-09-06 10:25] helllth commented on #7
We use the https://kartena.github.io/Proj4Leaflet/ project in other solutions to display data in different projections.

There is this example on the page:
GeoJSON example displaying a GeoJSON with coordinates in EPSG:26915 on a Leaflet map with spherical mercator projection

You just have to add the projection info to your geojson file.

[2018-09-10 08:04] fgeyer16 opened #10 "Add email sending capabilities to csis system"
Install SMTP module and provide SMTP Server account for sending mails, e.g. the SMTP account used by cat.clarity-h2020.eu.

[2018-09-10 08:38] p-a-s-c-a-l opened #11 "React Integration in Drupal Page"
@fgeyer16 idea to be defined "create react field of group entity" = entry point for react applications

[2018-09-10 08:48] p-a-s-c-a-l opened #12 "Define Block Structure of the CSIS"
@fgeyer16 Define the Block structure of the CSIS on basis of the general mock-up layout
@patrickkaleta Implement the block structure on basis of a child theme of e.g. the Bartik theme

[2018-09-10 08:53] p-a-s-c-a-l commented on #7
@maesbri Select and enter the economic sectors taxonomy

[2018-09-10 09:04] p-a-s-c-a-l commented on #7
@fgeyer16: Import countries taxonomy, at least name and county code. Optionally add geofield with bbox or polygon as geofield to the countries taxonomy and import polygons from https://github.com/clarity-h2020/docker-drupal/issues/7#issuecomment-419022715

[2018-09-10 09:14] p-a-s-c-a-l opened #13 "Setup basis Context Help Display"
Provides facilities to show content in popup (Lightbox, ...) with help messages.

[2018-09-10 09:30] p-a-s-c-a-l opened #14 "Taxonomies for Information Pages"
Create the **Vocabularies** for "Information Pages" for describing the EU-GL Methodology, the Information on hazards, etc.

- [x] EU-GL Taxonomy
- [x] Sector Taxonomy
- [x] Exposure Taxonomy
- [x] Study Type Taxonomy
- [ ] Hazards Taxonomy
- [x] Emission Scenario Taxonomy
- [ ] Impact Taxonomy

**WP3**: Create the respective content, e.g. description of EU-GL Modules, Hazards, etc.**

This informa

[2018-09-10 09:37] p-a-s-c-a-l opened #15 "Create Study Team View"
Study Team is a List of Group Members of the [Group type study](https://github.com/clarity-h2020/docker-drupal/issues/8)
Add the needed fields (affiliation, country) to the user profile.

[2018-09-10 09:41] p-a-s-c-a-l opened #16 "Setup Single-Sign-On"
Setup CAS (Central Authentication Service) with CLARITY Marketplace, EMIKAT, GeoServer, etc.

[2018-09-10 09:49] p-a-s-c-a-l opened #17 "Setup Drupal REST Webservice"
Activate Drupal REST Webservice and use JSON API and Cookie authentication in REST Clients. @patrickkaleta ask Denis about that.

[2018-09-10 09:56] p-a-s-c-a-l opened #18 "Evaluate iframe Integration"
As alternative to https://github.com/clarity-h2020/docker-drupal/issues/11 check if iframe integration would work better.

[2018-09-10 10:59] p-a-s-c-a-l opened #19 "Data Package Content Type"
Create the Data Package Content type and the Links to External System (meta-data storage, e.g. [ckan](https://ckan.myclimateservice.eu/))
It has to contain all fields that allow for filtering and related Taxonomies for Hazard, Exposure, etc.

See also [CLARITY Data Package: Adaptation Options Resource specification](https://github.com/clarity-h2020/csis/issues/19)

[2018-09-10 11:30] p-a-s-c-a-l opened #20 "Report Generation"
Generate PDFs out of a Drupal Page either using a special Drupal Module (if available) or use some external libraries like Jasper Reports and fetch the study data from the [REST API](https://github.com/clarity-h2020/docker-drupal/issues/17).

**Important**: All information needed to generate a report should reside in the [Group Type "Study"](https://github.com/clarity-h2020/docker-drupal/issues/8]

[2018-09-10 11:30] p-a-s-c-a-l opened #21 "Maps in Report"
Evaluate possibilities to include a picture of the maps configured with hazard, exposure, etc. layers in the [Report](https://github.com/clarity-h2020/docker-drupal/issues/20), e.g. store the WMS / WCS URLs of configured layers shown in the map application via [REST API](https://github.com/clarity-h2020/docker-drupal/issues/17).

[2018-09-11 14:05] fgeyer16 commented on #10
I installed the SMTP module now. So we only need a email account and its server settings and credentials.

[2018-09-14 07:06] p-a-s-c-a-l commented on #18
To be investigated:
- [iFrame](https://www.drupal.org/project/iframe): ui-level integration, e.g. for just embedding a CLARITY Building Block as separate iframe (as it is done here, for example)
- [seamless.js](http://travistidwell.com/seamless.js/) could be added to drupal's default html header to let CLARITY Building Block in iframes talk to each other via JavaScript

[2018-09-14 07:16] p-a-s-c-a-l commented on #10
Please re-use clarityh2020@gmail.com (also used for [clarity_h2020 twitter account](https://twitter.com/clarity_h2020) account) or register another gmail account.

[2018-09-14 12:52] p-a-s-c-a-l opened #22 "Basic Map Integration Example"
Create a basic entity with **country** and **study_area** fields. Note: This basic entity will later be replaced by / integrated with the [Study Group Type](https://github.com/clarity-h2020/docker-drupal/issues/8).

- country field:
  - used to center the map shown in Mockup 0130 on a country selected  by the user in in Mockup 0120
  - a *reference* to an entry in a [countries](https://github.com/

[2018-09-17 06:24] fgeyer16 commented on #10
Can anybody tell me where I can find the credentials for that account? Or send them to me by email?

[2018-09-17 06:48] fgeyer16 commented on #13
Patrick please create a module help_widgets (best using drupal  console). The widgets classes have to be located in the forlder src/Plugin/Field/FieldWidget. For the beginning we will make a widget for text fields and text area fields. The widget classes for them are located in
drupal_root/core/lib/ Drupal/Core/Plugin/Field/FieldWidget/

- StringTextareaWidget.php
- StringTextfieldWidget.php

We a

[2018-09-17 07:59] fgeyer16 commented on #10
I just tested email sending with another smtp server, but it failed because the smtp server could not be reached. Are there some settings on the server itself,which could prevent drupal connecting to a smtp server (firewall etc.)?

[2018-09-19 09:47] patrickkaleta commented on #13
@fgeyer16:
Regarding the Drupal console, I'm not sure how to call it inside the docker container. Executing "drupal" gives me a "command not found" message. I checked and the Drupal console is already included in the composer.json file, so how can I use it inside the docker container?

[2018-09-19 12:43] fgeyer16 commented on #13
@patrickkaleta
call from /app in docker  "vendor/bin/drupal"

[2018-09-24 12:39] patrickkaleta commented on #13
@fgeyer16
first version of the module is installed and enabled on the server. Currently the widget is working for the fields **Text (plain)** and **Text (plain, long)**. The paths to the examples and help texts can be set via Manage Form display in the BE.

I didn't include any CSS (I guess we only need 2 icons and adjust their position in the form) since I'm not sure whether we should put this in

[2018-09-25 07:16] fgeyer16 commented on #13
Maybe some basic styling could be done in the module.
So we have the links. The next step is to open them in a popover. I thought with the ng-lightbox module enabled and properly configured it should work without further work.  But I tried it this way and it did not work.
@patrickkaleta
So can you investigate? So far I can see, the link is not modified for lightbox even if the path is entered in t

[2018-09-25 11:03] patrickkaleta opened #23 "Add User roles"
as suggested by @fgeyer16 : for now we should have the following user roles:

- [x] Administrator (already exists): can do anything

- [x] Developer: can do almost anything (able to manipulate content types, views, taxonomies,...)

- [x]  Editor: can create content & taxonomy terms

[2018-09-26 08:42] patrickkaleta commented on #23
New user roles have been generated. Let's wait and see how many people will actually request a user account and then I will try to get some feedback to check if the existing roles and set permissions are sufficient or need to be adapted.

[2018-09-26 10:11] patrickkaleta commented on #13
@fgeyer16
just checked and ng_lightbox is working as expected. You probably overlooked that for the example page I manually changed the path to be "/help/test", so when you configured the lightbox to fire on "/node/1", it wasn't triggered. Sorry for that...

Now I see 2 possible options:

1. I can still hardcode the markup into the widget. I tried it and it's easily done and works well. Nothing el

[2018-09-26 14:28] fgeyer16 commented on #13
Hm maybe I forgot to flush the cache.
I prefer option 2a. Having a dedicated content type makes permission and content management more clear.

[2018-09-28 08:34] fgeyer16 commented on #10
It seems that TLS and port 587 are working but SSL and port 465 not. Scine gmail is using first we can use the clarityh2020@gmail.com account. Who knows the credentials?

[2018-09-28 16:21] fgeyer16 commented on #14
There is now a vocabulary  called EU-GL. The description of every term of this vocabulary will be shown on the Information Page.
There is only one term without parents called EU-GL as well. It contains the description of the EU-GL itself. Every other description has to be  child or grandchild of this one term. Proposed Stucture

- EU-GL
  - Hazard
    - Heatwave
      - sub themes
    - Flooding

[2018-09-28 16:33] fgeyer16 commented on #20
There are three modules for Drupal  8 which allow creating pdf from content:

1. [Entity print](https://www.drupal.org/project/entity_print)
2. [Printable](https://www.drupal.org/project/printable)
3. [PrinterFriendly](https://www.drupal.org/project/printfriendly)
From a first view I think 1 or 3 are more flexible than 2 so that we can create nice reports. For the definitive decision we will have

[2018-09-28 16:55] fgeyer16 commented on #19
Since we have decided to use drupal for managing the metadata I have created two content types which are very basic at the moment:

1.Data Package:
  For now it only contains a field for a Description and a Reference Field to the second content type
"dataset". For each metadata classifying the data package itself a field should be added to this content type.
2.Dataset:
This content type only conta

[2018-09-28 16:57] fgeyer16 commented on #9
This is a duplicate of https://github.com/clarity-h2020/docker-drupal/issues/19
so I am closing this one.

[2018-09-28 16:57] #9 closed, assigned to maesbri, Itsman-AT, bernhardsk, patrickkaleta

[2018-10-04 09:23] p-a-s-c-a-l commented on #1
Add
- [x] drupal/prepopulate
- [x] drupal/smtp

Upgrade
- [x] drupal/console to v1.8

[2018-10-04 11:41] p-a-s-c-a-l commented on #13
I moved the respective code to a [separate git repository](https://github.com/clarity-h2020/help-widgets-module/issues/1).

Ideally, you should develop in your own local git repository and then push to [help-widgets-module](https://github.com/clarity-h2020/help-widgets-module). The module residing in the local docker-drupal git repository on the DEV server can then be updated with:

``
git subtree

[2018-10-04 11:43] p-a-s-c-a-l commented on #12
I moved the respective code to a [separate git repository](https://github.com/clarity-h2020/csis-theme/issues/1).

Ideally, you should develop in your own local git repository and then push to [csis-theme](https://github.com/clarity-h2020/csis-theme). The theme residing in the local docker-drupal git repository on the DEV server can then be updated with:

``
git subtree pull --prefix=drupal-data/w

[2018-10-04 12:13] p-a-s-c-a-l commented on #3
@fgeyer16 @patrickkaleta

Running `composer update drupal/core --with-dependencies` did **not** upgrade Drupal v8.5.6. Running `composer update` however did update Drupal v8.5.6 to v8.5.7 (along with all other updatable modules). However, the most recent version of Drupal is v8.6.1. Any ideas, why composer does not perform the update to v8.6.1?

[2018-10-04 12:16] p-a-s-c-a-l commented on #19
Please refer to the [current draft of the CSIS Data Package Specification](https://docs.google.com/spreadsheets/d/10ii3Exq3SSkz5nmiUwRenumnhfw1h13_M5_FcKFha7Y/edit?usp=sharing).

The Specification shall be implemented as Content Type and for the serialisation into JSON we use the Drupal ~REST API~ [JSON:API](https://github.com/clarity-h2020/docker-drupal/issues/43).

[2018-10-04 12:46] p-a-s-c-a-l opened #24 "OpenLayers 4.1.0 library not found"
OpenLayers 4.1.0 library not found at libraries/openlayers/build/ol.js. Please !download it to libraries/openlayers/build, or undo your changes to the libraries registry to use the CDN version.

Steps to resolve this issue are described in https://www.drupal.org/project/openlayersd8/issues/2993446

[2018-10-04 13:19] p-a-s-c-a-l commented on #10
We are currently evaluating the possibility to setup our own mail server based on https://github.com/tomav/docker-mailserver

But then we definitely need to open the required ports in the corporate firewall. @Itsman-AT

[2018-10-04 13:22] p-a-s-c-a-l commented on #14
The structure has to follow the description of the EU-GL Modules as described in chapter 'CLARTIY Modelling Methodology' in deliverable D3.1 'Science Support Plan' (available on OwnCloud).

[2018-10-04 13:25] therter commented on #22
**Add taxonomy terms via SQL:**

As example, the taxonomy country with the two fields country and study_area was created.
When a shape file with the country data exists (e.g. from https://gadm.org/download_world.html), a import script can be created by the shp2pgsql command.

**Example:**
[code]

This script can be executed with the psql command. After this, the data from the shape file is availab

[2018-10-04 14:34] Itsman-AT commented on #10
Could you please update me from which domain/server you want to reach which smtp? Are we trying to use a gmail account or do we want to use the AIT DMZ MX? I will then ask the Helpdesk to support us further.

[2018-10-05 07:48] #1 closed, assigned to p-a-s-c-a-l

[2018-10-05 08:12] p-a-s-c-a-l commented on #10
Sending mails via SMTP does not work, Drupal shows a generic error message:

**Unable to send email. Contact the site administrator if the problem persists.**

Although there is an option to enable debugging (Checking this box will print SMTP messages from the server for every e-mail that is sent.), the debug log printed in the browser windows disappears so fast (because the page is instantly relo

[2018-10-05 08:29] p-a-s-c-a-l commented on #10
Now, after allowing 'insecure apps' to access the goggle account, sending mails on behalf of CSIS does work. However, this can only be an **intermediate solution for developing and testing** until we've setup out own mail server!

@negroscuro
Can you lease check possibilities for adding a TXT Record (see mail from 04.10.2018) to the domain?

[2018-10-05 09:01] therter commented on #11
**Integrate a react-app**
The module [React Mount Node](https://www.drupal.org/project/reactjs_mount) is used to add a react app to the drupal system. Therefore the react app will be packed into a js file (e.g. with webpack) and added as a library to a drupal theme.

**Example to add a library to the bartik theme**
Add the following code to the end of the bartik.libraries.yml file:

[code]

This l

[2018-10-05 10:01] p-a-s-c-a-l opened #25 "Managing Modules, Themes and AJAX Apps"
At the moment the git repositories for modules and themes, e.g.  [csis-theme](https://github.com/clarity-h2020/csis-theme) are referenced as [git subtree](https://www.atlassian.com/blog/git/alternatives-to-git-submodule-git-subtree) in the general csis drupal repository [docker-drupal](https://github.com/clarity-h2020/docker-drupal/) (see https://github.com/clarity-h2020/docker-drupal/issues/12#is

[2018-10-05 10:02] p-a-s-c-a-l commented on #11
If the react apps need to reside in a subfolder of the [csis-theme](https://github.com/clarity-h2020/csis-theme), then we might run in to problems if we want to use dedicated git repositories for our react apps. See also https://github.com/clarity-h2020/docker-drupal/issues/25

[2018-10-10 10:00] p-a-s-c-a-l commented on #10
Emails are now sent from noreply@csis.myclimateservice.eu

[2018-10-10 10:00] #10 closed, assigned to p-a-s-c-a-l, negroscuro, fgeyer16, Itsman-AT, bernhardsk

[2018-10-18 05:28] p-a-s-c-a-l commented on #23
Done. See also https://github.com/clarity-h2020/csis/issues/26

[2018-10-18 05:28] #23 closed, assigned to fgeyer16, patrickkaleta

[2018-10-18 12:35] p-a-s-c-a-l commented on #11
@therter  According to the [React Mount Node](https://www.drupal.org/project/reactjs_mount) documentation, you can place the react app in the libraries folder of the theme or in the general /libraries folder. Please check also the [Best practices for handling external libraries in Drupal 8](https://www.drupal.org/project/documentation/issues/2605130).

[2018-10-18 12:35] p-a-s-c-a-l commented on #25
See also [Best practices for handling external libraries in Drupal 8](https://www.drupal.org/project/documentation/issues/2605130).

[2018-10-18 13:32] p-a-s-c-a-l commented on #12
``/drupal-data/web/themes/custom/csis`` is now excluded from [docker-drupal](https://github.com/clarity-h2020/docker-drupal/) repository (see also https://github.com/clarity-h2020/docker-drupal/commit/c995784feb2d489086a380081a95d8f6f5508d91) and is owned by user *docker* which does not have push access to [csis-theme](https://github.com/clarity-h2020/csis-theme/) repository!

To update the theme

[2018-10-18 13:39] p-a-s-c-a-l commented on #13
``/drupal-data/web/modules/custom/help_widgets`` is now excluded from [docker-drupal](https://github.com/clarity-h2020/docker-drupal/) repository (see also https://github.com/clarity-h2020/docker-drupal/commit/c995784feb2d489086a380081a95d8f6f5508d91) and is owned by user *docker* which does not have push access to [help-widgets-module](https://github.com/clarity-h2020/help-widgets-module) reposit

[2018-10-22 07:51] therter commented on #22
A first gif of a map component that interacts with the drupal system:

![anim](https://user-images.githubusercontent.com/1788509/47282000-d4d4ba80-d5dd-11e8-91fa-4f9cb35b87ec.gif)

[2018-10-22 08:06] therter commented on #22
A first gif of  a map component that interacts with the drupal system

![anim](https://user-images.githubusercontent.com/1788509/47283101-19625500-d5e2-11e8-9671-50de1e08724d.gif)

[2018-10-22 08:08] therter commented on #22
A first gif of  a map component that interacts with the drupal system

![anim](https://user-images.githubusercontent.com/1788509/47283101-19625500-d5e2-11e8-9671-50de1e08724d.gif)

[2018-10-22 09:08] p-a-s-c-a-l commented on #15
Done: https://csis.myclimateservice.eu/admin/group/types/manage/study

[2018-10-22 09:09] p-a-s-c-a-l commented on #8
Basic Group Type available: https://csis.myclimateservice.eu/admin/group/types/manage/study

[2018-10-22 14:33] therter commented on #22
To allow the communication with the REST API, the *RESTful Web Services* module has to be activated (`/admin/modules permission`) and the permissions for the required resources should be set via the page `/admin/config/services/rest`.

![restapi](https://user-images.githubusercontent.com/1788509/47298208-7298ab80-d617-11e8-8f5a-cf65581ea051.png)

Example to access the RestAPI from javascript code

[2018-10-22 16:31] p-a-s-c-a-l commented on #18
See also https://github.com/clarity-h2020/csis-theme/issues/2#issuecomment-431366380 for problems related to embedding seamless.js into the drupal theme.

[2018-10-25 08:35] p-a-s-c-a-l commented on #21
For the legacy [Angular Scenario Analysis & Multi Criteria Widget](https://github.com/clarity-h2020/scenario-analysis) that is integrated as [iFRame](https://github.com/clarity-h2020/docker-drupal/issues/18), we use [angular-screenshot](https://github.com/weihanchen/angular-screenshot) to create a screenshot of the respective diagram DOM Element and send image data to the [Drupal REST API](https:/

[2018-10-25 08:36] p-a-s-c-a-l commented on #17
Resolved in https://github.com/clarity-h2020/docker-drupal/issues/22#issuecomment-431853274

[2018-10-25 13:01] p-a-s-c-a-l commented on #8
@fgeyer16 @patrickkaleta

How are the different steps of the complete process represented in terms of user interfaces and types / entities?

- Study Context Definition (this is current the [display of a study group entity](https://csis.myclimateservice.eu/group/1))
- Study Area Selection
- Data Package Selection
- EU-GL Steps
  - HC
  - EE
  - ...
- [Scenario Analysis](https://github.com/clarity-h

[2018-10-29 08:11] patrickkaleta commented on #13
I implemented option 2a.

I created a new content type called "Contextual help" with just a body field, where text and images can be added. Then I set up Pathauto to automatically create paths for this content type in the following manner: **/help/[Node ID]**

Those paths can then by used for the help-widgets module.

Right now the module is configured for plain textareas and textfields. If we don

[2018-10-29 13:47] patrickkaleta opened #26 "Create Solution offers"
As proposed by Denis some kind of marketplace should be introduced to Clarity, which would give solution providers an opportunity to promote their solutions, which would include different hazards, elements at risk and reference showcases.

For a first draft the following steps need to be done:

- [ ] create 3 vocabularies (Hazards, Elements at risk, Solution offer types)

- [ ] create 2 content ty

[2018-10-29 14:25] p-a-s-c-a-l commented on #18
Integrate iFrame with:

[code]

See also https://github.com/clarity-h2020/scenario-analysis/issues/2

[2018-10-29 14:25] #18 closed, assigned to p-a-s-c-a-l, therter

[2018-10-29 15:11] p-a-s-c-a-l commented on #17
POST to REST API failed with error message `"X-CSRF-Token request header is missing"`

@therter
So probably we have to fetch the token from `/rest/session/token` and set the `X-CSRF-Token` header as suggested [here](https://drupal.stackexchange.com/questions/230159/message-x-csrf-token-request-header-is-missing/230238)

[2018-10-30 09:02] p-a-s-c-a-l opened #27 "Files created with REST API are only temporary"
*"File entities created by POSTing a base64-encoded image using the REST API are created as temporary files and cannot then be attached to another entity, and worse, are deleted after 6 hours."* [source](https://www.drupal.org/node/2756127)

There is a patch attached to [this comment](https://www.drupal.org/project/file_entity/issues/2756127#comment-12505374), but it's not clear how to apply this

[2018-10-30 09:19] p-a-s-c-a-l commented on #27
Files are currently created following [these instruction](https://www.drupal.org/project/drupal/issues/2682341#comment-11965256) apparently with help of the [File Entity Module](https://www.drupal.org/project/file_entity) but suffer from the problem mentioned above.

However, the official [JSON API documentation](https://www.drupal.org/docs/8/modules/json-api/file-uploads), mentions that *"Native

[2018-10-30 09:23] p-a-s-c-a-l commented on #27
@fgeyer16 @patrickkaleta

Should we apply the [patch](https://www.drupal.org/files/issues/file_entity_save_permanent-2756127-19.patch) or update to Drupal 8.6.2 and try out the new file API? Concerning the update, please check also https://github.com/clarity-h2020/docker-drupal/issues/3!

[2018-10-30 09:24] p-a-s-c-a-l commented on #21
We use [html2canvas](https://html2canvas.hertzen.com/) to generate a screenshot of the map area that should be included in the report and upload the PNG image to Drupal. However, at the moment [Files created with REST API are only temporary](https://github.com/clarity-h2020/docker-drupal/issues/27)!

[2018-10-30 09:49] p-a-s-c-a-l commented on #3
Solution: update [composer.json](https://github.com/clarity-h2020/docker-drupal/blob/dev/drupal-data/composer.json):
[code]

and run
[code]

@patrickkaleta @fgeyer16
Can we safely update to 8.6.2 without breaking your custom modules, etc.? Update is required due to https://github.com/clarity-h2020/docker-drupal/issues/27

[2018-10-30 10:18] patrickkaleta commented on #3
@p-a-s-c-a-l
I'm locally already running on a 8.6.1 version and the Help-widgets module is running as expected. Update to 8.6.2 should not break the module.

As far as I'm aware of this is also the only custom module we have right now (at least it's the only one I created).

[2018-10-30 13:20] p-a-s-c-a-l opened #28 "Warning: Usage of json_field bricks Drupal instance"
**Warning**: Module [json_field 8.x-1.0-rc1](https://www.drupal.org/project/json_field/releases/8.x-1.0-rc1) doesn't seem to include the patch mentioned in [this issue](https://www.drupal.org/project/json_field/issues/2955173). Creating a filed of type native JSONB could therefore 'brick' the Drupal instance: `The website encountered an unexpected error. Please try again later.`

`Error: Uncaught

[2018-10-30 14:14] p-a-s-c-a-l commented on #28
Temporary workaround: restore configuration with `drush cim` and uninstall json_field module with `drush pmu json_field` **and** `composer remove drupal/json_field`.

[2018-10-31 09:07] p-a-s-c-a-l opened #29 "Cannot delete Field"
@patrickkaleta @fgeyer16
How can we delete a [faulty](https://github.com/clarity-h2020/docker-drupal/issues/28) / no longer used field? The [following instructions](https://drupal.stackexchange.com/a/110361) don't work with Drush 9.x: `Error: Call to undefined function field_delete_field() in eval() (line 1 of /app/vendor/drush/drush/src/Commands/core/PhpCommands.php(28) : eval()&#039;d code).`

[2018-11-01 15:56] fgeyer16 commented on #29
If the field is created by a module and drupal is fully aware of the field I do not know another way than the way you used [in the json_fiel issued](https://github.com/clarity-h2020/docker-drupal/issues/28).
Remove all instances of the field type and remove the module.
If you only want to remove one field, removing all instances of the field schould work.
If an installation fails or the field is b

[2018-11-01 16:01] fgeyer16 commented on #3
As far as I know  a update of the third number of the version (8.6.x) should never be a problem. This Updates never change the API itself so all installed modules can use it as before the update.

[2018-11-05 07:35] p-a-s-c-a-l opened #30 "JSON API Authorisation Error"
Accessing the HAL+JSON representation of an entity (e.g. `/study/1?_format=hal_json`) results in the following error although accessing the XML or plain JSON representation (e.g. `/study/1?_format=json`) does work:

[code]

@fgeyer16 @patrickkaleta

Is there anything else to configure apart from these setting in REST UI:

![grafik](https://user-images.githubusercontent.com/1788226/47985089-eab3a68

[2018-11-05 08:15] p-a-s-c-a-l opened #31 "UndefinedLinkTemplateException"
Accessing the group admin page ( `/admin/group/`) sometimes yields to an UndefinedLinkTemplateException:

``
Drupal\Core\Entity\Exception\UndefinedLinkTemplateException: No link template 'edit-form.area' found for the 'group' entity type in Drupal\Core\Entity\Entity->toUrl() (line 224 of /app/web/core/lib/Drupal/Core/Entity/Entity.php)
``

The error is probably related to [this issue](https://www.

[2018-11-05 08:22] p-a-s-c-a-l commented on #30
~The error magically disappeared after editing the group entity. Perhaps a database / consistency problem.~

[2018-11-05 08:35] patrickkaleta commented on #30
@p-a-s-c-a-l
cannot reproduce this error. Requesting JSON and HAL_JSON worked for me (both, as anonymous user and as logged in administrator).

Didn't change anything, just flushed the cache a while ago. Not sure, what could be the cause for your problem.

[2018-11-05 12:23] p-a-s-c-a-l commented on #18
If [JS Dependecies](https://github.com/clarity-h2020/csis-theme/issues/4) are available, the following code can be used:

[code]

[2018-11-05 15:37] fgeyer16 commented on #31
On the csis or on your local environment? If on local environment please check if in modules/contrib/group/src/Entity/Group.php in the annotations (the comment "defines group entity") in the form={} section

is defined.

Otherwise we need to track down when "sometimes" is, what the circumstances are when the error occurs (coming from certain page, ...)

[2018-11-07 07:06] p-a-s-c-a-l opened #32 "UnknownExtensionException: The module standard does not exist."
`Drupal\Core\Extension\Exception\UnknownExtensionException: The module standard does not exist. in Drupal\Core\Extension\ExtensionList->get() (line 257 of /app/web/core/lib/Drupal/Core/Extension/ExtensionList.php).` when accessing `admin/modules´.

[2018-11-07 07:07] p-a-s-c-a-l commented on #32
Workaround / Solution (?):
Commented `#$settings['install_profile'] = 'standard';` in `/web/sites/default/settings.php` as recommended in [Installation profile missing after upgrade to 8.6.1](https://www.drupal.org/project/drupal/issues/3000677).

[2018-11-07 07:07] #32 closed, assigned to p-a-s-c-a-l

[2018-11-07 07:10] p-a-s-c-a-l commented on #30
Entity `/study/1` damaged beyond repair after changing some fields in the local dev instance, works with other entities.

[2018-11-07 07:10] #30 closed, assigned to therter

[2018-11-07 07:14] p-a-s-c-a-l commented on #31
Problem probably caused by a '[damaged group entity](https://github.com/clarity-h2020/docker-drupal/issues/30#issuecomment-436526151)'. Disappeared after deleting/recreating the entity.

[2018-11-07 07:14] #31 closed, assigned to p-a-s-c-a-l

[2018-11-07 07:14] p-a-s-c-a-l commented on #17
done

[2018-11-07 07:14] #17 closed, assigned to therter, bernhardsk

[2018-11-07 07:18] p-a-s-c-a-l commented on #3
Updated from v8.5.x to v8.6.x to resolve the '[Files created with REST API are only temporary](https://github.com/clarity-h2020/docker-drupal/issues/27)' issue.

[2018-11-07 07:18] #3 closed, assigned to p-a-s-c-a-l

[2018-11-08 06:43] p-a-s-c-a-l opened #33 "Limit the number of fields to display"
See [Limit the number of fields to display on Field UI with Display Suite](https://realize.be/blog/limit-number-fields-display-field-ui-display-suite).

[This module](https://www.drupal.org/project/field_multiple_limit) doesn't work in Drupal 8, while [this feature issue](https://www.drupal.org/project/drupal/issues/1234624) is not yet available in Drupal 8 core.

@fgeyer16 @patrickkaleta
Are ther

[2018-11-08 08:10] p-a-s-c-a-l opened #34 "Warning: Manage display can brick view mode"
Managing the display of a view mode can 'brick' it under certain circumstances leaving the display unusable and uneditable. To reproduce just try to create a display like shown in the following example:

![grafik](https://user-images.githubusercontent.com/1788226/48185161-1a0e2180-e32c-11e8-97b3-f02da0760eff.png)

Arranging the different groups (tabs, tab) and fields and getting them in the right

[2018-11-08 08:13] p-a-s-c-a-l commented on #7
Taxonomies are created, but content is still missing:

![grafik](https://user-images.githubusercontent.com/1788226/48185861-4034c100-e32e-11e8-934a-327e6c40ce59.png)

[2018-11-08 10:46] p-a-s-c-a-l opened #35 "Image Upload does not work"
Images can be selected but there is no 'upload' button nor are the images uploaded when the form is saved:
![grafik](https://user-images.githubusercontent.com/1788226/48193797-3f5a5a00-e343-11e8-90fc-bb68fb2dab6d.png)

@patrickkaleta @fgeyer16
Any idea how to get this to work? Unfortunately, we need to use image entities since [specifying a delta / index on ordinate multiple fileds](https://github

[2018-11-08 10:51] p-a-s-c-a-l commented on #33
We can use image entities instead of a multi html field (with `<img src="..."/>` tag) in conjunction with the [image delta formatter module](https://www.drupal.org/project/image_delta_formatter):

![grafik](https://www.drupal.org/files/images/image_delta_formatter.png)

~~However, image upload is currently [not working](https://github.com/clarity-h2020/docker-drupal/issues/35)!~~

[2018-11-08 11:20] p-a-s-c-a-l commented on #35
Selecting multiple images in file browser does not work, but selecting a singe file does! :man_facepalming:

[2018-11-08 11:20] #35 closed, assigned to p-a-s-c-a-l

[2018-11-09 07:03] p-a-s-c-a-l commented on #34
To restore the unresponsive display view, change faulty `core.entity_view_display.node.gl_step.sce.yml`, remove group_preview child of group_preview group and import with `drush cim`.

[code]

[2018-11-09 07:03] #34 closed, assigned to fgeyer16, patrickkaleta

[2018-11-09 07:25] p-a-s-c-a-l commented on #18
Full Example: [nodeConnector.js](https://github.com/clarity-h2020/scenario-analysis/blob/dev/app/scripts/connectors/nodeConnector.js).

[2018-11-09 07:28] p-a-s-c-a-l opened #36 "iFrame Integration not working properly in Tab Group"
If an iFrame is embedded in a Field Group **Tab**, [iFrame integration](https://github.com/clarity-h2020/docker-drupal/issues/18) with [seamless.js](http://travistidwell.com/seamless.js/) does not work, especially if the iFame resides on a tab that is not visible when the page is loaded.

[2018-11-09 08:43] p-a-s-c-a-l opened #37 "Cannot load GroupContent entities for an unsaved entity"
Creating a new entity in a group, e.g. `/group/1/content/create` doesn't work anymore:
``Drupal\Core\Entity\EntityStorageException: Cannot load GroupContent entities for an unsaved entity. in Drupal\group\Entity\Storage\GroupContentStorage->loadByEntity() (line 84 of /app/web/modules/contrib/group/src/Entity/Storage/GroupContentStorage.php).``

See also [issue #2966706](https://www.drupal.org/proj

[2018-11-09 08:44] p-a-s-c-a-l commented on #33
Not an optimal solution but at least a working solution.

[2018-11-09 08:44] #33 closed, assigned to p-a-s-c-a-l

[2018-11-09 08:48] p-a-s-c-a-l commented on #24
There a are several additional issues when trying to add a OpenLayers map. Therefore we'll use our [own map application](https://github.com/clarity-h2020/map-component) and remove the open layers plug-in.

[2018-11-09 08:57] p-a-s-c-a-l commented on #37
🔥 Same problem when trying to create a new entity: `node/add/gl_step`.

[2018-11-09 09:56] patrickkaleta commented on #37
Seems like all content entities show the same error message now. Even creating a default "Basic page" entity (which doesn't even have a relation to Group!) doesn't work anymore.

@p-a-s-c-a-l
I would suggest a DB rollback, unless @fgeyer16 has an idea on how this can be fixed?

[2018-11-09 09:59] fgeyer16 commented on #37
I think I messed up something with the helpers module, Im on it

[2018-11-09 10:16] fgeyer16 commented on #37
The bug is repaired. I forgot that add and edit forms are the same.

[2018-11-09 10:16] #37 closed, assigned to nobody

[2018-11-09 10:22] fgeyer16 commented on #36
Any output un the js console of the browser?

[2018-11-09 10:32] fgeyer16 opened #38 "We need more script memory"
In the moment the php memory limit is at 128  MB. Trying to implement the automatic generation of group content I get an exhausted memory error.
So we definitely need more php memory. Lets try if memory_limit = 256M are enough.
Please somebody from AIT, who can do that on the server.Or is it an docker issue?

[2018-11-09 12:02] p-a-s-c-a-l commented on #38
Since php.ini is not part of a docker-volume and changes to this file will be lost when the container is recreated, I added `ini_set('memory_limit', '512M');` to `web/sites/default/settings.php`.

[2018-11-09 12:04] p-a-s-c-a-l commented on #38
![grafik](https://user-images.githubusercontent.com/1788226/48261603-ed3b3680-e41f-11e8-8afb-3b060f125f91.png)

[2018-11-09 12:04] #38 closed, assigned to bernhardsk, patrickkaleta

[2018-11-10 18:40] patrickkaleta opened #39 "Automatically create all GL-Step entities when creating a new Study group"
Added new functionality which creates all necessary GL-Step entities right after a new Study group is created by a user. Those entities receive a title (name of the EU-GL step) and the corresponding EU-GL taxonomy term. They also get assigned to the new group and the user who created that group.

@p-a-s-c-a-l
I noticed some inconsistencies between the EU-GL terms used in the mockup and the infogra

[2018-11-12 14:31] p-a-s-c-a-l opened #40 "Containers do not start on Windows"
Postgesql container does not start on Windows since the postgresql container expects the **host-mounted** pg_data dir residing on a unix filesystem while docker for windows host-mounts are smb shares mounted from windows host.

[2018-11-12 14:36] p-a-s-c-a-l commented on #40
Ugly workaround: On Windows host, move host-mounted pg_data dir to var/lib/docker/volumes dir of Linux VM running docker and declare as **named volume**.

Tar host mounted volumes preserving owner and permissions and transfer the tar to the Windows machine
``sudo tar -czvpf 100-csis-daily.tar.gz 100-csis/ ``

Start containers with local configuration and update the now *name volume* **postgresql_d

[2018-11-13 06:48] p-a-s-c-a-l opened #41 "Create private GitLab repository for drupal-data"
Split this GitHub repository into docker configuration and csis configuration repositories: Move `/drupal-data` docker host-mounted volume to new private GitLab repository and include drush configuration, settings.php, etc., too.

[2018-11-13 06:53] p-a-s-c-a-l commented on #40
Next steps to improve the process:
- [x] use separate repository for `drupal-data`, See https://github.com/clarity-h2020/docker-drupal/issues/41
- [ ] synchronise database with drush (to be addressed in a separate issue)

[2018-11-13 08:53] p-a-s-c-a-l commented on #39
@patrickkaleta Yes, that's a know issue.

[2018-11-19 15:39] p-a-s-c-a-l commented on #41
GitLab Repository available at https://gitlab.atosresearch.eu/ari/clarity-csis-drupal

See also https://github.com/clarity-h2020/csis/issues/43

[2018-11-21 07:30] patrickkaleta commented on #12
I talked to Andrea about possible designs and she said that they already created a draft for a couple of example pages (and that they could also do the same for all the other pages) which can be found on ownCloud:

https://repository.atosresearch.eu/owncloud/index.php/apps/files/?dir=%2FCLARITY%2FWP6%20Dissemination%20and%20Community%20Building%2FT6.2%20Media%20Production%20and%20Publishing%2FCSIS

[2018-11-21 09:09] p-a-s-c-a-l commented on #41
@patrickkaleta @fgeyer16

Docker volume *drupal-data* is now managed in [private GitLab Repo](clarity-h2020/csis#43) and includes drush configuration.

[2018-11-21 09:09] #41 closed, assigned to p-a-s-c-a-l, maesbri

[2018-11-21 10:06] p-a-s-c-a-l commented on #12
I agree, this looks much better. But who would be responsible for creating the CSS, adapting the current bootstrap theme, etc.? See also https://github.com/clarity-h2020/csis-theme/issues/5

[2018-11-23 15:59] patrickkaleta opened #42 "Problem with file permissions on server"
There seems to be a problem with the file permissions on the server, leading to the website not being properly displayed (missing navigation for studies, wrong admin-toolbar in FE, CSS errors on modules-page etc).

Looks like the problem first occured on Wednesday (21.12.2018) around 11:30 a.m. Error is reproducible in local environment when using a new tar.gz files (created after Wednesday). Drup

[2018-11-23 16:17] p-a-s-c-a-l commented on #42
My fault. :-)
I "moved" /drupal-data to a [private GitLab repository](https://github.com/clarity-h2020/docker-drupal/issues/41) and thereby reset owner:group and permissions to defaults values.
Your approach is the solution.

[2018-11-23 16:37] Itsman-AT commented on #42
Dear all,
I have been in contact with our IT this afternoon and we decided to take this machine offline over the weekend because we incountered this problem and suspected an intruder. If this is not the case any mor I will keep in online. Or is there still unusual behaviour visible?

[2018-11-26 08:51] p-a-s-c-a-l opened #43 "JSON:API vs. core's REST Module"
According to [this guide](https://www.drupal.org/docs/8/modules/jsonapi/fetching-resources-get), it should be possible to access [this node](https://csis.myclimateservice.eu/node/76) using Drupal 8's **JSON:API** via the following URI: https://csis.myclimateservice.eu/jsonapi/node/data-package/76

However, 404 Page not found is returned. Accessing the same node via the **REST module** does work: h

[2018-11-26 10:28] fgeyer16 commented on #42
I changed the Permissions of the three folders to 777 for now, but this should be only the fix until the correct owners are restored.
@p-a-s-c-a-l : I did not change the owners, since I do not know who the should be so that we have no side effects to the docker system. Can you please fix this or tell me the correct owners?

[2018-11-26 11:28] fgeyer16 commented on #43
The JSON:API is working properly. there is/was only a misinterpretation of the [documentation](https://www.drupal.org/docs/8/modules/jsonapi/fetching-resources-get)  it says:
`http://example.com/jsonapi/node/article/{{article_uuid}}`
The "76" in your example is only the **node-id but not the UUID** (which is 2f9ec849-f8c4-4eb8-870d-f7e6c9423274 for now).
I was not aware of this and needed myself n

[2018-11-26 11:42] p-a-s-c-a-l commented on #43
OK, great. So the [csis-helpers-module](https://github.com/clarity-h2020/csis-helpers-module]) should be extended to retrieve also the uuid.

In the meantime we can use the filter capabilities but should be aware, that the awkward syntax may trigger some false positive security alerts:

![grafik](https://user-images.githubusercontent.com/1788226/49012001-5806a480-f178-11e8-91a7-fb8c7fa8d58a.png)

[2018-11-26 11:51] p-a-s-c-a-l commented on #42
OK. I set the correct owner to `www-data` (only available inside inside docker container) and assigned r/w permissions to the folders.

[2018-11-26 15:34] patrickkaleta commented on #42
Closing this since no further actions seem necessary and website currently not showing errors anymore.

[2018-11-26 15:34] #42 closed, assigned to p-a-s-c-a-l, fgeyer16, Itsman-AT, patrickkaleta

[2018-12-03 08:48] patrickkaleta commented on #20
I had a look at those three modules @fgeyer16 suggested:

1. Entity print:
   - supports multiple PDF engines (worked best with tecnickcom/tcpdf)
   - works with Views
   - doesn't include the map component, so we would have to take a screenshot of that and include in the View

2. Printable:
   - doesn't work with Views, supposed to work with all Content types and Groups, but the "generate-pdf but

[2018-12-05 10:22] p-a-s-c-a-l opened #44 "Replace autocomplete fields by drop-down Fields"
Please replace all autocomplete fields by drop-down fields / lists when selecting *existing* terms from a taxonomy to give the user a chance to view the selectable options. E.g. consider the following example: It is not possible to choose an existing license for a Data Package if you don't know the name of the license.

![grafik](https://user-images.githubusercontent.com/1788226/49506699-fe406180-

[2018-12-05 10:24] p-a-s-c-a-l commented on #40
done

[2018-12-05 10:24] #40 closed, assigned to p-a-s-c-a-l

[2018-12-05 10:25] p-a-s-c-a-l commented on #36
no js console output. problem probably related to the theme.

[2018-12-05 10:25] #36 closed, assigned to p-a-s-c-a-l

[2018-12-05 10:26] #29 closed, assigned to p-a-s-c-a-l

[2018-12-05 10:28] p-a-s-c-a-l commented on #43
resolved

[2018-12-05 10:28] #43 closed, assigned to therter, fgeyer16, patrickkaleta

[2018-12-05 10:30] p-a-s-c-a-l commented on #27
Drupal 8.6 installed, use the [JSON:API](https://github.com/clarity-h2020/docker-drupal/issues/43).

[2018-12-05 10:30] #27 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2018-12-05 10:32] p-a-s-c-a-l commented on #22
done

[2018-12-05 10:32] #22 closed, assigned to helllth, p-a-s-c-a-l, therter

[2018-12-05 10:32] p-a-s-c-a-l commented on #11
done

[2018-12-05 10:32] #11 closed, assigned to helllth, p-a-s-c-a-l, therter, fgeyer16

[2018-12-10 07:23] p-a-s-c-a-l commented on #19
@fgeyer16 @patrickkaleta

Is there any possibility to change the length of the *extent* field of the *Dataset* type? Max. length is 10, but that's not enough for e.g. '-180.0, -90.0, 180.0, 90.0':

*"The spatial_extent property defines the minimum bounding rectangle (xmin, ymin and xmax, ymax) defined by coordinate pairs of the spatial data resource. All coordinates for the data source fall within

[2018-12-10 08:04] p-a-s-c-a-l commented on #44
I replaced the inline entity form of the *spatial context/*grid* property by a select list, since we should reuse as much entities as possible. E.g. the spatial context (including its grid) is the same for the [different HC Datasets](https://github.com/clarity-h2020/data-package/issues/8) I'm going to add. So there's no need to to duplicate all this information.

However, in the select list, it's

[2018-12-10 08:41] fgeyer16 commented on #44
For adding or creating and add a new entity to a reference field there are two possibilities:

- Inline entity Form of type complex. Here you can select if the user can create and/or select existing entity. But the selection widget is an autocomplete widget.
- Entity Browser. Same idea as Inline forms but a more flexible implementation. Entity browsers are managed at admin/config/content/entity_br

[2018-12-10 08:58] fgeyer16 commented on #19
The only way to alter the length of a field, if there are already data in the database is to create a new field with the new specs. transfer the values and delete the old field.
Since you want another representation of the data this should be the way any way.
I suggest to use a geofield with the bounding box widget.

[2018-12-11 08:21] p-a-s-c-a-l commented on #25
Apps (like the Map Component) are now nested **local git repositories** in /drupal-data/web/apps and ignored in the "parent repositories" [drupal-data](https://gitlab.atosresearch.eu/ari/clarity-csis-drupal) and [docker-drupal](https://github.com/clarity-h2020/docker-drupal). This is just a temporary solution for development, apps should be distributed as Drupal modules!

Current directory structu

[2018-12-12 12:32] p-a-s-c-a-l commented on #20
@patrickkaleta @fgeyer16

Report generation has now high priority as it's "show-stopper" feature for CSIS v1 and can be implemented even if no additional data (e.g. from impact calculation) is yet available.

Imho the following step are required:

- define a structure for report content at the level of Gl-Step and Study Group Type. For static content, we could introduce an additional boolean flag

[2018-12-13 10:41] p-a-s-c-a-l opened #45 "General UI Improvements"
Here we collect some important improvements to the user interface that need to be addressed for [CSIS v1](https://github.com/clarity-h2020/docker-drupal/milestone/2).

- [x] Landing Page
- [x] Remove admin controls for non-admin users
- [ ] better separation between study and GL-step tabs
- [x] Progress Indicator
- [x] better separation between prototype implementation and mock-ups
- [ ] [Update T

[2018-12-13 10:58] p-a-s-c-a-l commented on #45
### Landing Page

If you visit https://csis.myclimateservice.eu/ as non-member, a landing page with explanations (what can expect from the csis, etc.) should be shown. Get in touch with the @clarity-h2020/dissemination-team and ask them to provide some editorially prepared statements. Information about the CSIS can be found in the mission statement of the CSS Architecture (D4.2 on OwnCloud) and WP

[2018-12-13 14:04] p-a-s-c-a-l commented on #45
### Remove admin controls for non-admin users

![grafik](https://user-images.githubusercontent.com/1788226/49934473-c95f8a80-fece-11e8-9135-7a53032ce58d.png)

![grafik](https://user-images.githubusercontent.com/1788226/51324333-b9f1d500-1a6a-11e9-9211-c0924dcc78d8.png)

[2018-12-13 14:08] p-a-s-c-a-l commented on #45
### better separation between study and GL-step tabs

 GL-step tabs should be smaller, compare Mockup vs. Implementation

**Mockup**
![grafik](https://user-images.githubusercontent.com/1788226/49943600-9fb35d00-fee8-11e8-90aa-ad4991328f84.png)

**Drupal**
![grafik](https://user-images.githubusercontent.com/1788226/49943641-bf4a8580-fee8-11e8-88c3-507d7807d503.png)

[2018-12-13 14:13] p-a-s-c-a-l commented on #45
### Progress Indicator
Indicate to the user, that the the study follow a x-step progress. Current step should be highlighted.
All steps but the first step should be locked (tab visible but disabled), next step should be unlocked when the previous step has been completed (visited).

![grafik](https://user-images.githubusercontent.com/1788226/49943745-fb7de600-fee8-11e8-9d70-4794481c2a43.png)

![gra

[2018-12-13 14:17] p-a-s-c-a-l commented on #45
### Better separation between prototype implementation and mock-ups

Remove prototype tab and move the content on top of mock-up tabs. Mock-Up tab remains closed. Ensure the content doesn't show any "under construction" placeholder but at least a (html) wireframe implementation of the mock-up.

![grafik](https://user-images.githubusercontent.com/1788226/49944068-ce7e0300-fee9-11e8-9cf3-cfebb5c5e45

[2018-12-13 14:47] p-a-s-c-a-l commented on #45
### Update Taxonomies

This is a very important task. IMHO @DanielRodera could easily take care about this as it's a pure editorial task and does not involve structural changes or module development.

Please act proactively and add missing taxonomy terms and their descriptions.
- for [Sectors](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/sector/overview) please select a standar

[2018-12-14 09:31] patrickkaleta commented on #44
@p-a-s-c-a-l
I created the remaining Entity Browsers for Contributors, Sources and Licences (which are used both in the forms for data package and dataset) in the same way @fgeyer16 did for the grids. Other than that I didn't find any other autocomplete fields which should get replaced.

Some CSS changes need to be further applied (should hopefully be done by the end of the day).

[2018-12-14 10:55] patrickkaleta commented on #45
### Regarding the Landingpage:

Drupal offers the possibility to set **one** front page (/admin/config/system/site-information). We could create a content entity of type **Basic page** and fill it with general information that would be displayed to everyone (logged in and anonymous users).

We could then place a block at the top of this content, which would display more basic information just for

[2018-12-14 11:05] p-a-s-c-a-l commented on #45
Yes, that's a good solution. We don't need two different landing pages for members and non-members. And since the main entry page is myclimateservice.eu, for the "About CSIS Block" we could simply reuse or summarise the editorial content about the CSIS that (has / will be ?) produced for myclimateservice.eu.

[2018-12-17 15:54] patrickkaleta commented on #44
CSS changes were not necessary in the end, we just had to set the appropriate formatter for the Entity Browser display inside the forms.

[2018-12-17 15:54] #44 closed, assigned to fgeyer16, patrickkaleta

[2018-12-19 14:08] p-a-s-c-a-l opened #46 ""Include in Report Button" for external Apps"
As described in this [issue](https://github.com/clarity-h2020/docker-drupal/issues/20#issuecomment-446572012), we have to extend [ReactMount](https://csis.myclimateservice.eu/admin/structure/types/manage/react_mount_with_js/) and [iFrame](https://csis.myclimateservice.eu/admin/structure/types/manage/extended_iframe/fields) Content Types by  an "Include in report" button that uses [html2canvas](htt

[2018-12-19 15:18] fgeyer16 commented on #45
### **Regarding the progress Indicator:**

How do we determine that the step has been visited? I propose an additional field which gets a certain value on the first visit. In this case we can easily extend the functionality to a certain field is filled in the step later. We can query this field in the navigation creation view and inactivate the following steps.
better separation between study and

[2018-12-19 15:20] p-a-s-c-a-l commented on #45
Sounds reasonable.

[2018-12-19 15:42] fgeyer16 commented on #46
This has to be included in csis-helper module. Modules are for functionality themes for looking nice :-)
Maybe this should be a small separate module.

May be I missed something on glimpsing on html2canvas. But how do we get an Imagefile from that to upload to the server?

[2018-12-19 15:49] p-a-s-c-a-l commented on #46
Here is an example: https://github.com/clarity-h2020/scenario-analysis/blob/dev/app/scripts/controllers/mainController.js#L170

`document.body.appendChild(canvas);` is just for testing purposes. It should be commented out.
` var imageBlob = canvas.toDataURL().replace(/^data:image\/(png|jpg);base64,/, '');` will get the image data from the canvas that was created by html2canvas from the html elemen

[2018-12-19 16:14] fgeyer16 commented on #46
Ah thank you.

[2019-01-14 15:27] p-a-s-c-a-l commented on #19
Please update the various Data Package Content Types according to the [updated Data Package Specification](https://github.com/clarity-h2020/data-package/issues/9#issuecomment-454011194).

[2019-01-14 15:37] p-a-s-c-a-l opened #47 "Data Package Views"
Please update the Data Package Views (*Data* Tabs in Study, HC, EE, ....) so that they they properly show the contents of the Data Package.

![grafik](https://user-images.githubusercontent.com/1788226/51122125-73f20280-1819-11e9-895d-ccdc4231dd39.png)

Views should follow the Mock-Ups. E.g. in the Study View (https://csis.myclimateservice.eu/study/1/view/data) is is probably sufficient to show the

[2019-01-15 11:52] therter commented on #45
**Regarding "Better separation between prototype implementation and mock-ups"**

I have already done this for the tabs Table and Map, because the initialisation of the used components works different when the prototype tab is used.

[2019-01-17 10:01] RobAndGo commented on #14
Here is a file containing a description of the hazards. When I produced this for the mock-up, I wasn't sure how much text would be required, so I kept it brief with the thinking that too much text may be too off-putting for the user.
[CLARITY Mockups_HazardDescription.docx](https://github.com/clarity-h2020/docker-drupal/files/2768061/CLARITY.Mockups_HazardDescription.docx)

[2019-01-17 10:18] DanielRodera commented on #14
Thank you! I have updated the taxonomies with the information @RobAndGo provided.

[2019-01-17 16:37] DanielRodera commented on #14
I have created a new taxonomy following the structure of the D3.1 'Science Support Plan' under the name "EU-GL D3.1". Please take a look to verify everything is ok. Once verified we can delete the old one. Thank you!

[2019-01-17 17:33] maesbri commented on #14
We need also taxonomies for:

* emissions scenarios
* hazards indexes

See the data-package specification

And probably more (to be discussed in Vienna)

[2019-01-18 07:53] p-a-s-c-a-l commented on #14
Maybe it would have been better to update the old taxonomy as it is used in many other content entities.

@fgeyer16 @patrickkaleta
Can you please check if this has any unwanted side-effects? E.g. gl_step/field_field_eu_gl_methodology (btw, why field_field ?!) refers to the old taxonomy. Same is be true for other content types. I think we have to update all existing content entities referring to th

[2019-01-18 08:49] RobAndGo commented on #14
Regarding the definitions of the **emissions scenarios**, once again this is information which I had sent to Refiz Duro in June when he was working on the mock-up.

[code]

For example, these would be the names that one would put on top of the hazard table when comparing the results across the emissions scenarios.

In addition, one would have to have a more detailed description of the emissions sc

[2019-01-18 09:19] maesbri commented on #14
Indeed, and those are the names I have used also within the data-package specification :)

I think we also need the definition for the "baseline" scenario for the taxonomy,, the one with time period 1971-2000.

For the hazard index example we have setup we have baseline (1971-2000), rcp26 + rcp45 + rcp85 (2011-2040, 2041-2070, 2071-2100)

[2019-01-18 09:21] RobAndGo commented on #14
Regarding the definitions of the **hazard indices**, we do have an excel table which defines them all:
[Clarity_Hazards_Climate_Indices_2019_01_18.xlsx](https://github.com/clarity-h2020/docker-drupal/files/2772293/Clarity_Hazards_Climate_Indices_2019_01_18.xlsx)
For each hazard index, its name, abbreviation, definition, and source is given.

[2019-01-18 09:32] RobAndGo commented on #14
@maesbri
I/we have perhaps been a bit lazy with the use of the term **baseline scenario**. The "baseline" is actually **not** a "scenario". More correctly one would use "baseline climate" or "baseline period".

A suitable definition would be:
**Baseline climate/period**: The 30-year period 1971-01-01 to 2000-12-31 used here to define a reference point for which the projected climate scenarios are

[2019-01-18 09:43] maesbri commented on #14
ok, then it is not part of the emissions scenario taxonomy.

I wonder if it would be convinient to define also a taxonomy for our time periods for the sake of completedness, although within the data package specification we are not using identifiers but real date numbers as it is a more general approach that allows to be reused for other purposes.

[2019-01-18 09:59] RobAndGo commented on #14
If you really wanted to define them, you could use something like:
2011-2040: Short-term (early 21st century)
2041-2070: Medium-term (mid-21st century)
2071-2100: Long-term (late 21st century)

[2019-01-20 11:31] fgeyer16 commented on #47
I added further fields now. But I have troubles to map the three Scenario lines to fields of the Data Package content type or content types referenced by it (like data set, analysis context and so on).

[2019-01-20 11:33] fgeyer16 commented on #19
The data package content type and the related content types are updated now.
@maesbri: Please check if everything is how intended.

[2019-01-21 09:57] patrickkaleta commented on #14
@p-a-s-c-a-l
using a new taxonomy would mean a lot of additional work in this case, since the EU-GL taxonomy plays a central role in the CSIS and is not only used in content types but also in a couple of Views, which would have to be updated as well. I suggest to just copy the content of each term in Daniel's new taxonomy into the corresponding term of the current EU-GL taxonomy.
<br>

Regarding t

[2019-01-22 09:37] patrickkaleta commented on #14
After talking to Daniel, we decided to copy & paste the contents from the new taxonomy (EU-GL D3.1) into the original one (EU-GL) and delete the new taxonomy "EU-GL D3.1". I will take care of this.

[2019-01-22 10:26] fgeyer16 commented on #45
Demo user only should see the DC1 Study and has no rights to change anything.
The admin toolbar has to be not available for the Demo user (in the moment there is an issue concerning the navigation, which is dissapearing on deactivation of the toolbar)

add contact link on Study team overview. Full name and not username should be shown on the team overview

[2019-01-22 10:35] p-a-s-c-a-l commented on #7
@DanielRodera select a sector taxonomy (e.g. EIB, world bank, ...) and add to system.

Sources:
- http://cat.clarity-h2020.eu/outreach/information-sources
- http://www.eib.org/attachments/fi/eib_hleg.pdf

[2019-01-22 10:45] DanielRodera commented on #14
I will take care about asking for a generic description of "Transport infrastructure" and "Urban infrastructure" for the "Study type" taxonomy.

[2019-01-22 10:49] DanielRodera commented on #14
I will take care about asking for a generic description of "Transport infrastructure" and "Urban infrastructure" for the "Study type" taxonomy.

[2019-01-28 11:53] DanielRodera commented on #14
I have created/updated all the taxonomies for hazards, sub-hazards and indexes. The URL alias for each index matches with the ones defined in the data-package specification. I also added some images for the hazards provided by @RobAndGo.

[2019-01-29 08:24] patrickkaleta commented on #14
As discussed last week during our meeting, I have updated the already existing "EU-GL" taxonomy with the content of Daniel's newly created "EU-GL D3.1" taxonomy and deleted the "EU-GL D3.1" taxonomy.

[2019-01-29 16:47] DanielRodera commented on #7
I added the sectors taxonomy

[2019-02-05 09:24] Itsman-AT opened #48 "Configure Geofield Module in Drupal"
Moved here from csis (05.02.2019):
Add hazards and adaptation measures demo locations to Geofield map in Drupal.

[2019-02-05 09:26] Itsman-AT opened #49 "Install Geofield Module in Drupal"
Moved here from csis (05.02.2019):
In order get the map vi.sualisation for hazards and adaptation measures installed, we need to install the Geofield module in Drupal.

[2019-02-06 10:51] patrickkaleta commented on #49
@Itsman-AT
the modules [Geofield Map](https://www.drupal.org/project/geofield_map) and [Geofield](https://www.drupal.org/project/geofield) (which is required by the Geofield Map module as a dependency) are available in the Drupal system.

Do you need any other additional modules?

[2019-02-07 15:04] patrickkaleta commented on #45
### Regarding the landing page:
Landing page has been implemented. I installed a new [module](https://www.drupal.org/project/views_slideshow) to create a slideshow. Additionally, I added a new boolean field to the content type "**Basic page**" to determine whether a basic page shall be displayed in the slideshow or not.

Currently this slideshow is displayed to everyone (logged-in users and anonym

[2019-02-07 16:16] DanielRodera commented on #14
@patrickkaleta thank you for the effort!

I was adding an extra field to some taxonomies (to map the taxonomies to the data-package specification) and I realized in the EU-GL taxonomy there are a lot of other terms such as ‘population’ or ‘buildings’ which shouldn’t be under the EU-GL. Following the structure described in the D3.1, the taxonomy should be like:

EU-GL
1.	Characterize hazard
2.	Eval

[2019-02-14 08:30] patrickkaleta commented on #45
### Regarding "Remove admin controls for non-admin users"

I deactivated the toolbar and the control & edit buttons for non-admin users.

As mentioned [above](https://github.com/clarity-h2020/docker-drupal/issues/45#issuecomment-456348299) there was this problem with the navigation disappearing, when the toolbar was deactivated. This seems to be fixed now as well. I wasn't able to find the exact r

[2019-02-14 12:27] patrickkaleta commented on #45
### Regarding the progress indicator

This has been implemented by adding a new field "Progress indicator" in the Group-type "Study". When a new study is created, this field is initialized with the value 1 and only the first step can be accessed in the navigation.

At the moment, when the user visits any of the tabs in the current step, the value is incremented and the next step gets activated in

[2019-02-18 18:54] fgeyer16 commented on #20
I added fields to the summary view mode of GL-Step and Study group. So for now all Content of type "Report Image" which is related to a Step or a Study is shown on the Summary tabs.
The content type "Report Image" has for now two types: Maps and tables and is the content which will be generated by the "include in report Button" ( #46 ). The images will be sorted by maps and Table in on the summary

[2019-02-19 08:12] patrickkaleta commented on #45
### Update regarding Landing page
I added a block to the landing page displaying all available studies. For that i updated the "Study" Group, so that now it can be set whether a Study should be made public (=visible on the CSIS for others) or not. This functionality was added accordingly to what Denis proposed during our last developer meeting. For now I only set Study 1 to be public.

I added ano

[2019-02-19 12:21] patrickkaleta commented on #14
@DanielRodera
I discussed this with Miguel yesterday and I removed the unneccessary items from this taxonomy. We also discussed the need for having the ability to display shorter titles in the study navigation (e.g. we cannot display "Implement/integration of adaptation action plan" since it's simply too long).
I therefore suggested adding an additional field to this taxonomy that would store a sh

[2019-02-19 16:08] DanielRodera commented on #14
Hi @patrickkaleta,

I have changed the titles for each item according the latest Data Package specification. I also added the values for the “URL alias” and “id” fields.

Regarding the new field, I have created a new one called “tab title”, and input the main title until a shorter ones for the study navigation will be agreed.

[2019-02-22 09:20] p-a-s-c-a-l commented on #14
### [EU-GL Taxonomy](https://csis.myclimateservice.eu/taxonomy/term/1)
@DanielRodera
Could you please check revise the EU-GL Taxonomy, e.g. in [Risk and impact assessment](https://csis.myclimateservice.eu/taxonomy/eu-gl/risk-and-impact-assessment) there are copy&paste artefacts from D3.x like "*(see Section 3.3)*". Furthermore, [Hazard Characterization - Local Effects](https://csis.myclimateservic

[2019-02-22 09:23] p-a-s-c-a-l commented on #14
### [Sector Taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/sector/overview)

Looks good, but if it's copy&pasted from somewhere outside of the project (e.g. not from a deliverable document), we have to use proper citations.

[2019-02-22 10:02] p-a-s-c-a-l commented on #14
### [Exposure Taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/elements_at_risk/overview)

The actual descriptions of Elements at Risk (e.g. [Buildings](https://csis.myclimateservice.eu/taxonomy/term/30)) are missing and the display shows IMHO [Supported scenario](https://csis.myclimateservice.eu/admin/structure/types/manage/supported_scenario/) instead of the ER descript

[2019-02-22 12:11] p-a-s-c-a-l commented on #14
### [Study Type](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/study_type/overview)

Definitions missing. I think this could be easily taken from the descriptions of the DCs.

[2019-02-22 12:17] p-a-s-c-a-l commented on #14
### [Hazards](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/hazards/overview)
This looks quite good. Some descriptions of 'top-level' hazards like [Heat](https://csis.myclimateservice.eu/taxonomy/hazard/temperature/heat)/[Extreme Heat](https://csis.myclimateservice.eu/taxonomy/hazard/temperature/heat/extreme-heat) missing. Also others like Volcanic Eruption, but that's ok! (YAGN

[2019-02-22 12:20] p-a-s-c-a-l commented on #14
### [Emission Scenario](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/emissions/overview)

Descriptions missing. They could easily be obtained from WP3, e.g. D3.x or IPCC.

[2019-02-22 12:26] p-a-s-c-a-l commented on #45
@therter so maybe you could take care of the other Tabs/Steps as well?

[2019-02-22 12:29] DanielRodera commented on #14
Hi Pascal, I have removed the "_(see Section 3.3)_" in the [Risk and impact assessment](https://csis.myclimateservice.eu/taxonomy/eu-gl/risk-and-impact-assessment) description. Regarding the [Hazard Characterization - Local Effects](https://csis.myclimateservice.eu/taxonomy/eu-gl/hazard-characterization/local-effects) is not defined in the D3.1 as a EU-GL step (following the deliverable, should be

[2019-02-22 12:35] p-a-s-c-a-l commented on #47
Any further progress here? The Data Tabs are quite important, they show the content of the Data Package relevant for the current GL-Step (e.g. for [HC-LE](https://csis.myclimateservice.eu/study/1/step/3/view/data)) . This is also where we reuse most of our [Taxonomies](https://github.com/clarity-h2020/docker-drupal/issues/14), so its  quite important for [v1](https://github.com/clarity-h2020/docke

[2019-02-22 12:40] DanielRodera commented on #14
You are right, citations added!

[2019-02-22 12:42] p-a-s-c-a-l commented on #20
@fgeyer16

Thanks! Some minor issues:
- ~Report Images are shown in the GL-Step View, e.g. [here](https://csis.myclimateservice.eu/study/1/view/intro)~ fixed
- Report Images in summary are not visible  for demo user

![grafik](https://user-images.githubusercontent.com/1788226/53243276-a2c88780-36a7-11e9-966b-56432bd4be2b.png)

[2019-02-22 13:19] p-a-s-c-a-l commented on #46
@fgeyer16 Any progress, plans, suggestions, ... here :-)

Is this the 'Snapshot' Field?

[2019-02-22 13:33] p-a-s-c-a-l commented on #14
HC-LE is described in D3.2, chapter 2.2. But you're right, not as distinct step of the EU-GL methodology. It's also part of the [Mock-Up](https://github.com/clarity-h2020/csis/issues/45#issuecomment-446656978) and needed as distinct step in CSIS to show the difference in quality/detail between HC and HC-LE. So yes, it's needed. :-)

[2019-02-22 13:49] therter commented on #16
@florian @humerh Is there a good way to use Single-Sign-On for the emikat server.

[2019-02-22 14:02] DanielRodera commented on #14
ok, description added.

[2019-02-22 14:12] DanielRodera commented on #14
Done

[2019-02-22 15:01] DanielRodera commented on #47
sure I will

[2019-02-25 07:56] patrickkaleta commented on #14
So far taxonomy terms were displayed directly inside the studies, so the taxonomy term pages themselves (**/taxonomy/term/[TermID]**) have not been configured yet and show default behaviour - meaning that on top the description field is displayed and underneath related content referencing this term.

E.g. in the case of the [Brigdes term](https://csis.myclimateservice.eu/taxonomy/term/29) only one

[2019-02-25 08:01] p-a-s-c-a-l commented on #14
O.K. I think for DC1 (Reference DC) we need ER Taxonomies for Buildings, Roads and Population.

[2019-02-25 14:18] DanielRodera commented on #14
We agreed in Vienna to ask PLINIVS for this definition, I sent a mail about month ago and I havent got any response. I just send a reminder and I also have asked for another definitions we still missing.

[2019-02-27 14:13] p-a-s-c-a-l commented on #20
@fgeyer16
*EVA: Report summary Images - EVA Study summary* What is it supposed to show? A 'final' report including the information from all steps? The view aggregates the GL-steps, right? But only the introduction (taxonomy) is shown.  Anyway, the summary Tab of the Study is not the reight place for the final report, see 2)

What we still need is
1) 'Include in Report Button'. It seems that there

[2019-02-27 17:59] p-a-s-c-a-l opened #50 "Characterise Hazard missing in Study 1"
Somehow step 1 'Characterise Hazard' disappeared from study 1:

![grafik](https://user-images.githubusercontent.com/1788226/53511891-b74eba80-3ac1-11e9-97a0-a3884a64c160.png)

Under [Related entities for Adaptation Scenarios for Metropolitan Resilience Planning](https://csis.myclimateservice.eu/group/1/content) it is still shown but [Study Group main navigation v2 (Taxonomy term)](https://csis.myc

[2019-02-27 18:00] p-a-s-c-a-l commented on #49
@Itsman-AT can we close this issue?

[2019-02-27 18:01] p-a-s-c-a-l commented on #7
Done. If anything else is missing it can be discussed in https://github.com/clarity-h2020/docker-drupal/issues/14

[2019-02-27 18:01] #7 closed, assigned to fgeyer16, patrickkaleta, DanielRodera

[2019-02-27 18:02] p-a-s-c-a-l commented on #8
done

[2019-02-27 18:02] #8 closed, assigned to fgeyer16, patrickkaleta

[2019-02-27 18:32] p-a-s-c-a-l commented on #45
I've resolved 'better separation between prototype implementation and mock-ups'

[2019-02-27 18:37] p-a-s-c-a-l commented on #45
'better separation between study and GL-step tabs' is probably just a small CSS modification. This could be done Alejandro? I've invited him to join UI Team.

[2019-02-28 10:48] DanielRodera commented on #50
I was taking a look to this issue and I realized the "Hazard Characterization" taxonomy also had disappeared...
Maybe this is causing the problem, should I create the taxonomy again?

[2019-02-28 10:56] p-a-s-c-a-l commented on #50
yes, please recreate it. thanks!

[2019-02-28 11:19] p-a-s-c-a-l opened #51 "Scenario Analysis Tab not shown"
The [Scenario Analysis](https://github.com/clarity-h2020/scenario-analysis) Tab in Risk and Impact Assessment GL-Step is not shown anymore. This is the filter configuration of the [view Mode for GL-Step (Content)](https://csis.myclimateservice.eu/admin/structure/views/view/view_mode_for_gl_step/edit/page_7):

![grafik](https://user-images.githubusercontent.com/1788226/53562723-6c30b800-3b52-11e9-8

[2019-02-28 11:20] Itsman-AT commented on #49
Yes.

[2019-02-28 11:20] #49 closed, assigned to fgeyer16

[2019-02-28 11:22] DanielRodera commented on #50
Taxonomy cretaed, seems the problem is still not solved.

[2019-02-28 11:43] maesbri opened #52 "Error when creating Data Package using Wizard in CSIS"
I have started creating the Naples data package. You can check it here: https://csis.myclimateservice.eu/node/148

I have just managed to create the top level properties of the data package, but I have encountered problems to save the resources. I started adding the "agricultural-areas" resource (an easy one that is also in the json file in the naples example) and after filling in all properties I

[2019-02-28 11:56] patrickkaleta commented on #50
I just checked this and the problem is indeed that the taxonomy term has been removed. This caused that all GL-Step entities which referenced this term, lost this reference information and on this referenec information the tab navigation is build upon.

Re-creating this lost term therefore doesn't solve this problem alone, since now we have to re-create the lost references between this term and th

[2019-02-28 11:56] #50 closed, assigned to fgeyer16, patrickkaleta, DanielRodera

[2019-02-28 12:16] maesbri commented on #52
Btw, without resource, but adding the temporal_extent at data package level also generates the same error

[2019-02-28 13:27] p-a-s-c-a-l commented on #52
Here is the postgres logfile:  [csis-postgis.log](https://github.com/clarity-h2020/docker-drupal/files/2915150/csis-postgis.log) (get it with `docker logs csis-postgis`)

It seems that a taxonomy / group relationship is broken. This is probably also the cause of https://github.com/clarity-h2020/docker-drupal/issues/50 and https://github.com/clarity-h2020/docker-drupal/issues/51

[code]

[2019-02-28 13:32] p-a-s-c-a-l commented on #52
@maesbri BTW, you can use Chrome DEV Tools to inspect the HTTP request/responses.

[2019-02-28 13:34] p-a-s-c-a-l commented on #52
From docker-csis logs:

``
[Thu Feb 28 11:25:58.493149 2019] [php7:notice] [pid 19] [client 172.19.0.11:38500] Uncaught PHP Exception Drupal\\Core\\Entity\\EntityStorageException: "SQLSTATE[23502]: Not null violation: 7 ERROR:  null value in column "title" violates not-null constraint\nDETAIL:  Failing row contains (161, 210, analysis_context, en, 1, null, 21, 1551353157, 1551353157, 0, 0, 1, 1).:

[2019-02-28 13:35] patrickkaleta commented on #52
@p-a-s-c-a-l  thanks for the log file, I will check in my local instance, whether this could be somehow related to #50, since no terms were accidentally removed in my local instance.

Also according to the log file, it seems like some title fields are left NULL, even though they shouldn't be. I will check this also in my local instance and make some adjustments to the form modes.

[2019-02-28 13:56] maesbri commented on #52
The EU-GL property refers to this in the Data Package wizard:

![image](https://user-images.githubusercontent.com/9677881/53570667-57aaea80-3b67-11e9-9a4f-ffbc30aa78a0.png)

The first element (EU-GL) should not appear, only each of the steps should be selectable.

@fgeyer16 said he would fix all those taxomony and node-related fields, but I think it has not been addressed.

I guess the same issue

[2019-02-28 14:13] patrickkaleta commented on #52
I believe the problem is with the "Automatic Label" function, which should automatically fill in the title field, when a content entity is created. Currently, the title field should be filled dynamically with the nodeID of the new content entity, but that doesn't always seem to work, so I will for now use fixed title values.

@maesbri I will let you know once I'm done and then you can continue wit

[2019-02-28 14:20] maesbri commented on #52
Hmm, not sure if this is right ... the title field content is dependent on each resource and it should be filled in by the user

[2019-02-28 14:27] patrickkaleta commented on #52
I was talking about the default title field each content type in Drupal **must** have. For some content entities I found manually added fields called "name", which is probably what you are referring to.

However, I also found in one instance (for [dp_resource](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package_metadata/fields)) a manually added field called "title" which wa

[2019-02-28 14:46] patrickkaleta commented on #52
@fgeyer16 and @maesbri
I also just now created a test data package and added the existing resource I created a couple of minutes ago and it also worked.

Again, I noticed that for the [dp_data_package](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package/fields) there is a manually added field called "title", which gets displayed in the form, while the default title field is

[2019-02-28 15:02] patrickkaleta commented on #52
**In conclusion:**
I changed the "Automatic label" option for the following content types, because it was either completely missing (which then will always lead to errors if the default title field is hidden in the form) or apparently not working correctly (didn't have the time to properly check this for every content type):
- [dp_grid_info](https://csis.myclimateservice.eu/admin/structure/types/m

[2019-02-28 15:08] maesbri commented on #52
ok, thanks.
I am not an expert in this stuff, I had some support from @fgeyer16 when I created the wizard.
I'll have a look at what you are mentioning.

btw, I tried to add a resource (maybe at the same time when you where testing this other stuff) and although I managed to save it, there were also a bunch of messy errors (e.g., sections from the resources appearing at the data package level when

[2019-02-28 16:36] maesbri opened #53 "Drupal update: fix security issue"
There is this recurring security issue message whenever I enter in drupal. Can Drupal components be updated to a newer version to fix this?

![image](https://user-images.githubusercontent.com/9677881/53582216-58e81180-3b7f-11e9-93bf-138533260e0e.png)

[2019-03-01 07:38] p-a-s-c-a-l commented on #53
I've update Drupal core and most modules via **drush** but the following modules:
- Admin Toolbar
- Devel

\> DrupalProject\composer\ScriptHandler::checkComposerVersion
Loading composer repositories with package information
Updating dependencies (including require-dev)
**Nothing to install or update**
*Package phpunit/phpunit-mock-objects is abandoned, you should avoid using it. No replacement was

[2019-03-01 18:47] fgeyer16 commented on #53
How did you update the core via drush? As far as I know this command was removed from drush for Drupal 8.

composer outdated and admin/reports/updates in the Drupal UI are out of sync. for composer admin_toolbar is already in the current version. But JSON API is not the current version for composer.
To have composer on the current state of versions always composer shouöd be used because it keeps t

[2019-03-01 20:35] p-a-s-c-a-l commented on #53
Sorry, i used composer, Not drush!
I‘m always confusing These two Tools  🧐

Von meinem iPhone gesendet

[2019-03-04 07:23] fgeyer16 commented on #51
The name of the corresponding EU-GL term changed. So the view which creates the Tabs had no chance to know that this tab is needed. This is now corrected. The tab is shown again.

[2019-03-04 09:08] p-a-s-c-a-l commented on #53
Admin Toolbar 1.26 is in composer.js `drupal/admin_toolbar": "^1.26",`
But Drupal still complains:

![grafik](https://user-images.githubusercontent.com/1788226/53722115-16675300-3e65-11e9-89fb-0f3f48879eca.png)

**Installing DEVEL 2.0 bricks the site:**

``
Uncaught PHP Exception Symfony\\Component\\Routing\\Exception\\RouteNotFoundException: "Route "devel.execute_php" does not exist." at /app/web

[2019-03-06 11:39] DanielRodera commented on #14
I have addded the "elements att risk" and "study type" taxonomies with the information Mattia provided.

[2019-03-06 11:55] maesbri commented on #14
We renamed "Exposure" taxonomy by "ElementsAtRisk" as it also contains the vulnerability classes for each category (and in a next step we will add the corresponding damage classes as well)

[2019-03-06 15:25] p-a-s-c-a-l commented on #51
done, thanks!

[2019-03-07 10:42] p-a-s-c-a-l commented on #51
@fgeyer16 @patrickkaleta

`/admin/structure/views/view/view_mode_for_gl_step/edit/page_7` still shoes the following error:

``
SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for integer: "structure" LINE 6: ... ((group_content_field_data_node_field_data.gid = 'structure... ^: SELECT node_field_data.created AS node_field_data_created, node_field_data.nid AS nid, group_c

[2019-03-07 12:20] patrickkaleta commented on #51
@p-a-s-c-a-l
that error is caused by Drupal's "Auto preview" function, which tries to display the result of the view, even though it is not initially provided with the necessary values for the contextual filters.

In the FE this view is always called with the necessary values, since they are part of the URL, so IMHO this is not critical.

However, we could add a validation criteria to the contextu

[2019-03-07 12:57] p-a-s-c-a-l opened #54 "JSON:API File Upload not working"
For [Report Generation](https://github.com/clarity-h2020/scenario-analysis/issues/3), I want to send screenshots taken from within the [MCDA App](https://github.com/clarity-h2020/scenario-analysis/) to the Drupal JSON:API. However, the [JSON:API documentation for posting binary file content](https://www.drupal.org/docs/8/modules/jsonapi/file-uploads) is non-existent / not very helpful: It points t

[2019-03-07 15:12] p-a-s-c-a-l commented on #54
Trying to create a repo_image entity first by POST

[code]

to `/jsonapi/node/report_image/` results in the 'very helpful' error message:

`The website encountered an unexpected error. Please try again later.<br />* Closing connection 0`

In the logs you can find more info:

``Argument 1 passed to Drupal\\jsonapi\\Normalizer\\EntityReferenceFieldNormalizer::isInternalResourceType() must implement

[2019-03-07 15:35] p-a-s-c-a-l commented on #54
Guess what? Even their [article example](https://www.drupal.org/docs/8/modules/jsonapi/creating-new-resources-post) isn't working. Seems the whole Drupal JSON/REST stuff is messed up beyond repair.

@fgeyer16 @p-a-s-c-a-l Are there other alternatives to the REST / JSON API for putting the report screenshots into the system?

[2019-03-07 17:30] fgeyer16 commented on #51
@patrickkaleta
I do not see any draw backs, if we set the validation oft the defaauöt value.Testingsome changes will work by providing an real id to the contextual Filter.
Keeping the log table clean is not wrong as well.

[2019-03-07 18:11] fgeyer16 commented on #54
@p-a-s-c-a-l
Did you try the [Legacy REST API](https://www.drupal.org/docs/8/core/modules/rest/javascript-and-drupal-8-restful-web-services) of Drupal? The json to Post a little different. WI think I tested it long time agoand it worked.

[2019-03-07 18:14] fgeyer16 commented on #54
Sometimes I think this is an issue on Tutorials in the Web generally. Found some tutorial and it is not working.

[2019-03-07 19:02] fgeyer16 commented on #54
Sorry I missed the thing with the only temporary file on Image upload when I asked using the Legacy REST API.
Did you try out [this REST path](https://www.drupal.org/node/2941420) already?

otherwise we can enable the file entity module and apply the patch which is mentioned in #27

[2019-03-08 07:48] p-a-s-c-a-l commented on #54
Getting closer:

``  Uncaught PHP Exception Symfony\\Component\\HttpKernel\\Exception\\HttpException: "Destination file path is not writable" at /app/web/core/modules/file/src/Plugin/rest/resource/FileUploadResource.php line 230
``

Would be really helpful to know what the 'Destination file path' is.  Never heard of contextual error messages?

Once that file upload works, we have to create a repor

[2019-03-08 15:54] p-a-s-c-a-l commented on #54
OK, after upgrading to JSON:API 2.x, I finally managed to upload a file with curl.

[2019-03-08 16:21] fgeyer16 commented on #54
What was your REST Call? The path looks like this:
`/file/upload/node/<content_type>/<image_field`

- In the drupal ui go to structure->content types-><<content_type>-> manage fields.
- edit the field <image field>
- in the edit tab check 'File directory'
- exists the the directory /app/web/sites/default/files/<file directory> and is it writable for the webserver?

If this is the case we have to m

[2019-03-08 16:24] fgeyer16 commented on #54
Needed to long to write my reply :-)
Can you post the call here?

[2019-03-08 17:52] p-a-s-c-a-l commented on #54
``
curl -v "http://xxx/jsonapi/node/report_image/field_image" -H "Pragma: no-cache" -H "Cookie: xxx=xxx" -H "Origin: http://xxx" -H "Accept: application/vnd.api+json" -H "X-CSRF-Token: xxx" -H "Content-Type: application/octet-stream" -H "Content-Disposition: file; filename=\"filename.png\"" -H "Cache-Control: no-cache" --data-binary @filename.png
``

[more on OwnCloud](https://repository.atosresea

[2019-03-11 08:06] patrickkaleta commented on #51
Validation implemented as suggested in https://github.com/clarity-h2020/docker-drupal/issues/51#issuecomment-470504885.

[2019-03-11 08:16] patrickkaleta opened #55 "Twins prototype requirements"
Last week, I started implementing a first prototype for the Twins in my local environtment using the [Geofield_map](https://www.drupal.org/project/geofield_map) and Geofield module.

So far, I have a new content type called "Twin" with the following fields:
-	Title
-	Summary
-	Link to an external website
-	Type of twin (Hazard twin, ....idk what other types there might be in the future but for now

[2019-03-11 08:48] Itsman-AT commented on #55
@patrickkaleta : Thanky, looks good. I think we do not need more at the moment.

[2019-03-11 11:06] patrickkaleta commented on #55
ok, I will implement this in the CSIS

[2019-03-11 12:06] patrickkaleta commented on #55
I implemented the [entity type](https://csis.myclimateservice.eu/admin/structure/types/manage/twin/fields) and the [view](https://csis.myclimateservice.eu/admin/structure/views/view/twins) and configured the GL-step and its view to display the twins.

For now, I also deactivated the Twins-tabs for all other steps except the first step (Hazard Characterization), since they are not yet defined and n

[2019-03-11 13:04] p-a-s-c-a-l commented on #16
@therter @fgeyer16
`/jsonapi/user/user` returns an array of all users, but I'm only interested in the current user.  According to this [change record](https://www.drupal.org/node/2984034), you could [filter](https://www.drupal.org/docs/8/modules/jsonapi/filtering) the current user by `meta.links.me`. Is this really the way to go or is there any simpler method?

[2019-03-11 13:14] Itsman-AT commented on #55
@patrickkaleta : I sent you the Key via e-mail, please check, if it is working.

[2019-03-11 15:03] patrickkaleta commented on #55
@Itsman-AT: the key works. I've added it to the CSIS site.

[2019-03-12 09:55] p-a-s-c-a-l commented on #54
![grafik](https://user-images.githubusercontent.com/1788226/54191025-5f4a8780-44b5-11e9-9e81-f899f8719b3c.png)

[2019-03-12 09:55] #54 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta, DanielRodera

[2019-03-12 10:10] p-a-s-c-a-l commented on #45
### Open Taxonomies' description in popups or inline (Study type, sector)

When you click on 'energy' (should be renamed to **E**nergy, btw), a popup should be opened

![grafik](https://user-images.githubusercontent.com/1788226/54191320-fadbf800-44b5-11e9-98c3-f8edc16bd366.png)

I modified the view to show the taxonomy terms inline but but this looks bad:

![grafik](https://user-images.githubuserc

[2019-03-12 12:05] p-a-s-c-a-l opened #56 "Cannot create new Entities via JSON:API"
While I finally managed to [upload a file](https://github.com/clarity-h2020/docker-drupal/issues/54#issuecomment-471017061) via the Drupal JSON:API, creating entities does not work.  Following exactly the steps of the [documentation](https://www.drupal.org/docs/8/modules/jsonapi/creating-new-resources-post), the API just returns `400 Bad Request`without any useful information in the logs whatsoeve

[2019-03-12 12:32] p-a-s-c-a-l commented on #56
curl with ``-- user username:password`` returns more info than just 404:

[code]

Although permission "Article: Create new content" for Authenticated user is set to true. Is there any other configuration option to set JSON:API permission?

[2019-03-12 12:43] p-a-s-c-a-l commented on #56
seems that json payload must be UTF-8 encoded . :goberserk:
the `helpful' 400 error is also returned when JSON is in wrong format (e.g. missing fields).

[2019-03-12 12:43] #56 closed, assigned to fgeyer16, patrickkaleta

[2019-03-14 08:19] p-a-s-c-a-l commented on #51
Broken again:
``
The website encountered an unexpected error. Please try again later.</br></br><em class="placeholder">Twig\Error\SyntaxError</em>: An exception has been thrown during the compilation of a template (&quot;Attribute &quot;name&quot; does not exist for Node &quot;Twig\Node\CheckToStringNode&quot;.&quot;) in &quot;themes/contrib/bootstrap/templates/node/node.html.twig&quot;. in <em cl

[2019-03-14 08:31] p-a-s-c-a-l commented on #51
[Never change a running system](https://www.drupal.org/project/drupal/issues/3039408): Updated to twig 1.38.2 bugfix release

[2019-03-14 08:31] #51 closed, assigned to p-a-s-c-a-l, DenoBeno, fgeyer16, DanielRodera

[2019-03-14 10:04] p-a-s-c-a-l commented on #20
I've installed entity print, but the result is not what I've expected.

That's the Assess Risk & Impact Summary Page including report images from MCDA:

![grafik](https://user-images.githubusercontent.com/1788226/54347508-6dc8a880-4647-11e9-805f-664353c20058.png)

And that's what entity print generates:

![grafik](https://user-images.githubusercontent.com/1788226/54347395-3e19a080-4647-11e9-931b-9

[2019-03-14 10:14] patrickkaleta commented on #20
@p-a-s-c-a-l
regarding the "Include in Report Button" we first tried to solve this with a custom field "snapshot", which turned out to be too complex. So, instead we now have a [token field](https://csis.myclimateservice.eu/admin/structure/ds/fields/manage_token/include_in_report_button) (created via [Display Suite](https://www.drupal.org/project/ds)), which creates the "Include in Report Button"

[2019-03-14 11:27] p-a-s-c-a-l commented on #20
@patrickkaleta
Thanks. The relevant JavaScript code for taking the screenshots is available [here](https://github.com/clarity-h2020/scenario-analysis/blob/dev/app/scripts/services/drupalService.js#L398). However, I use the AngularJS framework and it's $http and $resource services. So this cannot be used 1:1 in 'plain' JavaScript. The general program flow is:
1) GET gl-step entity and extract repor

[2019-03-14 11:55] patrickkaleta commented on #20
@p-a-s-c-a-l
thanks for the instructions!

Regarding the entity print module, I will have a look at it in my local instance as well (check which PDF engine works best) and talk to the guy responsible for setting up entity print in a different Drupal 8 project. On the CSIS [module-page](https://csis.myclimateservice.eu/admin/modules) I can already see that the entity print module is available, it o

[2019-03-14 19:35] fgeyer16 commented on #20
@p-a-s-c-a-l
The difference between screen and pdf comes from Drupals view modes system. Entity print takes the default view mode while on screen the summary view mode is shown. How ever entity print provides a PDF view mode which has to be activated on Manage Display on the Dafault view mode:

![Bildschirmfoto von »2019-03-14 20-12-14«](https://user-images.githubusercontent.com/25331450/54384967-

[2019-03-15 06:39] p-a-s-c-a-l commented on #20
Thanks, I'll give it a try. Regarding dompdf, you'r right, it's automatically installed. :-)

[2019-03-15 12:48] patrickkaleta commented on #20
@p-a-s-c-a-l , @fgeyer16
I can confirm that **dompdf** is installed automatically, but for me that engine doesn't work. When trying to generate the pdf I get an error saying that it's unable to load the css and/or images (even though I can access the respective URLs via Browser).

Installing **TCPDF (v1)** via "composer require tecnickcom/tcpdf ~6" worked fine and a pdf is generated. But I noticed

[2019-03-15 12:57] p-a-s-c-a-l opened #57 "Enable HTTPS URLs"
Although CSIS is served via HTTPS through [our nginx reverse proxy](https://github.com/clarity-h2020/docker-compose-letsencrypt-nginx-proxy-companion) (X-forwarded headers is set), Drupal does not recognise this:

![grafik](https://user-images.githubusercontent.com/1788226/54427240-2fe88480-471a-11e9-82ba-e66b4746a113.png)

In consequence, all URIs in JSON responses point to HTTP instead of HTTPS:

[2019-03-15 14:35] p-a-s-c-a-l commented on #20
@fgeyer16 @patrickkaleta

I've created the PDF View for [Assess Risk and Impact Summary](https://csis.myclimateservice.eu/study/1/step/22/view/summary) and PDF creation works without the need to install additional modules:[5.Assess.Risk.and.Impact.pdf](https://github.com/clarity-h2020/docker-drupal/files/2971516/5.Assess.Risk.and.Impact.pdf)

![grafik](https://user-images.githubusercontent.com/178

[2019-03-18 07:55] p-a-s-c-a-l commented on #52
I wanted to check whether there are some VA resources in the current data package, but instead of the title, the identifier (URI) of the resource is shown in the editor but also in the views:

![grafik](https://user-images.githubusercontent.com/1788226/54514782-59dcb980-495b-11e9-8507-cabe2518e7cd.png)

[2019-03-18 07:55] p-a-s-c-a-l commented on #20
Display of Data Package could be improved in Study/Summary, the identifier shouldn't be shown so prominently. This is related to https://github.com/clarity-h2020/docker-drupal/issues/52#issuecomment-473805313

![grafik](https://user-images.githubusercontent.com/1788226/54514191-c48cf580-4959-11e9-90de-99994d583d60.png)

[2019-03-18 08:15] p-a-s-c-a-l commented on #20
Minor Issue: Scenario Analysis Report images are only relevant in RA/IA step, so the report image category "scenario analysis" should not be should be shown in the other Summary Views. @fgeyer16 any idea how this could be easily resolved?

![grafik](https://user-images.githubusercontent.com/1788226/54516056-1e8fba00-495e-11e9-86cd-258851b91f70.png)

[2019-03-18 08:16] patrickkaleta commented on #52
I changed the [display](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package_metadata/display/short_description) to now show the title of the resource instead of the identifier.

[2019-03-18 08:27] patrickkaleta commented on #20
I altered the corresponding [display](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package/display/teaser) to show the title and below that the identifier (in a less prominent way).
![study-summary-view](https://user-images.githubusercontent.com/42167036/54516725-0caf1680-4960-11e9-9fae-f1e61a2c6b25.png)

[2019-03-18 08:45] p-a-s-c-a-l opened #58 "Scenario Selection UI"
We need some selection boxes (probably in study/context or in HC-LE) to let the user choose
- The (3?) Hazard Events used for calculation of the impact scenario (they might be pre-chosen in the data package, so user wouln't be able to change the selection)
- ~The time period used for calculation of the impact scenario (currently we have only historical events in the reference data package, 3 futur

[2019-03-18 09:24] Itsman-AT commented on #24
The BB:Sceneario Transferability will use GeoField Map for showing its content.

[2019-03-18 09:27] p-a-s-c-a-l commented on #24
And what kind of map implementation is used internally by GeoField Map? Leaflet.js, OpenLayers or ...?

@Itsman-AT perhaps it would be good to join the weekly stand-up telco (now) o discuss these issues and the status of the implementation.

[2019-03-25 13:20] patrickkaleta opened #59 "Study navigation gone for non-administrator users on second visit of certain tabs"
![bug-missing-nav](https://user-images.githubusercontent.com/42167036/54922081-b154c980-4f07-11e9-81c1-0be9701179fe.png)

This bug already appeared a couple of months back, but then suddenly disappeared (I thought maybe due to some Drupal or module updates).

Currently, it only occurs on the Study-step for the tabs [Introduction](https://csis.myclimateservice.eu/study/1/view/intro), [Context ](htt

[2019-03-28 10:23] patrickkaleta opened #60 "Fix buttons in Study -> Data tab"
### Buttons on this [tab](https://csis.myclimateservice.eu/study/1/view/data) are misleading and/or allowing options, which should not be possible.

Edit-Button should rather say something like "Change" or "Replace", since in the Study the users should only have the option to switch to a different data package, but not edit those data packages themselves.
![study-data-tab1](https://user-images.git

[2019-03-28 10:51] patrickkaleta opened #61 "Editing Report image comment leads out of the Study context"
### Wrong URL for editing Report image comments
Editing any Report image comment in the summary tab (e.g [here](https://csis.myclimateservice.eu/study/1/step/22/view/summary)) leads the user to the report image itself **after saving** the comment. He/She should however get back to Study summary tab after editing the comment!

[2019-03-28 11:58] patrickkaleta opened #62 "Remove links to DPs when selecting DP in Study"
### Clicking on available Data packages lead to a dead end

When [selecting](https://csis.myclimateservice.eu/study/1/view/data) a Data package for the Study in the overview list of all available DPs the titles lead to the respective DP inside the pop-up. User has no way of getting back out of that once he/she clicks on the title.
![study dp selection link leads into deadend](https://user-images.g

[2019-04-01 07:34] patrickkaleta commented on #60
Button labels changed to "Replace" and it's now not possible anymore to change the data package directly via this tab.

[2019-04-01 07:34] #60 closed, assigned to patrickkaleta

[2019-04-01 07:36] patrickkaleta commented on #62
Links have been removed. When selecting a data package, a window with additional information about this data package is displayed under the table. This should be enough information for a user to make a proper selection

[2019-04-01 07:36] #62 closed, assigned to patrickkaleta

[2019-04-01 07:43] patrickkaleta commented on #59
[Big Pipe module](https://www.drupal.org/docs/8/core/modules/big-pipe) has been deactivated for almost a week now and so far no unwanted side-effects appeared and the bug with the missing navigation hasn't appeared either since.

[2019-04-01 10:05] patrickkaleta commented on #61
Fixed

[2019-04-01 10:05] #61 closed, assigned to patrickkaleta

[2019-04-05 06:12] p-a-s-c-a-l commented on #25
resolved

[2019-04-05 06:12] #25 closed, assigned to p-a-s-c-a-l, therter, maesbri, fgeyer16, patrickkaleta

[2019-04-05 06:12] p-a-s-c-a-l commented on #21
done

[2019-04-05 06:12] #21 closed, assigned to ghilbrae, therter

[2019-04-08 09:24] fgeyer16 commented on #57
Just to be sure how it works:

1. The request goes to nginx
2. nginx is responsible for the ssl stuff
3. nginx forward the request to the apache in the docker-container or more specific: ngnix requests the page at docker (=apache) and send this response to the browser
Is this correct so far?

I checked apache config in the docker container and it only listens on port 80 (http). So ngnix requests t

[2019-04-08 09:32] p-a-s-c-a-l commented on #57
There is no need to encrypt traffic between the internal Apache web server and the outbound proxy. Apache needs to serve HTTP on the internal interface only.  The outbound nginx proxy takes care about certificate handling, etc. So it is just a matter of telling Drupal that the pages are outbound served via https.

[2019-04-08 12:54] fgeyer16 commented on #57
I am no expert on nginx but In nginx configuration (conf.d/default.conf)  line 40:

shouldn't it be

?
I interpret

on the start of the file, that $proxy_x_forwarded_proto is set if nginx is behind a reverse Proxy.
Otherwise I need access to apaches log files if there are any.  Who can give me access to them or send me the one from today? Just to be sure the headers are set properly.

[2019-04-09 07:41] p-a-s-c-a-l commented on #53
Another update problem:

[code]

[2019-04-09 08:45] p-a-s-c-a-l commented on #57
@fgeyer16 OK, if set the X-Forwarded-Proto header in [vhost.d/csis.myclimateservice.eu](https://github.com/clarity-h2020/docker-compose-letsencrypt-nginx-proxy-companion/blob/clarity/data/vhost.d/csis.myclimateservice.eu)

You can access the apache logs via: `docker logs --since 5m -f csis-drupal`

But there are still 'http' URLs in the JSON. So IMHO this a Drupal issue.

[2019-04-09 10:49] p-a-s-c-a-l commented on #46
@patrickkaleta @fgeyer16
FYI: Complete example for taking screenshots and posting to Drupal API is available in [drupalService.js](https://github.com/clarity-h2020/scenario-analysis/blob/dev/app/scripts/services/drupalService.js#L422)

[2019-04-11 09:28] p-a-s-c-a-l commented on #53
More details:

[code]

[2019-04-11 15:59] fgeyer16 commented on #53
This is a bug for which a patch exists:
https://www.drupal.org/project/business_rules/issues/3043734#comment-13042740

[2019-04-12 11:19] patrickkaleta commented on #46
Screenshots of maps and table are now being stored as Report images, which are linked to the corresponding GL-Step and can be viewed in the Summary tab and printed out in the report.

@p-a-s-c-a-l
FYI: I mainly followed your approach (thanks for providing the link) and managed to implement it in "plain" JavaScript.
Instead of sending a GET request for the GL-Step and later PATCHing that same GL-St

[2019-04-12 11:28] patrickkaleta commented on #46
I wouldn't close this issue just yet, since @DenoBeno suggested that we show to the user an Edit-form, where he/she can enter a description for the Report image, when they click on the "Include in Report" Button.
**Reason:** They can edit the description of a Report image on the Summary-Tab, but once they get to that tab, they might've already forgotten what this screenshot was really about.
**Pro

[2019-04-12 14:00] p-a-s-c-a-l commented on #48
This error occurs when saving an entity with geofield:

![grafik](https://user-images.githubusercontent.com/1788226/56042112-9329fe80-5d3a-11e9-94d1-4e1b3b4df86a.png)

[2019-04-15 06:57] fgeyer16 commented on #57
I appended the X-Forwarded, X-Forwarded-proto and X-Forwarded-For headers of a request to the apache log of drupal-csis
, and it seems, that only the X-Forwarded-For header exists.
 ![Bildschirmfoto von »2019-04-15 08-37-00«](https://user-images.githubusercontent.com/25331450/56112766-50477100-5f5c-11e9-8291-ee6bc415f4fe.png)

[2019-04-15 07:01] p-a-s-c-a-l commented on #57
The log doesn't show any headers.

[2019-04-15 07:09] fgeyer16 commented on #57
These are the request headers Drupal sees:

[code]
even there no X-Forwarded-proto header

[2019-04-15 07:26] fgeyer16 commented on #57
I am not able/allowed to change the vhost.d of nginx. Can we try to change
`proxy_set_header X-Forwarded-Proto https;`
to
`proxy_set_header X-Forwarded-Proto "https";
`
?
like in
[code]

[2019-04-15 07:32] p-a-s-c-a-l commented on #57
OK. Changes applied in [vhost.d/csis.myclimateservice.eu](https://github.com/clarity-h2020/docker-compose-letsencrypt-nginx-proxy-companion/blob/clarity/data/vhost.d/csis.myclimateservice.eu).

[2019-04-15 08:05] fgeyer16 commented on #57
So now the header is there, the settings page still reads http but can you test what happens on REST calls?

[2019-04-15 10:20] therter commented on #57
The REST calls still delivers http links

[2019-04-16 10:01] p-a-s-c-a-l commented on #55
Here is the updated Twins data model (already implemented in CSIS Drupal): [Marketplace-Entities.svg](https://github.com/clarity-h2020/marketplace/blob/master/src/main/svg/Marketplace-Entities.svg)

@Itsman-AT Please discuss the Hazard Twins with @DenoBeno. I seems that the Hazard Twins idea has been abandoned.

[2019-04-16 10:23] patrickkaleta commented on #55
I would appreciate a fast decision on this matter, since I'm currently working on a function to include these Twins (or whatever it's going to be in the end) into the final report (similar to the recently implemented [Report image functionality](https://github.com/clarity-h2020/docker-drupal/issues/46#issuecomment-482537744))

Locally, I already managed to establish a working prototype, which disp

[2019-04-16 13:56] DenoBeno opened #63 "Please simplify the model for including the report images in reports"
"Report images" is a node type that is used to store the screenshots to be included in the reports as well as the additional coments about these screenshots.

Currently, these nodes have to be linked with the group (so that they can be edited by all group members) and then they have to be linked from the GL step again.
GL step is also a node that's linked with the group and the actual step is infe

[2019-04-17 09:42] p-a-s-c-a-l commented on #58
@humerh @bernhardsk any opinions on this topic?

[2019-04-17 10:47] patrickkaleta commented on #59
Closing this since bug hasn't reappeared after deactivating the Big Pipe module.

[2019-04-17 10:47] #59 closed, assigned to patrickkaleta

[2019-04-17 11:06] p-a-s-c-a-l commented on #57
Replaced proxy ip in `$settings['reverse_proxy_addresses'] = array(xxx.xxx.xxx.xxx);` with `$settings['reverse_proxy_addresses'] = array($_SERVER['REMOTE_ADDR']);`

JSON:API delivers now HTTPS Links.

[2019-04-17 11:06] #57 closed, assigned to fgeyer16

[2019-04-17 11:56] patrickkaleta opened #64 "Implement Drupal data model for Adaptation options"
### Proposed data model
After going through the following documents on adaptation options
- [Adaptation options schema for data package](https://github.com/clarity-h2020/data-package/blob/master/schemas/adaptation-options/adaptation-options.schema.json)
- [current mockups for Adaptation options](https://newrepository.atosresearch.eu/index.php/apps/files/?dir=/CLARITY/WP1%20CO-Creation/T1.3%20Clima

[2019-04-17 12:53] maesbri commented on #64
Hi Patrick,

Some comments from my side:

* "effects" instead of "variations" should be fine for me. I think I took the naming from the original excel file as used as basis for creating the json.

* values for the co-benefits intensity: I would propose something like this: air-quality:1, air-quality:2, etc. It would make it easier to parse afterwards (that way we know that after ":" comes the valu

[2019-04-17 13:39] p-a-s-c-a-l commented on #64
Thanks @patrickkaleta, to me, this looks reasonable.

[2019-04-17 16:05] DanielRodera commented on #64
Thanks @patrickkaleta. Sure, but take into account we have bank holiday on Thursday and Friday (and I took also Monday as vacation). So on my return I will take care of that!

[2019-04-23 08:22] patrickkaleta commented on #64
Thanks @DanielRodera ! I agree with the comments made by @maesbri, so please take them into account when creating this data model.

[2019-04-29 13:35] patrickkaleta opened #65 "Fixing invalid JSON formatting for nested REST Views"
Some time ago we discussed the possibility to define REST Views ([here](https://github.com/clarity-h2020/csis/issues/22#issuecomment-444463061)), which would allow to provide only the desired fields of a content type and even fields of referenced entities by using nested REST Views (idea was to minimalize number of needed REST calls and the size of the payload). This could now be interesting e.g.

[2019-05-06 11:53] patrickkaleta opened #66 "Formatting taxonomy terms for display in forms"
To give us more flexibility on how/what to display on forms, when selecting taxonomy terms (e.g. needed [here](https://csis.myclimateservice.eu/node/add/data_package_metadata) when selecting **damage classes** while creating the **EU-GL context** for new **Datapackage resource**), we could make use of the [Entityqueue](https://www.drupal.org/project/entityqueue) module.
It allows to manually selec

[2019-05-06 12:08] patrickkaleta opened #67 "Improving Taxonomy structures"
At the moment the structure is not consistent. Taxonomy [Elements at Risk](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/elements_at_risk/overview) currently has 3 el. at risk (as root terms), each containing its individual vulnerability-classes & damage-classes, but there is also a separate [Damage class](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/damage_c

[2019-05-07 09:19] DenoBeno commented on #14
White Paper on taxonomies for the environmental use of proceeds
https://www.eib.org/en/investor_relations/cab/taxonomy-white-paper/index.htm

https://www.adb.org/documents/project-classification-system-final-report
Asian bank, Project Classification System: Final Report

[2019-05-14 14:21] p-a-s-c-a-l commented on #53
This will be fixed in drupal/business_rules beta-8. I don't want to install a dev version or apply a patch manually.

[2019-05-16 07:16] patrickkaleta commented on #64
@DanielRodera what's the status on the Adaptation options? You said you could take care of the implementation, but so far I don't see anything in the CSIS. Can you get this done by the end of this week? Otherwise I will take care of it.

[2019-05-16 10:59] p-a-s-c-a-l commented on #48
Here is a [6 year old bug report](https://www.drupal.org/project/geophp/issues/1864302). :-/

[2019-05-16 11:22] p-a-s-c-a-l commented on #55
Some improvements that should be implemented before [ECCA 2019](https://github.com/clarity-h2020/docker-drupal/milestone/4):

### Filter is applied on map only
The (Hazard) and type filter are applied on the map only, but not on the table

![grafik](https://user-images.githubusercontent.com/1788226/57849602-fb597d80-77db-11e9-99a3-65bb876e34c6.png)

### Twin Maps for additional EU-GL  Steps
We sho

[2019-05-16 13:41] patrickkaleta commented on #55
Filters are applied to the map and the table showing "Available Twins/Showcases". For the "Included in Study report" table I deactivated the filters on purpose, since IMO users would get confused if those filters would "remove" already selected Elements from their study again. But it's not a problem to change that and make the filters affect this table as well.

That's the way it was intended. I'v

[2019-05-16 17:31] DanielRodera commented on #64
Hi @patrickkaleta , first of all, sorry for the delay on this task.
I have created 3 new taxonomies following the sources you posted at the beginning:

- **Adaptation options** (with id field that matches with the data-packcage data model id)

- **Co-benefits**

- **Local effects parameters**

Regarding the content types I  have created three new ones:

- **adaptation_options**: with all the requi

[2019-05-17 06:13] p-a-s-c-a-l commented on #55
You are right, it seems to work - but not very reliably. If you filter by "heat" and then by "flood" both tables disappear:

![twins](https://user-images.githubusercontent.com/1788226/57906771-6ad27a00-787b-11e9-91b1-6026f87b3b8d.gif)

You're right, the filter should be applied to the second table only.

[2019-05-17 07:25] patrickkaleta commented on #55
Strange, the tables disappear after the second time filter are applied (no matter which filters are used). Those filters are not custom-made but the ones provided by default by the Drupal Views. So probably it's just some misconfiguration, I'll check that.

[2019-05-17 10:43] patrickkaleta commented on #55
### Grouping Twins/Showcases into the EU-GL Steps
I had a look at the currently available Twins/Showcases (10+1) and grouped them by the most relevant EU-GL step. For the Studis we now have Twins-Maps shown for the following 4 EU-GL Steps:

#### [Hazard characterization](https://csis.myclimateservice.eu/study/1/step/2/view/twins):
- 2003 European heat wave
- 2013 Sardinia floods
- Avalanche - Erdl

[2019-05-20 07:27] patrickkaleta commented on #55
This bug is fixed now and tables stay visible after applying filters multiple times. Apparently Drupal's Contextual filters can run into problems when using Exposed filters and AJAX. Changing the Contextual filter's parameters was the solution.

[2019-05-21 07:12] p-a-s-c-a-l commented on #55
@patrickkaleta Now it seems that showcases are missing on map and in table.

[2019-05-21 08:16] patrickkaleta commented on #55
@p-a-s-c-a-l after having a look at all twins/showcases I moved some of them into different tabs (by setting the `workflow_step` field). So I moved the Heavy Rain in Wuppertal into the Hazards local effects tab (sorry if I didn't make it clear enough before). But if you think it should rather stay in the Hazards tab, I can move it back.

The second showcase cids GUP-MV is shown on the Exposure tab

[2019-05-21 12:46] p-a-s-c-a-l opened #68 "Create Citities Taxonomy and Import UA LE SHP"
See https://github.com/clarity-h2020/local-effects/issues/4 and https://github.com/clarity-h2020/map-component/issues/24

[2019-05-21 13:24] p-a-s-c-a-l opened #69 "Editing Solution Offers not possible for regular users"
It seems that users with role 'editor' are not allowed to edit the Solution Offers (group) they've created by themself. See also https://www.drupal.org/project/group/issues/2976867

[2019-05-21 13:29] p-a-s-c-a-l opened #70 "Solution Offer URL alias not working"
Users are forced to provide an URL alias after having created a new Solution Offer:

![grafik](https://user-images.githubusercontent.com/1788226/58099769-9a1b1b00-7bdc-11e9-809c-1d557d39a8fe.png)

However, the entered alias is not working: https://csis.myclimateservice.eu/solution-offers/my-great-solution-offer

So either we disable the alias creation form (how?) or we fix this issue.

[2019-05-21 14:18] p-a-s-c-a-l commented on #69
There's special page for Group Permissions :-)

[2019-05-21 14:18] #69 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-05-22 13:33] p-a-s-c-a-l opened #71 "File upload not working"
File upload not working any more! You can select a file, but nothing happens (no upload), even if you save the entity:
![grafik](https://user-images.githubusercontent.com/1788226/58178047-bd5dcd00-7ca5-11e9-9e52-bbff878a5549.png)

[2019-05-22 13:44] p-a-s-c-a-l commented on #71
Drupal does not show any error message if file size exceeds the maximum size (currently 2MB) but silently refused to upload the image.

[2019-05-22 13:44] #71 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-05-22 16:05] fgeyer16 commented on #71
On which form/page Drupal did not complain about to big files? It schoul and normally does.

[2019-05-29 08:44] patrickkaleta commented on #70
There seems to be something broken with the Group module (which is responsible for this form you see) and the generation of URL aliases. The form you see is for filling out your membership details (so IMO an URL alias field makes no sense here at all). And since we haven't added any fields to Group member, you don't see anything besides the URL alias field.

My suggestion is to (after ECCA) disabl

[2019-05-29 18:38] fgeyer16 commented on #70
I think we do not need to disable the step. We only need to remove the url-alias [here](https://csis.myclimateservice.eu/admin/group/content/manage/solution_offer-group_membership/form-display)

I think the user has to fill a lot field and this url alias thing can may be confuse him. The user also has to enter the complete url if we want coherent aliases ( and we want). So the user will always hav

[2019-05-31 09:54] patrickkaleta commented on #70
I tried that on my local instance but the error still occured even after removing that field.
<br>

I agree with using only automatic URL-aliases. We could append the title of the Solution offer after the ID to make the URL a bit more user-readable:`/solution-offers/[Offer-ID]/[Offer-Title]`, so e.g. ".../solution-offers/6/digital-heavy-rain-hazard-maps". Or we just stick to `/solution-offers/[Off

[2019-05-31 11:00] patrickkaleta commented on #64
After having a closer look at this and creating a couple of adaptation options based on the Excel sheet provided by PLENIVS, I think that the **content type** [adaptation_options_co-benefits](https://csis.myclimateservice.eu/admin/structure/types/manage/adaptation_options_co_benefits/fields) and the **taxonomy** [Adaptation Options](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/

[2019-05-31 11:38] DanielRodera commented on #64
No problem @patrickkaleta. I am no so much experienced in Drupal so I didnt realized about that, thank you for the advices.

Regarding the "ad" content type, maybe I created this one by mistake, so can be removed.

Thank you!

[2019-06-03 08:01] p-a-s-c-a-l commented on #70
I support `/solution-offers/[Offer-ID]`

[2019-06-03 12:52] patrickkaleta commented on #64
I removed the unnecessary content type and taxonomy. Also, I added the remaining adaptation options from the PLENIVS excel sheet. Since that excel sheet is not complete, some adaptation options have missing attributes. Better images and descriptions are needed for all adaptation options.

IMO we can close this issue now and discuss further improvements for the Adaptation options in separate issues

[2019-06-03 14:07] patrickkaleta commented on #70
Done. I configured the automatic URL aliases for new solution offers and updated the already existing solution offers by hand.

[2019-06-03 14:07] #70 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-06-17 07:18] p-a-s-c-a-l commented on #68
Status @therter ?

[2019-06-17 07:24] p-a-s-c-a-l commented on #53
@fgeyer16 Can you please fix this SSL issue with your repository:

`The "https://repository.scienceatwork.eu/drupal/packages.json" file could not be downloaded: SSL operation failed with code 1. OpenSSL Error messages:
error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed
Failed to enable crypto
failed to open stream: operation failed
https://repository.scienceatwork

[2019-06-17 07:30] p-a-s-c-a-l commented on #53
drupal/business_rules:1.x-dev cannot be installed as suggested [here](https://www.drupal.org/project/business_rules/issues/3043734#comment-13073927)

``Your requirements could not be resolved to an installable set of packages.
  Problem 1
    - drupal/br_group 1.0.0-beta7 requires drupal/business_rules 1.0.0-beta7 -> satisfiable by drupal/business_rules[1.0.0-beta7] but these conflict with your re

[2019-06-17 07:33] therter commented on #68
The taxonomy was created by @patrickkaleta and the cities were imported. See also clarity-h2020/map-component#24

[2019-06-17 07:55] #64 closed, assigned to p-a-s-c-a-l, therter, DenoBeno, maesbri, humerh, fgeyer16, patrickkaleta, DanielRodera

[2019-06-17 07:57] p-a-s-c-a-l commented on #65
Is this module now used / still needed in our public CSIS  instance?

[2019-06-17 07:57] #63 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-06-17 07:57] p-a-s-c-a-l commented on #58
@humerh @bernhardsk any opinions on this topic?

[2019-06-17 07:58] #48 closed, assigned to fgeyer16, Itsman-AT

[2019-06-17 07:59] p-a-s-c-a-l commented on #46
Any progress to report here?

[2019-06-17 08:01] p-a-s-c-a-l commented on #53
3043734-Update-to-beta7-fails-5.patch applied

[2019-06-17 14:34] humerh commented on #58
I do not know, what the UI of CSIS for selecting the Scenario will look like.
I will try to describe the functionality of selecting the Hazard Events, which are "relevant" or typically for a specific project area:

1. Create new study and study area

2. The "middle point" of the study area should be used for selecting the relevant events for a study. EmiKat will implement the tables for "Heat Wave

[2019-06-17 14:52] #12 closed, assigned to fgeyer16, patrickkaleta

[2019-06-17 14:58] p-a-s-c-a-l commented on #13
IMHO adding the help messages and examples is something could by easily done by @DanielRodera with support from @patrickkaleta. WDYT?

![grafik](https://user-images.githubusercontent.com/1788226/59614195-8b168280-9120-11e9-92af-a4f6ea89531c.png)

[2019-06-17 14:58] #13 closed, assigned to fgeyer16, patrickkaleta, DanielRodera

[2019-06-18 06:25] p-a-s-c-a-l opened #72 "Step-by-Step Wizard"
We have to implement the step-by-step wizard to guide the user through the process / EU-GL Steps.

There is already a "SAW Wizard" module in `/modules/custom/saw_wizard` (**not** in `web/modules/custom/saw_wizard`).

@fgeyer16 What's the status here?

[2019-06-18 06:49] patrickkaleta commented on #65
It is currently not used nor installed and not needed as long as all external services are ok with making multiple REST calls to get what they want. Personally, I'd like to avoid using it since it's still alpha, not very actively developed and not used on many sites.

[2019-06-18 06:53] patrickkaleta commented on #46
Already done. Suggestions by @DenoBeno have been implemented. I forgot to update & close the issue.

[2019-06-18 14:01] p-a-s-c-a-l commented on #67
IMHO the nested taxonomy structure makes sense as the structure reflects the relationships between e.g. the damage classes and elements at risk. The Damage class taxonomy seems redundant and should be removed.

[2019-06-18 14:16] p-a-s-c-a-l commented on #58
OK, we'll allow the user to ~select one RCP and one time period~ **one event from the future** for comparison against the baseline scenario. This will become our basis for adaptation scenarios.

The choice [should be made](https://github.com/clarity-h2020/docker-drupal/issues/72#issuecomment-504327557) in the HC or HC-LE tab, depending on what we show in the HC-LE table and sent to the [EMIKAT RA/

[2019-06-18 15:00] p-a-s-c-a-l commented on #72
Is there a possibility to disable tabs based on some conditions? E.g. RA/IA and beyond should not be accessible until the user has [selected](https://github.com/clarity-h2020/docker-drupal/issues/58) the RPC/time period and only after impact calculation in EMIKAT is completed.

Furthermore, could we show the [Scenario Selection UI](https://github.com/clarity-h2020/docker-drupal/issues/58) when the

[2019-06-21 07:44] patrickkaleta commented on #72
A while back I added the [Progress indicator field](https://csis.myclimateservice.eu/admin/group/types/manage/study/fields/group.study.field_progress_indicator) to Studies. It represents how far the study has advanced and the view responsible for the study menu activates or disables the steps based on that field (e.g. Progress indicator = 3 would mean that for the first 3 EU-GL steps the links wou

[2019-06-21 11:04] patrickkaleta commented on #67
I updated title and description of the Damage classes taxonomy to indicate that this one should not be used in any way. I'll check for any possible side-effects of removing this taxonomy in my local instance and then proceed to removing it from the CSIS site.

[2019-06-24 10:08] patrickkaleta opened #73 ""composer install" downgraded several modules on production site only"
I just added two patches to the composer.json as shown in this [tutorial](https://punkt.de/de/blog/2017/patchen-mit-composer.html) and ran "composer install" command (all from within the docker container). Patches were applied, however this also lead to several modules being downgraded (also Drupal itself downgraded from 8.6.17 to 8.6.16).

![install-downgrade](https://user-images.githubuserconten

[2019-06-24 10:17] p-a-s-c-a-l commented on #73
Hm, did you try `composer update` afterwards?
Downgrading modules, especially Drupal core, is not an option as we need to apply the latest security updates.

[2019-06-24 10:38] patrickkaleta commented on #73
@p-a-s-c-a-l thanks, looks like all downgrades have been reverted now, while patches are still active. I guess, I'll use the `composer update` command next time when applying new patches.

[2019-06-24 10:38] #73 closed, assigned to p-a-s-c-a-l, fgeyer16

[2019-06-26 13:38] #28 closed, assigned to p-a-s-c-a-l

[2019-06-26 13:38] #19 closed, assigned to maesbri, fgeyer16, patrickkaleta

[2019-06-26 13:39] #15 closed, assigned to fgeyer16, patrickkaleta, aitdrazen

[2019-06-27 16:07] DanielRodera commented on #13
Do you need anything for my side or as suggested @patrickkaleta, can we close this issue?

[2019-07-01 06:24] p-a-s-c-a-l opened #74 "Improve PDF Output of Reports"
PDF Output of Report Generation doesn't look very nice.

*Configure additional PDF Views, e.g. for Taxonomy Terms and Report Images. There also a possibility to style PDF with custom CSS.* See https://github.com/clarity-h2020/docker-drupal/issues/20#issuecomment-473309782

The [final Report] has to include a a frontage, disclaimer, etc.

[2019-07-01 06:24] p-a-s-c-a-l commented on #20
Basic Report Generation Functionality implemented.

[2019-07-01 06:24] #20 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2019-07-01 06:28] p-a-s-c-a-l opened #75 "Update Data Package Views"
Update Data Package Views to use new the Tags Array instead of the  EU-GL Context object of the Data Package Resource.

See https://github.com/clarity-h2020/data-package/issues/14#issuecomment-506244759

[2019-07-01 07:08] fgeyer16 commented on #75
I will have to rethinke things, so this will need some time

[2019-07-01 07:11] p-a-s-c-a-l commented on #75
How much time? It's a SHOWSTOPPER issue. Do you need support?

[2019-07-01 09:48] fgeyer16 commented on #75
Was easier than I thought first. So the view is now updated to use the tag field.
But it seems, that the tag field is not filled with all values for the resources.

[2019-07-01 09:55] fgeyer16 opened #76 "Check content of tag field in datapackage"
Please check if the tag field in the resources  contains all data from its different predecessors fields. It seems that the Hazard and Exposure data are missing.

[2019-07-01 10:04] maesbri commented on #76
Only resources r1 and r15 (in Naples data package) were updated according to the new properties. The rest of resources are still pending.

[2019-07-01 10:32] p-a-s-c-a-l commented on #76
See https://github.com/clarity-h2020/data-package/issues/18

[2019-07-01 10:32] #76 closed, assigned to maesbri

[2019-07-01 10:48] p-a-s-c-a-l commented on #14
There are still a lot of taxonomy terms missing. E.g. for Heat: (heat / extreme heat)

![taxonomies](https://user-images.githubusercontent.com/1788226/60430772-6a5d2b00-9bfe-11e9-9269-3649fc25f9c7.gif)

[2019-07-01 10:51] p-a-s-c-a-l commented on #75
Thanks. Can you reproduce this strange behaviour when selecting taxonomy terms:
 ![taxonomies](https://user-images.githubusercontent.com/1788226/60430772-6a5d2b00-9bfe-11e9-9269-3649fc25f9c7.gif)

If causes Firefox to consume 100% CPU. Looks like an endless in the selection.

Furthermore, where do I find this / display view:
![grafik](https://user-images.githubusercontent.com/1788226/60430934-ce7f

[2019-07-01 13:44] fgeyer16 commented on #75
I neither did I see this behavior on chrome nor on FF. But I checked js and maybe there was a problem with bubbling of the click event. I think this is fixed now. Please try it since i did not see this.

the display of the resource you will find here: https://csis.myclimateservice.eu/admin/structure/views/view/rest_node/edit/rest_export_3. The whole html is in the "display" field at the bottom of

[2019-07-01 16:28] p-a-s-c-a-l commented on #16
@fgeyer16 Is this a duplicate of https://github.com/clarity-h2020/marketplace/issues/10?

[2019-07-01 16:31] p-a-s-c-a-l commented on #39
done

[2019-07-01 16:31] #39 closed, assigned to patrickkaleta

[2019-07-01 16:33] p-a-s-c-a-l commented on #45
I expect that pending issues have been fixed in the [new CLARITY Theme](https://github.com/clarity-h2020/clarity-theme/) which just has to be [activated and tested](https://github.com/clarity-h2020/clarity-theme/issues/1).

[2019-07-01 16:33] #45 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta, DanielRodera

[2019-07-01 16:34] p-a-s-c-a-l commented on #52
done

[2019-07-01 16:34] #52 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-07-01 16:38] p-a-s-c-a-l commented on #75
works now

[2019-07-01 16:38] #75 closed, assigned to fgeyer16, patrickkaleta, DanielRodera

[2019-07-02 05:20] p-a-s-c-a-l opened #77 "Final Report"
Create a new view as last tab ("Report") that aggregates all summary views to present a final report that can be [exported as PDF](https://github.com/clarity-h2020/docker-drupal/issues/74).

[2019-07-02 05:48] p-a-s-c-a-l commented on #14
We are missing a useful [Impact Scenarios Taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/impact_scenarios/overview) that is needed for the [RA/IA Data Package](https://github.com/clarity-h2020/data-package/issues/16).

@humerh @stefanon any idea, what to put i n there?

[2019-07-02 08:06] RobAndGo commented on #14
I think the data involving the taxonomy terms for heat and the other indices was to be summarised in the attached table.
[Naming_of_layers_LE_zamg.xlsx](https://github.com/clarity-h2020/docker-drupal/files/3349333/Naming_of_layers_LE_zamg.xlsx)

I have completed the table for all indices which were planned to the best of my knowledge.

[2019-07-02 08:30] DanielRodera commented on #14
Naming_of_layers_LE_zamg.xlsx

Thanks @RobAndGo, I will update the taxonomies once you update the excel.

I added again the "heat" definition.

[2019-07-08 07:29] p-a-s-c-a-l opened #78 "Simplified Data Package Forms"
Implement simplified Data Package and Data Package Resource edit forms with minimal required properties.

[2019-07-08 08:50] patrickkaleta opened #79 "Broken CSS for select lists"
Somebody installed the [Chosen ](https://www.drupal.org/project/chosen) module, which allows to search through select lists with more than 20 elements. It is a useful feature, but currently breaks the whole select list making them completely useless (screenshot taken for Solution offers overview page):
![chosen-CSS-bug](https://user-images.githubusercontent.com/42167036/60796016-fb875100-a16c-11e9

[2019-07-08 08:52] p-a-s-c-a-l commented on #79
The mentioned styling has to be implemented by @bullz in https://github.com/clarity-h2020/clarity-theme

[2019-07-08 09:28] maesbri commented on #78
@patrickkaleta, as discussed in Vienna, we need to change the way of creating resources within the data package. Currently, there is only the possibility to add a new one (like this):

![image](https://user-images.githubusercontent.com/9677881/60799344-40ae8180-a173-11e9-812a-40fc95fcd8d3.png)

But it should be replaced (as in the "contributors" property), in order to allow the reuse of existing r

[2019-07-08 09:37] maesbri commented on #78
Currently, the "tags" properties is displayed like this (it is a list where one or more values from various taxonomies can be selected), which is not very user-friendly right now (user must hold CTRL in order to select various values while clicking with the mouse, e.g., service-type:wfs, eu-gl:hazard-characterization, etc...).

![image](https://user-images.githubusercontent.com/9677881/60799844-43

[2019-07-08 09:38] p-a-s-c-a-l commented on #78
IMHO this feature is described here: https://github.com/clarity-h2020/docker-drupal/issues/66

[2019-07-08 09:49] p-a-s-c-a-l commented on #79
![grafik](https://user-images.githubusercontent.com/1788226/60800617-cc291200-a175-11e9-92cd-745d8b20c94c.png)

BTW, is there any change to limit the country selection to just one.? The field_country is unlimited, which is an error. But changing this by deleting and recreating the field would cause to many changes in other parts of the system:

![grafik](https://user-images.githubusercontent.com/1

[2019-07-08 09:58] p-a-s-c-a-l commented on #46
The Button does not work for the [Study Area Map](https://csis.myclimateservice.eu/study/1/view/area).

[2019-07-08 10:05] patrickkaleta commented on #79
Changing the cardinality and limiting this field to just one value should work as long as there are no entities with more than 1 element in that field.
The problem is that **Solution offers** are using the exact same field for listing all the countries, where they can be applied. Here it makes sense to allow multiple countries (also the case for the CIDS solution)

I believe the easiest solution i

[2019-07-08 10:12] maesbri commented on #78
@patrickkaleta , I have created a custom display settings (named SimplifiedDataPackage) with only the minimum list of properties we need for the DCs starting to create their data packages (this has been applied both for the dp_data_package and dp_resource entity types). However, I don't know how to use it, as when I try to create a new data package the default form still appears with all fields.

[2019-07-08 11:38] patrickkaleta commented on #78
This new form display `SimplifiedDataPackage` (btw: I would've chosen something more generic like "Simplified", since it can be used for all entity types independently now. But that's not an issue) has to be "called" specifically now for each content type that is using it (otherwise by default always the "default" form display will be used). How that is done exactly depends on the way those forms

[2019-07-08 11:47] p-a-s-c-a-l opened #80 "Navigation tabs disappear"
Navigation tabs disappear when switching in Study from any tab to "Summary":

![bugbugbug](https://user-images.githubusercontent.com/1788226/60807743-c7b92500-a186-11e9-8f1b-9098ad69aab6.gif)

[2019-07-08 12:15] p-a-s-c-a-l commented on #46
See https://github.com/clarity-h2020/csis-helpers-module/issues/9

[2019-07-08 12:15] #46 closed, assigned to p-a-s-c-a-l, therter, fgeyer16, patrickkaleta

[2019-07-08 12:19] patrickkaleta commented on #78
**Update:**
On the user's profile page (.../user/[userID]) there is now a new tab (only visible for Admins, Developers and Editors) labeled "My content". On this tab a list of all data packages and resources created by this user is shown.
Additionally, two buttons for adding Data packages and Resources using the new simplified form are there as well.

[2019-07-08 14:06] patrickkaleta commented on #78
@maesbri: I configured the [entity queue](https://csis.myclimateservice.eu/admin/structure/entityqueue/dp_tags/list) for the `tags_field`, so please have a look at the simplified form and let me know if all necessary items are being displayed in the form field now. I'm still a little confused when it comes to which hazards should be displayed in the forms. I followed this approach:

**Example for

[2019-07-08 14:38] patrickkaleta commented on #78
@maesbri:
**Done!** Let me know if you would like to have additional adjustments (display some other fields, add more filters, etc).

[2019-07-08 17:56] therter opened #81 "Twins cannot be removed from the study report"
Twins, which are included in the study report cannot be removed from the report

![anim](https://user-images.githubusercontent.com/1788509/60831616-3f547780-a1ba-11e9-8407-1a30cf115e95.gif)

Error message from the console:

![Bildschirmfoto vom 2019-07-08 19-50-03](https://user-images.githubusercontent.com/1788509/60831626-45e2ef00-a1ba-11e9-8283-cd6319a6bf9c.png)

[2019-07-09 12:24] patrickkaleta commented on #81
I found the problem! As can be seen in the screenshot, for this GL-step there was a missing element in its relationsships. JSON:API checks those relationsships before performing any POST,GET or DELETE requests and threw an error, since it found no match for a UUID = "missing". Problem is that Drupal doesn't remove any references of a content element when it's deleted, which leads to the "missing"

[2019-07-09 12:45] p-a-s-c-a-l opened #82 "Individual Permission on Data Package Entities"
Some Data Packages and the related Resources , e.g. the Expert Data Packages for the DCs or other "premium" Data Packages shall be available for users of the role "subscribers" only. Since we cannot assign individual permissions on single entity / node level, we have to use modules like [Permissions by Term](https://www.drupal.org/project/permissions_by_term).

ATM, this issue has low priority and

[2019-07-09 13:10] patrickkaleta commented on #79
Solution offers now have a `available countries` field, where unlimited numbers of countries can be added. The original `country` field for Studies now allows only one value.

[2019-07-09 13:17] patrickkaleta commented on #79
Regarding the usage of the [Chosen ](https://www.drupal.org/project/chosen) module, I just noticed that we cannot simply apply it to all select fields, since that would break the dynamic selection of available cities based on the country in our Study groups.
**Solution**: we have to explicitly set in the [configuration ](https://csis.myclimateservice.eu/admin/config/user-interface/chosen) of the C

[2019-07-10 16:26] maesbri commented on #78
Yes, it works. Thank you!

[2019-07-10 16:31] maesbri commented on #78
That' fine, but there is a problem now in the tags list. I cannot select any hazard-index or a vulnerability class (as they are sub-terms in the hazard and elements_at_risk taxonomies. Separating hazards and elements at risk from hazard indexes and vulnerability classes from elements at risk it is better for the end user, but is there a way to do display it in the list?). Bwt, is there any possibi

[2019-07-10 16:32] maesbri commented on #78
Thanks, I see now them :)

[2019-07-10 16:37] maesbri commented on #78
@p-a-s-c-a-l , @patrickkaleta
Now the id property (in data-package and resource) is hidden and filled in automatically with the [node:uuid], so it is transparent for the end-user.

**Update:**  This works for the new data-packages and resources but how do we replace the old id values in the existing resources/data-packages with the node uuid?

[2019-07-10 16:41] maesbri commented on #78
@p-a-s-c-a-l , @DenoBeno
According to our discussion yesterday, I have updated the simplified data-package creation form by adding the following properties at:
- data-package level: contributors and licenses
- at resource level: sources, contributors and licenses

[2019-07-11 12:31] patrickkaleta commented on #78
I think since there are currently still not that many datapackages/resources, the easiest way would be to **edit and save without changes** each of the existing DPs and resources. The ID will be updated automatically thanks to your settings.

[2019-07-11 12:37] patrickkaleta commented on #78
I understand what you'd like to see. Not sure if it will be possible to separate e.g. hazards from hazard indexes, since they are stored in the same taxonomy. I will give it a quick try, otherwise they will remain together.

Regarding the height of the select box, this is something that should be set with CSS in our new theme.

[2019-07-11 12:57] DenoBeno commented on #78
I have implemented several changes to the way data packages are defined and to the way they are presented.

Fro the start, I have made a DP presentation somewhat nicer. Teh result can be seen e.g. on https://csis.myclimateservice.eu/node/221. Screenshot is a bit too big, so let me explain:

1. separation of content into "data package summary" and "ressources" section
2. Most of the resource descri

[2019-07-11 13:05] DenoBeno commented on #78
What is missing now?

- first, we should IMO allow the normal users to ONLY use the simplified edit forms. Alternatively, we could simplify default forms and allow only special users to use the cmplex one.
- second, the users need a simple way to start editing already existign DPs and adding new ones.
- while resources and contributors can be easily added from DP, it's not so easy to change them a

[2019-07-11 13:19] maesbri commented on #78
Yes!, I noticed while saving some of the resources :). I will do it with all the other resources once the old properties are removed, otherwise it will create again all the empty contents

[2019-07-11 13:30] maesbri commented on #78
This information is not available for all datasets. I did my best when started preparing the data package some months ago.
Btw, I opened in edit mode the agricultural areas resource, but in the licenses list it doesn't appear the ones that you added to the taxonomy.

![image](https://user-images.githubusercontent.com/9677881/61055002-df93e180-a3f0-11e9-95bb-8dbd3bbd8b48.png)

[2019-07-11 13:41] p-a-s-c-a-l commented on #78
For each resource in the Data Package, there *should* be a corresponding entry in our [CKAN](https://ckan.myclimateservice.eu/) where the license field is mandatory.

[2019-07-11 13:45] patrickkaleta commented on #78
@maesbri
The taxonomy "DP License Type" doesn't store actual licenses but only the different types. It groups the individual licenses (which are modelled as content type "DP Lincense") based on how restrictive they are.

So what changed is that the content type "DP lincense" now has a new field called `License type` (reference to the new License type taxonomy). That field is needed to aggregate al

[2019-07-11 13:49] maesbri commented on #78
Explanations on how to produce datapackage/resources will be in the wiki page I will prepare. Several properties in the form already contain inline explanations, however it has its formatting limitations, which is not very convenient when having long explanations (e.g., it is not possible to have new lines within the explanatory text or making some words bold).

The unique ID is already generated

[2019-07-11 13:58] maesbri commented on #78
I think that would not be enough, someone has to manually add the license to each resource (in drupal) so it can be later on used to restrict the data package license (or even visualize the license in the CSIS). Otherwise, the alternative would be having to follow the metadata link of the resource, parse the json provided by ckan, extract the license information and then display it.

[2019-07-12 11:28] patrickkaleta commented on #78
@maesbri
it took me a while but I think I found a reasonable solution. Using EntityQueue on its own cannot provide the possibility to show terms from the same taxonomy under different labels (like it would be necessary for hazards and hazard indexes or El. at risk and vulnerability classes). Also there are now already roughly 100 tags, so using a simple select list is not an optimal solution.

So

[2019-07-12 11:38] maesbri commented on #78
Thank you very much @patrickkaleta  . I think it is quite a good solution :)

[2019-07-12 11:56] patrickkaleta commented on #78
Just noticed that I forgot about the damage classes... I added them to the tags selection as well.

[2019-07-12 12:05] patrickkaleta commented on #66
### Update:
The mentioned [Entity Reference Views Select](https://www.drupal.org/project/entity_reference_views_select) module in my previous comment will not be necessary in my opinion, since we already have a similar module installed.

Should there be instances where it's necessary to show more than just the title in a select option, the already used Entity Browser module in combination with the

[2019-07-15 07:39] p-a-s-c-a-l commented on #78
Yes, that's sufficient. Keep it simple. :-)

[2019-07-15 13:40] DenoBeno commented on #78
Few updates on dp_resource node type.

1. field_name has a "CKAN ID" label in cp_resource now. We can try to use it for calling the CKAN API at some later point. (Parsing the license field on CKAN to fill in some fields would be possible in theory, but I don't know how to do it and I have no idea when I'll have time to play with that. Or anyone else... So we need to enter them per hand for now. We

[2019-07-15 14:08] DenoBeno commented on #78
I have updated all three entity browsers - now they are all "single click".

[2019-07-24 09:26] patrickkaleta commented on #80
@fgeyer16 what I was able to find out so far:
- this bug appears only after the first load of the summary tab after the cache has been cleared
- using the Webprofiler tool in the Devel module I learned that the following views are not loaded:
  - `study_group_main_navigation_v2`
  - `study_group_tabs_for_group`
  - but instead additionally the `dp_license_eva` view is loaded
- also only 10 instead

[2019-07-24 10:45] patrickkaleta commented on #80
### Update:
Changing the `Show` option from "Content" to "Fields" of the previously mentioned view helped solve the bug. Instead of showing the Report images in the default display mode (the case for using `Show` option = "Content"), I recreated the default display mode directly inside the view.

@fgeyer16 could you think of a reason, why this was the cause for this bug? I wasn't able to find any

[2019-07-24 15:40] DenoBeno commented on #82
I also believe that this isn't a priority. If and when we decide to implement this, it can probably be done using the https://www.drupal.org/project/permissions_by_term module.

[2019-07-24 15:58] fgeyer16 commented on #80
Not really for now. What lead you to try the show option Fields instead of Content?

[2019-07-25 07:38] patrickkaleta commented on #80
Mostly pure desperation ;-)
But also I was wondering if the set "summary" display inside this view might have somehow interfered with the overall "summary" display of the whole Study group page. However, changing to another display form still led to the same bug. Switching to show "Fields" instead finally did the trick then.

[2019-07-25 12:05] patrickkaleta opened #83 "Adding new Studies in the CSIS"
### "Create new Study" button
I added a new button to create a new Study, which is displayed under all tables listing currently available studies (just for now this button is only visible for admins). It shows a simplified form (following the approach we choose for data packages and resources) asking for:
- Title
- Short name
- Study goal
- Study type

All remaining fields (Country, Sector, data p

[2019-07-26 08:39] p-a-s-c-a-l commented on #83
So we'll keep the steps? I remember there was a discussion / proposal to remove them entirely. 😕

Anyway. ATM the information in newly created steps is all we need. EMIKAT id is added to the study by [this trigger](https://github.com/clarity-h2020/emikat/issues/6), right?

Note: Eventually we [switch from ReactMount to iFrames](https://github.com/clarity-h2020/map-component/issues/37), then we hav

[2019-07-26 09:16] patrickkaleta commented on #83
I'm aware of the discussion started by @DenoBeno to remove the GL-Step entity type and have it all in the study group. But as you rightly mentioned this would have a major impact on all we have so far developed. So (to my recollection) the conclusion was to continue the way it is right now, while Denis works in parallel on his proposal without disrupting our current implementation.

Correct.

Upda

[2019-07-30 09:10] DenoBeno opened #84 "Short descriptions for menu items"
We shoudl add tooltip explanations for the menu items (e.g. what is a showcase)

[2019-07-30 13:16] claudiahahn commented on #84
Suggestions:
**solution offers**:
Products or services to support climate resilient planning (e.g. software tools, consulting services, or novel adaptation options)

**showcases:**
Case studies demonstrating the application of products or services in a specific location / examples of climate resilient urban planning

If showcases should always relate to a solution offer, than the last part (exampl

[2019-07-30 14:05] p-a-s-c-a-l commented on #84
Here is the "[official definition](https://github.com/clarity-h2020/csis-architecture/blob/dev/src/main/markdown/CSIS%20and%20the%20Marketplace%20concepts.md)":

### A Solution Offer

A Solution Offer is a (generic) product or service that can be advertised in the Marketplace and the CSIS and thus gives Solution Providers the possibility to promote their products and services. A Solution Offer can

[2019-07-31 06:34] p-a-s-c-a-l commented on #16
ATM credentials for EMIKAT and other services are part of the user profile. That means, when a new user registers, we have to copy the credentials. Is this really the way to go?! Furthermore, aren't the profiles now managed on profiles.myclimateservice.eu?

[2019-07-31 11:00] p-a-s-c-a-l commented on #53
@DenoBeno Cannot update from 8.6.17 to 8.7.5 due to the following error:

[code]

Probably caused by this dependency: `"webflo/drupal-finder": "^1.0.0"`.

Additionally, the following modules cannot be safely upgraded to the lasted version as they may break the current system:

![grafik](https://user-images.githubusercontent.com/1788226/62206923-1f683c00-b393-11e9-8fdc-e6e0c075117a.png)

[2019-07-31 12:33] claudiahahn commented on #84
According to the "official definition" a showcase should  always be related to a solution offer.

In that case, we can only enter showcases ourself, if there is a generic tool (free) that is being used and which we have already listed under solution offers.
**The description could be: "Application of solution offers (products or services to support climate resilience) in a specific location"**

I

[2019-07-31 12:33] patrickkaleta commented on #53
There seem to be quite some difficulties when trying to upgrade from 8.6.x to 8.7.x.
In my local instance, I tried upgrading Core using `composer update drupal/core webflo/drupal-core-require-dev --with-dependencies` as explained [here](https://www.drupal.org/docs/8/update/update-core-via-composer) (I tried this even though this command is mentioned specifically for upgrading from 8.5 to 8.6, sinc

[2019-07-31 12:36] claudiahahn commented on #84
The best way would probably be to encourage consulting companies that were involved in, for example, the above mentioned projects to enter such showcases and their solution offers (services) themself.

[2019-07-31 12:46] p-a-s-c-a-l commented on #84
No Oppla and Climate Adapt Adaptation Support Tool  are no Solution Offers. The climate resilient planning examples (Showcases) are the result of the application of some expert (climate) service, so the expert services are the solution offer. It's the idea of marketplace that CS providers can describe their (generic) CS as solution offers in the marketplace and CSIS, respectively. Solution Offers

[2019-07-31 12:54] p-a-s-c-a-l commented on #53
OK, then we'll defer the upgrade till the problems have been resolved locally.
And we have to make sure that the update of the JSON:API doesn't break our external components.

[2019-07-31 13:10] claudiahahn commented on #84
That's what I meant, with respect to the example.

From the "official definition" I also thought solution offers could be free of charge as well.
That's why I thought the Climate Adapt Urban Adaptation Support Tool could potentially also be listed, since its aim is to assist cities, towns and local authorities. But its fine for me if we try to avoid listing too many "tools" that are mainly guideli

[2019-08-01 08:16] claudiahahn commented on #84
from my side - final description:
**solution offers**:
Products or services to support climate resilient planning (e.g. software tools, consulting services, or novel adaptation options)

**showcases**:
Application of solution offers (products or services to support climate resilience) in a specific location

[2019-08-01 10:21] patrickkaleta commented on #53
As far as I understood it, they simply moved the JSON:API version 2.4 into Drupal core, which is also the version of the module we are currently using. But you're right - better be safe than sorry.

[2019-08-02 07:57] patrickkaleta opened #85 "Using two different sources for defining ServiceType of dp_resources and dp_references"
@DenoBeno informed me that for the content type **dp_reference** the [reference_type](https://csis.myclimateservice.eu/admin/structure/types/manage/dp_reference/fields/node.dp_reference.field_reference_type/storage) field uses a list of strings, while the **dp_resource** uses the [DP_serviceType](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/service_type/overview) taxonomy to de

[2019-08-02 08:09] patrickkaleta opened #86 "Level of detail for terms in DP_ServiceType taxonomy"
Another question raised by @DenoBeno was if the current state of [ServiceType](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/service_type/overview) taxonomy will suffice for further usage. E.g. there is a term "emikat", but will that alone be enough to tell how to handle the service, since Emikat could potentially provide multiple services using wms, wfs, wcs, json, xml,...

@th

[2019-08-02 09:38] p-a-s-c-a-l commented on #86
At the moment ServiceType isn't recognized by any of our components. How to handle resource URLs is ATM controlled by the type of the reference e.g. *@ mapview:wms*. In the future, we may also have a look at the service type and, in case of EMIKAT, substitute `$study_id` in the reference URL with the value taken from the study group entity.

[2019-08-02 09:48] p-a-s-c-a-l commented on #85
No, it's not. I wouldn't touch dp_reference any more, it will break our components (again). reference_type is a string. This is simple and exactly what we want. No taxonomies please. Instead, it would even be better to replace ServiceType by a list of strings. This keeps the JSON less complicated to handle. IMHO those are two separate things, there should be a documentation in https://github.com/c

[2019-08-02 09:50] p-a-s-c-a-l commented on #86
As mentioned [here](https://github.com/clarity-h2020/docker-drupal/issues/85#issuecomment-517638669), from implementation point of view it would ServiceType list of strings instead of a taxonomy.

[2019-08-02 10:10] patrickkaleta commented on #85
Alright, let's keep it the way it is.

Changing the ServiceType to a list of strings would make things more difficult on the Drupal-side. **However**, I just thought about the possibility to use Business Rules to automatically fill in a new field (which would be hidden to the user) with simple strings based on what the user selected in the ServiceType. That should make things easier for you, since

[2019-08-02 10:23] p-a-s-c-a-l commented on #85
OK. I don't think that it's worth the effort. We should then keep ServiceType  it as it is and I'll work with what is available **now**.

[2019-08-02 17:28] fgeyer16 commented on #53
It seems, that I was able to update my local insatnce succesfully. The steps
Remove outdated:
[code]
~```composer remove drupal/field_group```~

update composer.json
[code]
update drupal
`composer update drupal/core webflo/drupal-core-require-dev --with-dependencies `
reinstall modules
[code]
~```composer require drupal/field_group```~
run database update
[code]
found out eva and field_group were

[2019-08-02 17:28] fgeyer16 commented on #53
Sorry hit wrong button

[2019-08-03 19:39] fgeyer16 commented on #53
Ok Forgot one point. We have to patch business rules after the update to drupal 8.7.x
Issue: https://www.drupal.org/project/business_rules/issues/3016888
patch: https://www.drupal.org/files/issues/2019-05-10/variables-returning-null-3016888-24.patch

[2019-08-05 07:42] fgeyer16 commented on #53
Group module needs to be re patched as well
file web/modules/contrib/group/src/Entity/Group.php  add the default form in the annotations

[code]

[2019-08-05 07:47] patrickkaleta commented on #53
@fgeyer16 thanks for the instructions. I will test this on my local machine and get back to you.

[2019-08-05 14:11] DenoBeno commented on #53
We need install/update instructions in a wiki, or as a "best practice"
item. Just a description of all the modules that need patching, special
configuration options and such.

On Mon, 5 Aug 2019, 09:47 patrickkaleta, <notifications@github.com> wrote:

[2019-08-05 18:13] fgeyer16 commented on #53
Concerning the modules, which need patching I suggest to do this using composer. In another projects my proceeding is the following:

1. create a patches folder in the directory with the composer.json.
2. Add the patch section in the extra section of the  composer.json file:

[code]

3. If there is a patch needed copy the patch file into this folder. We could also use the url for the patch path (e

[2019-08-07 11:26] patrickkaleta commented on #53
Thanks @fgeyer16 , I tested your [updating approach](https://github.com/clarity-h2020/docker-drupal/issues/53#issuecomment-517783328) and it worked on my local instance. I did some slight changes, which I edited into your original approach. That way all modules (except the Field Group module) are up-to-date (as can then be checked [here](https://csis.myclimateservice.eu/admin/reports/updates)).

1

[2019-08-08 10:53] patrickkaleta commented on #53
...

I like this idea and I would even go a step further and exclude the patches into a separate **composer.patches.json** file (place it in same directory as the composer.json) in order to prevent the composer.json from becoming too overcrowded.
For the stored patch files on our server I would suggest the following naming convention:` [Module affected]_[Issue number on Drupal.org].patch`

compose

[2019-08-09 15:34] patrickkaleta commented on #53
Drupal and all modules (except "Field Group" and "Admin Toolbar" - will be done separately) have been updated. All should be working as before, but please check for yourself.

[2019-08-12 06:36] p-a-s-c-a-l commented on #53
I couldn't find **composer.patches.json** in `/docker/100-csis/drupal-data`.

[2019-08-12 07:41] patrickkaleta commented on #53
I have yet to download and move the existing patches into the dedicated **composer.patches.json**. I will do this together with updating the remaining two modules.

[2019-08-12 11:30] patrickkaleta commented on #53
Remaining modules have been updated and all patches have been moved to the **composer.patches.json** in `/docker/100-csis/drupal-data`. I will create a new "Best practice" regarding the patching of modules.
Closing this issue now.

[2019-08-12 11:30] #53 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2019-08-12 11:44] patrickkaleta opened #87 "Patching contributed modules"
**Steps:**
Should it be necessary to apply a patch to a contributed module, please follow these steps:
1) switch into the docker container
2) in `/docker/100-csis/drupal-data/patches` download the required patch (`wget URL-to-patch --output-documument=MODULE-NAME_ISSUE-NUMBER.patch`)
3) edit `composer.patches.json` file (in same directory as `composer.json` file) via `vi`  to include the recently

[2019-08-12 11:44] #87 closed

[2019-08-14 05:55] p-a-s-c-a-l commented on #68
@therter In  reference to https://github.com/clarity-h2020/data-package/issues/39#issuecomment-520923326 and https://github.com/clarity-h2020/local-effects/issues/5#issuecomment-520785440:

The spatial extent of the Cities Taxonomy in CSIS is in EPSG:3035 and reprojected inside of Map Component to EPSG:4326, right?

Is it possible to (locally) reproject to EPSG:4326 and import it again and then di

[2019-08-14 07:03] DenoBeno commented on #68
I presume this was already done.

Would it be possible to have the data in both projections?

Two geospatial bb fields, one with data in EPSG:4326, the other with data in EPSG:3035.

One could then be used for drupal-internal data presentation and the other by the clarity map widget.

[2019-08-14 07:10] p-a-s-c-a-l commented on #68
No, we don't need that. One field is enough.

[2019-08-14 09:29] therter commented on #68
I was a bit confused about the current state of the used CRS. Therefore, here is the summary of the current state:
The [dp_spatial_extents](https://github.com/clarity-h2020/data-package/issues/39) are using EPSG:4326, because this is also the crs that is used by the geofield module. The problem that started the crs discussion was that the geometries of the city taxonomy cannot be shown on the drup

[2019-08-14 09:55] p-a-s-c-a-l commented on #68
Ok, thanks.

[2019-08-14 20:48] DenoBeno commented on #68
Haha, I should have noticed this - EPSG:3035  values are in 10000-s, whereas EPSG:4326 is in 10-s.

[2019-08-16 10:23] DenoBeno opened #88 "List fields with numeric values broken (solved)"
Today I noticed that the "list" fields don't work with numeric keys.

Patrick traced the issue down to incompatibility with the "select or other" module. It works again with the latest version of the select or other module.

[2019-08-16 10:24] #88 closed, assigned to DenoBeno, patrickkaleta

[2019-08-16 10:35] DenoBeno opened #89 "Geolocation module can be removed"
I managed to produce a reasonably good map + list view with geofield and related modules. Consequently, we do not need geolocation and related modules anymore.

I have already disabled the modules in the admin gui, they aren't used anywhere and can be removed from the image now.

[2019-08-16 10:49] patrickkaleta commented on #88
Just for documenation, [this](https://www.drupal.org/node/3052563) was the problem, which was fixed in the latest (1.0-alpha4) version of the module.

[2019-08-19 05:12] #86 closed, assigned to therter, maesbri

[2019-08-19 05:12] #85 closed, assigned to p-a-s-c-a-l, therter, maesbri, patrickkaleta

[2019-08-19 05:13] p-a-s-c-a-l commented on #84
@DanielRodera did you add the tooltips?

[2019-08-19 05:36] p-a-s-c-a-l opened #90 "Support for different Study Types"
We need support for different types of studies, e.g. "Simplified Screening", "Screening", "Expert" and probably some more (baseline vs. adaptation study). ATM the study types just differ in the number of steps shown. Later we may need custom configuration on per-steps basis, e.g. to show / hide additional external applications (via iFrame) like the Envi-Met (?) 3D Viewer used by DC3.

So https://g

[2019-08-19 06:16] DenoBeno commented on #81
Is this a Drupal bug? If yes, please report it in drupal.org.

Also, please post a "best practice" for working with JSON:API - we may need this information in the future.

[2019-08-19 06:30] DenoBeno commented on #90
What happens if gl_step node is missing for some step? Does the related step disappear from the GUI? Can one still see & visit other steps?

If so, we could change the Business rules so that gl steps are generated "just in time".

This would also make it easier to produce conditional business rules for different study types.

[2019-08-19 06:37] DenoBeno opened #91 "Support for changing the study type"
Related to #90 : what happens if user changes the study type?

Or better said, what *should* happen?

Should all the gl_steps be reset/deleted? Or the ones that aren't allowed in this study type hidden (unpublished)?

[2019-08-19 06:50] DenoBeno opened #92 "Support for changing the study area"
Related to #90 and #91 :

What (should) happen if the user changes the study area.

Two options : within the same city or change the country/city first?

Should we leave the existing content in place or reset/delete all gl_steps?

@humerh : Does emikat need to reset the study on its side? Can it do so?

[2019-08-19 06:57] DenoBeno commented on #92
I could post a separate issue for changing of a data package, but it sounds as overkill.

In my opinion, all these changes should have the same result:

1) warn the user that all the information in the
2) delete or reset all gl_steps and the study in emikat.

Effectively, the user gets a new study....

[2019-08-19 07:09] p-a-s-c-a-l commented on #91
There is no need for changing the study type. We shouldn't support this feature.

[2019-08-19 07:48] p-a-s-c-a-l commented on #92
Same as [here](https://github.com/clarity-h2020/docker-drupal/issues/91#issuecomment-522442405): We don't support it, specially for reasons of consistency (what happens with report images referring to the old study area?) and KISS.

If the user wants a new study area, he has to create a new study. So after the implementation and testing phase, study area can only be defined once and then not be ch

[2019-08-19 12:16] DenoBeno commented on #92
I agree that we need to assure consistency. This boils down to "new study type or area== new study"

Possibility one:  assure that users can't edit the study type, country, city and area once they have been defined.

Possibility two: the GL steps are deleted, new ones added and effectively one has a new study.

Note: We may get the possibility two implemented "for free" when we implement study typ

[2019-08-19 12:16] #92 closed, assigned to DenoBeno, humerh, fgeyer16, bernhardsk

[2019-08-19 12:17] DenoBeno commented on #91
See last comment at #92

[2019-08-19 12:17] #91 closed, assigned to nobody

[2019-08-19 12:36] DenoBeno commented on #90
I worked on this with Florian today, and we have a (IMO) great concept.

1) gl step node can be declared as "template" (done)
2) gl step nodes of template type can be referenced from the study type (almost done)
3) change the business rules so that they generate the gl steps corresponding to the templates listed in study type. (todo)

This will make the process of adding new study types extremely

[2019-08-19 12:42] DenoBeno commented on #90
By the way, we also tested what happens if some steps aren't generated. Steps that aren't generated aren't showing up.

The problem could be that we are currently preventing people from skipping steps - what happens if some step doesn't exist?

[2019-08-19 12:55] DenoBeno commented on #90
btw, i wonder how to best support additional application types. E.g. the 3D viewer.

Would the 3D viewer appear on its own sub-step, or would it appear e.g. on existing map or table sub-step?

Can more than one application appear on the same sub-step?

[2019-08-19 13:12] p-a-s-c-a-l commented on #90
I would put it on a separate sub-step.

If we embed it as iFrame, then it's no problem. With ReactMount it's not possible AFAIK.

I asked @toetzert for the URL of the DC3 3D Viewer presented in Vienna  (AFAIR it visualises the output of envi-met local model for Linz). Then we can asses whether and how this external 3D viewer could be embedded as iFrame.

[2019-08-19 13:15] DenoBeno commented on #83
Last week someone complained that they don't see the "add study" button. (could be false flag too)

Please double-check if this button is shown to all the user types that are allowed to add studies.

[2019-08-19 14:20] LenaStr commented on #83
I can not see the add study button on CSIS, meaning I can not play around with studies.

Also, other people (i.e. Anna from WSP) has had problems with adding Solution Offers and Showcases.

It is important that we can start to test the system and produce material.

Best,
Lena

Från: Denis Havlik [mailto:notifications@github.com]
Skickat: den 19 augusti 2019 15:16
Till: clarity-h2020/docker-drupal

[2019-08-19 15:56] DenoBeno commented on #90
I have implemented the possibiltiy to define which steps go to which studies and also to change the step template per study. It's really easy to use.

1. start from taxonomy overview https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/study_type/overview
2. Add new study type (or edit existign one) - btw, I have no idea what is "study type id" field for

![grafik](https://user-images.

[2019-08-19 16:05] DenoBeno commented on #90
OK, I have rewritten this so that no duplication is possible. Also no adding of new steps per hand.

In order to add new templates, do the following:

1) add a new study (call it "template study X" or such) of a type you wish to start with.
2) go to https://csis.myclimateservice.eu/admin/content and edit the new eu-gl steps. Those that have just been generated will be on top (8 of them for a stand

[2019-08-19 16:31] DenoBeno commented on #90
I have tested this and it works, but it's a bit of a PITA.

![grafik](https://user-images.githubusercontent.com/2961790/63282225-9d42a780-c2ae-11e9-89c3-7c550a5a389e.png)

![grafik](https://user-images.githubusercontent.com/2961790/63282292-cebb7300-c2ae-11e9-930a-ff603bbf11fd.png)

Therefor I've also added the possibility to add new template in the entity browser.

![grafik](https://user-images.g

[2019-08-19 16:46] DenoBeno commented on #90
@fgeyer16 : adding new studies is broken at the moment, the eu-gl steps don't get added to the study group. I'm not touching this, it has to be rewritten anyway. Can you do the new rules?

This is what you can test with:

https://csis.myclimateservice.eu/taxonomy/study-type/simple-study
https://csis.myclimateservice.eu/taxonomy/study-type/urban-infrastructure

They have been defined to use differe

[2019-08-19 16:58] DenoBeno opened #93 "Which fields do we need in a template?"
Related to the work I just reported under #90 , it's important to know what template should contain. And which fields should be set.

The way I understand it, this is what needs to be in a template:

![image](https://user-images.githubusercontent.com/2961790/63283986-e72d8c80-c2b2-11e9-8f73-a39b3755b35e.png)

I'm not sure about the "MCDA *" fields. Do we need them in all steps? Just in one step?

[2019-08-19 17:12] DenoBeno commented on #93
btw, I have cleaned up "Edit as template" a bit. See e.g.  https://csis.myclimateservice.eu/node/add/gl_step/template

![image](https://user-images.githubusercontent.com/2961790/63285065-396fad00-c2b5-11e9-964c-bd92abe95cba.png)

[2019-08-19 17:16] DenoBeno opened #94 "If EU-GL title (name) is the same as GL-Step, why isn't this enforced?"
Related to: #39 , #90

It seems to me that EU-GL step name is always the same as the EU-GL step taxonomy used for this step. If so, why don't we generate the title on the fly?

And why isn't the "EU-GL step" (field_field_eu_gl_methodology) mandatory field?

[2019-08-19 17:56] DenoBeno commented on #79
is this fixed now?

[2019-08-20 05:34] p-a-s-c-a-l commented on #93
We need them in RA/IA. **I wouldn't touch them now!** Maybe we need some more. MCDA app implementation is currently on hold until we have have real impact results and adaptation scenarios to compare.

[2019-08-20 09:45] p-a-s-c-a-l commented on #68
@therter

1) if there is an import script (SQL?) then it should be made available, e.g. in this issue so that we can reproduce the import.

2) we want to create links to [urban adaptation city profiles](https://tableau.discomap.eea.europa.eu/t/Aironline/views/2019_Urban_vulnerability_links/mainpage?iframeSizedToWindow=false&%3Aembed=y&%3AshowAppBanner=false&%3Adisplay_count=yes&%3AshowVizHome=yes&

[2019-08-20 09:52] therter commented on #68
The Urban Atlas city names are different from the citiy names used by EEA. I will add the eea_city_profile_name field

[2019-08-20 11:36] p-a-s-c-a-l commented on #47
The data package view looks really terrible with the [new theme](https://github.com/clarity-h2020/clarity-theme). E.g. no indication that the list of resources are clickable links, but underlined link are not clickable, no clear separation between fields, important fields are missing (references, path, ...), etc.

Any change to improve this?

![data](https://user-images.githubusercontent.com/17882

[2019-08-20 11:43] DanielRodera commented on #47
Hi, @p-a-s-c-a-l,

Thank you for the feedback. I will inform Alejandro about the issue and we will propose a solution for this.

[2019-08-20 14:32] DenoBeno opened #95 "Urgently need busines rules beta 8!"
I run in a problem with busines rules that is allegedly fixed in beta 8. This is really urgent - without this we can't support adding new studies of different types.

@fgeyer16 : see this https://csis.myclimateservice.eu/admin/config/workflow/business_rules/action/loop_through_step_templates/edit

What this SHOULD do is to loop through templates and show some debug information on https://csis.mycl

[2019-08-20 14:41] DenoBeno commented on #90
For the record: beta7 of busines rules is broken, so I wasn't able to get the new rules working. I'm pretty far though. it should be straightforward if beta 8 works as it should...

In addition to #95, there is another bug that can be worked around if necessary: apparently setting boolean fields doesn't work. If this is true, we'll have to replace "is_template" by a numeric or string field. :-(

I

[2019-08-20 14:47] DenoBeno commented on #90
https://csis.myclimateservice.eu/admin/structure/types/manage/gl_step/fields/node.gl_step.field_template_name

For info: I haven't removed the field, I just gave it a new label & description

![image](https://user-images.githubusercontent.com/2961790/63357670-15ba6e80-c36a-11e9-9b11-9bc88adc0c33.png)

[2019-08-21 06:40] LenaStr opened #96 "Need rights for creating studies"
I can not create a study in the CSIS. (I assume this is a general problems, all editorial users should have the rights to create and edit studies.)

[2019-08-21 06:42] LenaStr opened #97 "Anna Åkesson can not create an account in CSIS"
Anna Åkesson can not create an account in CSIS. The problem is that her e-mail seems to be used in an older version of an account that is not accessible.

[2019-08-21 06:48] p-a-s-c-a-l commented on #96
BTW, [study templates](https://github.com/clarity-h2020/docker-drupal/issues/90) for expert studies are not ready yet. So ATM it's not recommended to create new studies.

[2019-08-21 06:52] p-a-s-c-a-l commented on #94
How does this relate to the GL-Step templates? It makes sense to use different titles for different templates of the same type e.g. "simple HC" vs "Expert HC" GL-Step otherwise it's hard to know to which study template the template step belongs to.

Is `name` the same as `title`?

[2019-08-21 06:53] p-a-s-c-a-l commented on #83
See https://github.com/clarity-h2020/docker-drupal/issues/96

[2019-08-21 07:12] LenaStr commented on #96
When will expert studies templates be ready? Anyhow it would be very valuable to create something related to sweden for the Swedish workshop on the 5th

[2019-08-21 07:29] LenaStr commented on #97
Yeshewa also have a problem. E-mail: yeshewatesfa.hundecha@smhi.se

Error message says: Username has not been activated or is blocked

[2019-08-21 07:34] patrickkaleta commented on #90
Comparing the current setup of this business rule on the live CSIS and my local instance, I noticed that the workflow of this business rule seems to have been (by accident?) changed: (left side my local instance, right side CSIS):
![br-new-study-bug](https://user-images.githubusercontent.com/42167036/63411628-3cbe8200-c3f6-11e9-96c0-9f4e9bd8ee85.png)

The "Show last 8 GL-steps..." is needed for ad

[2019-08-21 07:38] therter commented on #68
In Order to import the cities, the following steps are required:

- Get the cities from the wfs (http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:mortality&outputFormat=SHAPE-ZIP)
(formerly: http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:city&outputFormat=SHAPE-ZIP)
(formerly http://services.clarity-h

[2019-08-21 07:51] patrickkaleta commented on #96
@LenaStr: Then we will try to have this ready and working before the 5th (I'm assuming you mean September?), but ATM I can't say for sure when we will have solved all the related issues with this.

@p-a-s-c-a-l, @DenoBeno: I stumbled upon this [bug](https://www.drupal.org/project/drupal/issues/2920527) affecting systems using:

1. a Postgres DB
2. the Group module
3. and any third module that trig

[2019-08-21 08:12] LenaStr commented on #97
This is also very important for the demo on the 5th and we need acces at latest one week before in order to have time to prepare demos.

[2019-08-21 08:13] LenaStr commented on #96
I need at least one week before the fifthe to prepare for the demo. (If not available we have to think of something else.)

[2019-08-21 10:17] patrickkaleta commented on #90
I updated business rules to beta8. Tests in my local environment however didn't seem to be very promising.

[2019-08-21 10:19] p-a-s-c-a-l commented on #93
[Scenario Analysis App doesn't work anyore](https://github.com/clarity-h2020/scenario-analysis/issues/15):

`node object is null or field "field_mcda_decision_strategy" is empty!`

Did you remove any of the mcda fields or their default values?

[2019-08-21 13:40] patrickkaleta commented on #79
If you are talking about the broken CSS mentioned in my [first comment](https://github.com/clarity-h2020/docker-drupal/issues/79#issue-465132840) **than yes, this is fixed now.**

Regarding this [comment](https://github.com/clarity-h2020/docker-drupal/issues/79#issuecomment-509637920), there is nothing to fix. The "Dependent fields" in Business rules only work on default `select` elements. Therefo

[2019-08-21 14:58] fgeyer16 commented on #97
I think Anna Åkesson can login now, the confirmation link was stuck in the mail filter of wsp.
Yeshewa is unblocked now as well

[2019-08-21 15:12] fgeyer16 opened #98 "patch business rules"
Business rules needs another patch

https://www.drupal.org/files/issues/2019-03-29/view-result-loop-3043752-9.patch due to this issue. https://www.drupal.org/project/business_rules/issues/3043752

As I know from other projects automatically applying wont work so we have to do it manually.
(and maybe make afterwards a patch for our selves so we will not forget that again

[2019-08-22 09:24] patrickkaleta commented on #98
@fgeyer16: Not sure, what exactly you meant by "do it manually", but I didn't want to directly edit a contributed module. **So I instead updated the mentioned patch file**. An additional `use statement` was added in the source file after the patch was originally created. And that's why the original patch couldn't be applied anymore using our [best practice](https://github.com/clarity-h2020/csis/is

[2019-08-22 09:36] patrickkaleta commented on #97
In addition, I made Yeshewa an "Editor" now. That should give her all needed permissions.

@LenaStr
By default new user accounts are deactivated (due to fake accounts that are created by bots), so they first need to be activated by an administrator. So if anyone of our partners needs an account, it would be (at least at the moment) best to send an email as well to either @fgeyer16 or me.

@fgeyer1

[2019-08-22 11:08] DanielRodera commented on #84
Hi @p-a-s-c-a-l,

I have added the tooltips for the menu items (short description) with the text proposed by @claudiahahn,

I also added a paragraph (with the official definition described above) for the Solution offers and showcases at the beginning of the view. In my opinion, these paragraphs help the users to clarify the content they are seeing. If you think is not necessary let me know and I w

[2019-08-22 11:09] DenoBeno commented on #93
No, I didn't remove anything. At least not from the groups as they are today. I also didn't change anything in the "old" way of adding groups as far as I can remember, but I can double-check.

I'm trying to make the new adding of a group work, but everything I do is limited to a group 17 and only done on group updates. And it doesn't work yet, sorry.

[2019-08-22 11:11] patrickkaleta commented on #68
EEA city name now available in the $entityinfo as `eea_city_name`.

[2019-08-22 11:12] DenoBeno commented on #93
FYI: i asked which fields we need just to know which ones to have pre-filled in the templates. I haven't changed the data model of GL-step

[2019-08-22 11:43] patrickkaleta commented on #95
Business_rules has been updated to beta8.
Closing this issue now even though this update didn't fix the problem mentioned above. Discussion on that problem continues in #90.

[2019-08-22 11:43] #95 closed, assigned to fgeyer16

[2019-08-22 11:46] patrickkaleta commented on #83
The "Create a new Study" button is **currently only visible to administrators** and until #90 is fully resolved, I wouldn't change that. In the end I guess every authenticated user (so everyone who has an account) should be able to create a new Study.

[2019-08-22 11:50] patrickkaleta commented on #94
Yes, for the GL-Step entity that's the case, since we are using **"Name"** as the label for the `title` field. (This can be set/changed [here](https://csis.myclimateservice.eu/admin/structure/types/manage/gl_step)).

[2019-08-22 14:26] DenoBeno commented on #98
I looked into the code & patch for a while now. This is what the patch should result in:

        if ($entity->uuid->getValue() !== $saved_uuid) {
          $key_value->set($uuid, $uuid);
		  if ($entity->isNew()){
            $entity->save();
          } else {
            $uuid_service = \Drupal::service('uuid');
            $uuid_new = $uuid_service->generate();
            if(Uuid::isValid($uu

[2019-08-22 14:29] fgeyer16 commented on #98
With do it manually I meant find the lines in question in a text editor and change them there. So yes this is direct editing a contributed module. For a patch with only 2 changes like this I would say this is save. the patch commend does nothing else.

I checked the file on the csis and it seems the patch was not applied. Added the changes directly now.

[2019-08-22 14:39] DenoBeno commented on #98
OK, something has definitely changed now. We get two new nodes on the server (good), but only one gets linked to  the group (bad).

[2019-08-22 14:44] DenoBeno commented on #98
OK, I'm closing this. Issues with assigning to the group are of a different nature.

[2019-08-22 14:44] #98 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-08-22 14:59] DenoBeno commented on #98
Oh, btw - could someone submit a new patch to https://www.drupal.org/project/business_rules/issues/3043752?

[2019-08-22 16:52] DenoBeno commented on #93
Nothing to do here at the moment. If we ever want to change the data model, rules will not mind.

[2019-08-22 16:52] #93 closed, assigned to p-a-s-c-a-l, therter, DenoBeno

[2019-08-22 16:53] DenoBeno commented on #96
I am almost finished with templates, will be finalized this evening. As for the permissions, is this working now?

[2019-08-22 16:56] DenoBeno commented on #78
I don't intend to do any work on this in the near future. Closing.

Please reopen or open a new issue if there is still work to do.

[2019-08-22 16:56] #78 closed, assigned to DenoBeno, maesbri, patrickkaleta

[2019-08-22 17:07] DenoBeno commented on #16
Is the SSO working now?

[2019-08-22 17:31] DenoBeno commented on #90
Implementation is almost finished. The rules for UPDATING the study are already updated, you can start testing NOW.

Please test:

1. Add new study
2. Change study type
3. See if the GL steps are defined as they should be.

Once this is OK, I just need to change the rule for adding new study. I hav ealready described what to do here: https://csis.myclimateservice.eu/admin/config/workflow/business_

[2019-08-22 17:37] DenoBeno opened #99 "Please assign the EU-GL step templates to study types and assure that they are configured correctly"
related to https://github.com/clarity-h2020/docker-drupal/issues/39

@p-a-s-c-a-l : I need you to double check all the "default" templates and assure they are correctly assigned to the studies. Tell me if you need more templates.

FYI:

**All the currently defined templates can be easily found now [here](https://csis.myclimateservice.eu/admin/content?title=template&type=gl_step&status=All&langcode

[2019-08-22 18:06] DenoBeno commented on #97
I can't do anything about SSO, getting myself out of the loop

[2019-08-22 18:07] DenoBeno commented on #84
@DanielRodera, please fix this it's a minor issue.

[2019-08-22 18:09] DenoBeno commented on #96
I can't help with this one, getting myself out of the loop

[2019-08-22 18:12] DenoBeno commented on #16
I can't help with this, getting myself out of the loop.

[2019-08-22 18:16] DenoBeno opened #100 "Can't select new data package"
I have just tested this on https://csis.myclimateservice.eu/study/17/view/data - can't choose the data package for the study.

[2019-08-22 18:57] DenoBeno commented on #90
OK, I have simplified this.

Old "insert" rule: https://csis.myclimateservice.eu/admin/config/workflow/business_rules/creat_study_content_/edit

New insert rule: https://csis.myclimateservice.eu/admin/config/workflow/business_rules/create_study_contents/edit

![image](https://user-images.githubusercontent.com/2961790/63587481-6c12f180-c5a4-11e9-9059-ba470397f35a.png)

Old one just needs to be disa

[2019-08-22 18:59] DenoBeno opened #101 "Please test updating the study type"
Related to: https://github.com/clarity-h2020/docker-drupal/issues/91

New rules for UPDATING the study are activated, Please test:

1. Add new study (or use old one)
2. Change study type
3. See if the GL steps are defined as they should be (aligned with the study type).

[2019-08-22 19:29] DenoBeno commented on #94
This is not important anymore.

1) I am using the title to describe the template and it can be anything now.
2) Rules set the title for the steps based on the information in another template field. If we want, we can give the steps different names depending on the study type now. But we don't have to.

Seems like a good solution to me - closing.

[2019-08-22 19:29] #94 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2019-08-23 06:53] DenoBeno commented on #100
Any idea what could be causing this? Is it the new theme?

[2019-08-23 07:43] p-a-s-c-a-l commented on #101
I'm not going to test this. IMHO this functionality is not needed, moreover it introduces unnecessary complexity which we are not able to handle ATM since it binds to many resources that are urgently needed elsewhere. Therefore it should be disabled .

[2019-08-23 07:55] p-a-s-c-a-l commented on #99
ATM the MCDA App is broken, probably due to [**undocumented** format changes in the EMIKAT API](https://github.com/clarity-h2020/scenario-analysis/issues/15#issuecomment-524209258). Therefore I'm going to remove it from all Assess Risks and Impact step templates until the problem has been fixed.

Transformation of Map Component to iFrame is in progress, once completed, this will require to change

[2019-08-23 08:05] p-a-s-c-a-l commented on #99
Or maybe it's better to hide the the [Scenario Analysis Tab](https://csis.myclimateservice.eu/admin/structure/views/view/view_mode_for_gl_step/edit/page_7) completely and re-enable when the APIs have stabilised.

@patrickkaleta What would be the best option to hide `Assess Risks and Impact/Scenario Analysis`? Maybe set `Page settings/permissions` to role:administrator ?

[2019-08-23 10:06] p-a-s-c-a-l opened #102 "Cannot create new iFRames"
Cannot create new nodes of type *extended iframe*. After saving the new node the iFrame HTML is transformed from

[code]

to

[code]

Note how the `style` attribute got "destroyed"! Perhaps a problem with the new theme?

[2019-08-23 10:17] DenoBeno commented on #101
If you don't want to test it, it's fine with me. I've tested it and to the best of my knowledge it works perfectly. I just wanted to be 100% sure before enabling it for inserts.

I'm going to enable it for the study insert now and all the new studies will use it - if it turns out that this isn't working 100% perfect, please open a new ticket.

Oh, by the way: you probably consider "handling update

[2019-08-23 10:17] #101 closed, assigned to patrickkaleta

[2019-08-23 10:39] DenoBeno commented on #102
This is most probably the issue with the filters. Try usign the "full html" text type.

[2019-08-23 10:47] DenoBeno commented on #90
I have enabled the new "insert" rule. To the best of my knowledge this works as designed now, so I'm closing the issue.

If any issues are encountered, please first double-check the template definitions. If a template defines a wrong application or view, then the study will be broken.

@p-a-s-c-a-l: only one template has MCDA date defined in it, this one https://csis.myclimateservice.eu/node/938/e

[2019-08-23 10:47] #90 closed, assigned to DenoBeno, fgeyer16, patrickkaleta

[2019-08-23 10:51] DenoBeno commented on #102
You were using the full html, but you were using it with editor and the editor wasn't configured to keep these attributes. I have disabled the editor now, don't have time to play with the configuration thereof.

Anyway: whoever uses the "full html" must be knowledgable and trusted...

[2019-08-23 10:53] #102 closed, assigned to bullz, DenoBeno, fgeyer16, patrickkaleta

[2019-08-23 23:53] DenoBeno commented on #83
Please note that #90 has been resolved. Now we need testers.

[2019-08-26 08:53] p-a-s-c-a-l commented on #96
@LenaStr Is the problem solved? Are you able to create new Data Packages and [new Studies](https://github.com/clarity-h2020/docker-drupal/issues/83#issuecomment-524495206)?

[2019-08-26 12:27] DenoBeno commented on #99
There is a more general ticket asking for a way to hide sub-steps. I didn't look at the way they are implemented, but I suspect that they might disappear if there is nothing to show or if the system cannot show anything.

[2019-08-26 13:26] LenaStr commented on #96
Yes, I am able to create new data packages and studies now.

(Do not get any EU-GL steps in the studies I am playing with, but I guess this is something you are working on for the moment.)

/Lena

Från: Pascal Dihé [mailto:notifications@github.com]
Skickat: den 26 augusti 2019 10:54
Till: clarity-h2020/docker-drupal
Kopia: Strömbäck Lena; Mention
Ämne: Re: [clarity-h2020/docker-drupal] Need rights

[2019-08-26 13:28] p-a-s-c-a-l commented on #96
No, that should be working right now! @DenoBeno  ?
What's the study you are playing with?

[2019-08-26 13:45] DenoBeno commented on #96
Adding studies should work since Friday.

Which study type did you add?

[2019-08-26 13:52] LenaStr commented on #96
I have played with different types of studies:

This is what I get: (Mening I can only set up the basics)

Which one should I choose?

[cid:image001.png@01D55C26.3940FA50]
Från: Denis Havlik [mailto:notifications@github.com]
Skickat: den 26 augusti 2019 15:46
Till: clarity-h2020/docker-drupal
Kopia: Strömbäck Lena; Mention
Ämne: Re: [clarity-h2020/docker-drupal] Need rights for creating studies (#

[2019-08-26 14:00] DenoBeno commented on #96
Well, most of them should be producing data. You can also play with changing the study type - every time you do so, old gl-steps get deleted and new ones added.

Pascal, can you test? I'm in a car..

[2019-08-26 14:55] fgeyer16 commented on #100
I looked at this and found that the user misses easily a step because he does not see it.
We have this "use data package" button in the entity browser. This has to be clicked to confirm the selection of datapackage.
![change_datapackage1](https://user-images.githubusercontent.com/25331450/63698228-b8696600-c81e-11e9-8912-d4eb076f6ebb.png)
If we select a data package some infos about it will be sho

[2019-08-26 14:58] DenoBeno commented on #100
Indeed, I realised that later too. This button can be very easily missed.

[2019-08-26 15:24] #100 closed, assigned to fgeyer16, patrickkaleta

[2019-08-26 16:27] DenoBeno commented on #96
Ah, I see what's the issue. Will be fixed in a few minutes.

[2019-08-26 16:32] DenoBeno commented on #96
OK, fixed. At least part of the issue was that I didn't explicitly set the author of the new nodes to ds up being owned by the author of the original node. So now we have a whole lot of EU-GL step nodes that are owned by Deno...

Works now.

[2019-08-26 17:29] fgeyer16 commented on #16
Single sign on works now. To prevent confused users I removed the login link for the local login in the user menu and replaced it by a link to the cas login at profile.myclimateservices.eu. If you are already logged in at the SSO server you will be automatically logged in to the csis if you visit the home page of csis

All the **developer accounts** (people who can configure drupal)are l**ocal acc